.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #e6e6e6; /* Define a cor de fundo ao passar o mouse */
  color: inherit; /* Mantém a cor do texto */
  text-decoration: none; /* Remove sublinhado */
}
