<div class="loading-overlay-card" *ngIf="loadingMin">
  <div class="spinner-border text-primary m-1" role="status">
  </div>
</div>

<div class="card-body" style="height: 300px; overflow: auto; padding: 2px 0;">
  <div *ngIf="acordos.length > 0; else semAcordos">
  <div class="table-responsive">
    <table class="table table-sm table-hover font-size-13">
      <thead class="tabela-custom">
        <tr>
          <th scope="col">#</th>
          <th scope="col">id</th>
          <th scope="col">Valor do acordo</th>
          <th scope="col">Data do acordo</th>
          <th scope="col">Qtde parc orig</th>
          <th scope="col">Qtde parc acordo</th>
          <th scope="col">Valor entrada</th>
          <th scope="col">Valor parcela</th>
          <th scope="col">Vencimento primaira parcela</th>
          <th scope="col">% Pagamento</th>
          <th scope="col">Status</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let acordo of acordos">
          <td><input
            type="checkbox"
            (change)="toggleSelecao(acordo.id_acordo, $event.target.checked)"
          /></td>
          <td> {{ acordo.id_acordo }} </td>
          <td> {{ acordo.valor_acordo | currency:'BRL' }} </td>
          <td> {{ data(acordo.data_acordo) }} </td>
          <td> {{ acordo.qtde_parcelas_originais }} </td>
          <td> {{ acordo.qtde_parcelas }} </td>
          <td> {{ acordo.valor_entrada | currency:'BRL' }} </td>
          <td> {{ acordo.valor_parcela | currency:'BRL' }} </td>
          <td> {{ dataBrasil(acordo.venc_primeira_parcela) }} </td>
          <td> {{ acordo.percem_pago }}% </td>
          <td>
            <div class="badge font-size-10"
            [ngClass]="{
                  'bg-success-subtle text-success': acordo.status === 'A',
                  'bg-danger-subtle text-danger': acordo.status === 'C'}">
                  {{ status(acordo.status) }}
            </div>
          </td>
          <td>
            <div class="dropdown float-end" ngbDropdown>
              <a href="javascript: void(0);" class="dropdown-toggle arrow-none card-drop" ngbDropdownToggle data-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-dots-vertical"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                <a href="javascript:void(0);" class="dropdown-item" (click)="gerarConfissaoDivida()">Confissão Divida</a>
                <a href="javascript:void(0);" class="dropdown-item">Quebra Acordo</a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  <ng-template #semAcordos>
    <p class="text-center">Nenhum acordo cadastrado.</p>
  </ng-template>

</div>


