.editable-field {
  border: 1px solid #ccc;
  padding: 0px 8px;
  min-width: 100px;
  display: inline-block;
  font-size: 11px;
  border-radius: 4px;
}

.form-control-pad {
  padding-left: 2px;
  padding-right: 2px;
}
