<div class="row brder">
  <div class="col-md-5"><strong>Credor:</strong> <span> {{ detalhamentoSelecionado?.credor }}</span></div>
</div>

<div class="row pt-1 brder">
  <div class="col-md-4"><b>Nome:</b> {{ detalhamentoSelecionado?.nome }}</div>
  <div class="col-md-4"><b>CPF:</b> {{ formatarCPF(detalhamentoSelecionado?.cpf) }}</div>
  <div class="col-md-4"><b>RG:</b> {{ formatarCPF(detalhamentoSelecionado?.rg) }}</div>
</div>
<div class="row pt-1 brder">
  <div class="col-md-6"><b>Rua: </b> {{ detalhamentoSelecionado?.endereco }}</div>
  <div class="col-md-2"><b>Número: </b> {{ detalhamentoSelecionado?.numero }}</div>
  <div class="col-md-4"><b>Complemento: </b> {{ detalhamentoSelecionado?.complemento }}</div>
</div>
<div class="row pt-1 brder">
  <div class="col-md-4"><b>Bairro: </b> {{ detalhamentoSelecionado?.bairro }}</div>
  <div class="col-md-4"><b>Cidade:</b> {{ detalhamentoSelecionado?.cidade }}</div>
  <div class="col-md-4"><b>Uf: </b> {{ detalhamentoSelecionado?.uf }}</div>
</div>

<div class="d-flex justify-content-end">
  <div  style="font-size: 11px;">
    <div class="btn-group" role="group" ngbDropdown>
      <button id="btnGroupVerticalDrop1" type="button" class="btn btn-success btn-sm dropdown-toggle" ngbDropdownToggle style="margin-top: 6px;">
        <i class="fas fa-calculator"></i> Ações <i class="mdi mdi-chevron-down"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1" ngbDropdownMenu>
        <a class="dropdown-item" href="javascript: void(0);" (click)="simularNegociacao()"><i class="fas fa-calculator"></i> Simulador</a>
        <a class="dropdown-item" href="javascript: void(0);" (click)="retiradas()"><i class="fas fa-exclamation-triangle" style="color: #ec0b0b;"></i> Retirada</a>
      </div>
    </div>
  </div>
</div>

<div class="row pt-1 brder">
  <div class="col-md-4">
    <label for="filtro" style="margin-right: 2px;">Filtrar por: </label>
    <select id="filtro" [(ngModel)]="filtroSelecionado" (change)="filtrarTitulos()">
      <option value="todos">Todos</option>
      <option value="acordo">Acordo</option>
      <option value="semAcordo">Sem Acordo</option>
    </select>
  </div>
</div>

<div class="table-responsive font-size-12" style="margin-top: 10px; max-height: 300px; overflow-y: auto;">
    <table class="table table-sm table-hover">
      <thead class="tabela-custom table-td-scroll" style="position: sticky; top: 0; z-index: 1;">
        <tr>
          <th><input type="checkbox" (change)="marcaTodos($event)" [checked]="selecionarTodos"></th>
          <th>Parcela</th>
          <th>Plano</th>
          <th>Contrato</th>
          <th>Vencimento</th>
          <th>Produto</th>
          <th>Atraso</th>
          <th>Valor</th>
          <th>Juros</th>
          <th>Multa</th>
          <th>Taxa</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prestacao of titulosFiltrados">
          <td>
            <input type="checkbox" [(ngModel)]="prestacao.selecionado" (change)="verificarSelecao()">
          </td>
          <td>{{ prestacao.parcela }}</td>
          <td>{{ prestacao.plano }}</td>
          <td>{{ prestacao.numero_contrato }}</td>
          <td>{{ dataBrasil(prestacao.vencimento) }}</td>
          <td>{{ prestacao.produto }}</td>
          <td>{{ prestacao.atraso }}</td>
          <td>{{ prestacao.valor | currency:'BRL' }}</td>
          <td>{{ prestacao.valor_juros | currency:'BRL' }}</td>
          <td>{{ prestacao.valor_multa | currency:'BRL' }}</td>
          <td>{{ prestacao.valor_taxa | currency:'BRL' }}</td>
          <td>{{ prestacao.saldo_devedor | currency:'BRL' }}</td>
          <!-- <td>{{ calcularTotalAtualizado(prestacao) | currency:'BRL' }}</td> -->
        <tr class="tabela-custom">
          <td colspan="7" style="text-align: end;"><strong>Total:</strong></td>
          <td><strong>{{ calcularTotal('valor') | currency:'BRL' }}</strong></td>
          <td><strong>{{ calcularTotal('valor_juros') | currency:'BRL' }}</strong></td>
          <td><strong>{{ calcularTotal('valor_multa') | currency:'BRL' }}</strong></td>
          <td><strong>{{ calcularTotal('valor_taxa') | currency:'BRL' }}</strong></td>
          <td><strong>{{ calcularTotal('saldo_devedor') | currency:'BRL' }}</strong></td>
          <!-- <td><strong>{{ calcularTotal('valorTotalAtualizado') | currency:'BRL' }}</strong></td> -->
        </tr>
      </tbody>
    </table>
</div>
          <app-simulador-padrao
              [idCliente]="idCliente"
              [idContratante]="idContratante"
              [numeroContrato]="obterPrimeiroContratoSelecionado()"
              [numeroDocumento]="numeroDocumento"
              (clienteAtualizado)="atualizarDetalhamento()">
          </app-simulador-padrao>
