<div class="loading-overlay-card" *ngIf="loadingMin">
  <div class="spinner-border text-primary m-1" role="status">
  </div>
</div>

<div class="row brder">
  <div class="col-md-5 detalhamento-texto">Credor: <strong><span>{{ detalhamentoSelecionado?.credor }}</span></strong></div>
</div>

<div class="row pt-1 brder">
  <div class="col-md-4 detalhamento-texto">Nome:
    <strong>
      <span style="cursor: pointer" [ngbTooltip]="'Clique para copiar o nome'" placement="top" container="body"
        (click)="copiarParaAreasTransferencia(detalhamentoSelecionado?.nome)">
        {{ detalhamentoSelecionado?.nome }}
      </span>
    </strong>
  </div>
  <div class="col-md-4 detalhamento-texto">CPF/CNPJ:
    <strong>
      <span style="cursor: pointer" [ngbTooltip]="'Clique para copiar o CPF'" placement="top" container="body"
        (click)="copiarParaAreasTransferencia(detalhamentoSelecionado?.cpf)">
        {{ formatarCPF(detalhamentoSelecionado?.cpf) }} - {{ tipoPessoa(detalhamentoSelecionado?.cpf) }}
      </span>
    </strong>
  </div>
  <div class="col-md-4 detalhamento-texto">RG: <strong>
      {{ formatarCPF(detalhamentoSelecionado?.rg) }}
    </strong>
  </div>
</div>
<div class="row pt-1 brder">
  <div class="col-md-4 detalhamento-texto">Rua: <strong> {{ formatarIniciais(detalhamentoSelecionado?.endereco) }} </strong></div>
  <div class="col-md-4 detalhamento-texto">Número: <strong> {{ detalhamentoSelecionado?.numero }}</strong></div>
  <div class="col-md-4 detalhamento-texto">Complemento: <strong> {{ formatarIniciais(detalhamentoSelecionado?.complemento) }}</strong></div>
</div>
<div class="row pt-1 brder">
  <div class="col-md-3 detalhamento-texto">Bairro: <strong> {{ formatarIniciais(detalhamentoSelecionado?.bairro) }}</strong></div>
  <div class="col-md-3 detalhamento-texto">Cidade: <strong> {{ formatarIniciais(detalhamentoSelecionado?.cidade) }} - {{ detalhamentoSelecionado?.uf }}</strong></div>
  <div class="col-md-6 detalhamento-texto">
    <span style="cursor: pointer" [ngbTooltip]="'Atualizar situação'" placement="top" container="body"
      (click)="abriModalSituacao()">Situação: </span>
    <strong>
    {{ formatarIniciais(detalhamentoSelecionado?.situacao) }}
    </strong>
  </div>
</div>

<div class="d-flex justify-content-between align-items-center" style="margin-top: 10px;">
  <!-- Filtro à esquerda -->
  <div class="d-flex align-items-center">
    <label for="filtro" class="me-2" style="margin-top: 8px;">Filtrar:</label>
    <select id="filtro" class="form-select form-select-sm" [(ngModel)]="filtroSelecionado" (change)="filtrarTitulos()">
      <option value="todos">Todos</option>
      <option value="acordo">Acordo</option>
      <option value="semAcordo">Sem Acordo</option>
    </select>
  </div>

  <!-- Botão de ações à direita -->
  <div class="d-flex align-items-center">
    <div class="btn-group" role="group" ngbDropdown>
      <button id="btnGroupVerticalDrop1" type="button" class="btn btn-success btn-sm dropdown-toggle" ngbDropdownToggle>
        <i class="fas fa-calculator"></i> Ações <i class="mdi mdi-chevron-down"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1" ngbDropdownMenu>
        <a class="dropdown-item" href="javascript: void(0);" (click)="abriModalTitulo(tituloModal)">
          <i class="fas fa-list"></i> Cadastrar Titulo
        </a>
        <a class="dropdown-item" href="javascript: void(0);" (click)="simularNegociacao()">
          <i class="fas fa-calculator"></i> Simulador
        </a>
        <a class="dropdown-item" href="javascript: void(0);" (click)="retiradas()">
          <i class="fas fa-exclamation-triangle" style="color: #ec0b0b;"></i> Retirada
        </a>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive font-size-12" style="margin-top: 5px; max-height: 300px; overflow-y: auto;">
  <table class="table table-sm table-hover">
    <thead class="tabela-custom table-td-scroll" style="position: sticky; top: 0; z-index: 1;">
      <tr>
        <th><input type="checkbox" (change)="marcaTodos($event)" [checked]="selecionarTodos"></th>
        <th>Parcela</th>
        <th>Plano</th>
        <th>Contrato</th>
        <th>Vencimento</th>
        <th>Produto</th>
        <th>Atraso</th>
        <th>Valor</th>
        <th>Juros</th>
        <th>Multa</th>
        <th>Indice</th>
        <th>Taxa</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody *ngIf="titulosFiltrados.length > 0; else semDado">
      <tr *ngFor="let prestacao of titulosFiltrados">
        <td>
          <input type="checkbox" [(ngModel)]="prestacao.selecionado" (change)="verificarSelecao()">
        </td>
        <td>{{ prestacao.parcela }}</td>
        <td>{{ prestacao.plano }}</td>
        <td>{{ prestacao.numero_contrato }}</td>
        <td>{{ prestacao.vencimento | dataBr }}</td>
        <td>{{ prestacao.produto }}</td>
        <td>{{ prestacao.atraso }}</td>
        <td>{{ prestacao.valor | currency:'BRL' }}</td>
        <td>{{ prestacao.valor_juros | currency:'BRL' }}</td>
        <td>{{ prestacao.valor_multa | currency:'BRL' }}</td>
        <td>{{ prestacao.valor_indice | currency:'BRL' }}</td>
        <td>{{ prestacao.valor_taxa | currency:'BRL' }}</td>
        <td>{{ prestacao.saldo_devedor | currency:'BRL' }}</td>
        <!-- <td>{{ calcularTotalAtualizado(prestacao) | currency:'BRL' }}</td> -->
      <tr class="tabela-custom">
        <td colspan="3" style="text-align: end;"><strong>Qtde Títulos:</strong> {{ calcularQuantidadeTitulos() }}</td>
        <td colspan="4" style="text-align: end;"><strong>Total:</strong></td>
        <td><strong>{{ calcularTotal('valor') | currency:'BRL' }}</strong></td>
        <td><strong>{{ calcularTotal('valor_juros') | currency:'BRL' }}</strong></td>
        <td><strong>{{ calcularTotal('valor_multa') | currency:'BRL' }}</strong></td>
        <td><strong>{{ calcularTotal('valor_indice') | currency:'BRL' }}</strong></td>
        <td><strong>{{ calcularTotal('valor_taxa') | currency:'BRL' }}</strong></td>
        <td><strong>{{ calcularTotal('saldo_devedor') | currency:'BRL' }}</strong></td>
        <!-- <td><strong>{{ calcularTotal('valorTotalAtualizado') | currency:'BRL' }}</strong></td> -->
      </tr>
    </tbody>
  </table>
  <ng-template #semDado>
    <tbody>
      <tr>
        <td colspan="13" class="text-center">Nenhum dado para exibir.</td>
      </tr>
    </tbody>
  </ng-template>
</div>

<app-simulador-padrao
    [idCliente]="idCliente"
    [idContratante]="idContratante"
    [numeroContrato]="obterPrimeiroContratoSelecionado()"
    [numeroDocumento]="numeroDocumento"
    (clienteAtualizado)="atualizarDetalhamento()">
</app-simulador-padrao>

<app-modal-situacao
    [idCliente]="idCliente"
    [clienteSituacao]="detalhamentoSelecionado?.situacao"
    (clienteAtualizado)="atualizarDetalhamento()">
</app-modal-situacao>

<ng-template #tituloModal let-modal>
  <div class="modal-header modal-header-custom" style="background: #1cbb8c;">
    <h6 class="modal-title" style="color: #ffffff"><i class="fas fa-list"></i> Cadastrar Titulo </h6>
    <button type="button" class="btn-close btn-close-white btn-close-small" aria-label="Close"
      (click)="fechar()"></button>

    <div class="loading-overlay-card" *ngIf="loadingMin">
      <div class="spinner-border text-primary m-1" role="status">
      </div>
    </div>

  </div>
  <div class="modal-body modal-padding">
    <form [formGroup]="formTitulo">
      <div class="row">
        <div class="col-md-3 form-group">
          <label for="tipo_titulo" class="form-label">Tipo de Título</label>
          <select type="text" class="form-control form-control-pad form-control-sm" formControlName="tipo_titulo"
            id="tipo_titulo" name="tipo_titulo"
            [ngClass]="{'is-invalid': formTitulo.get('tipo_titulo').invalid && formTitulo.get('tipo_titulo').touched}">
            <option value="">Selecione</option>
            <option *ngFor="let tipo of tipoTitulo" [value]="tipo.id_tipo_titulo">{{ tipo.tipo_titulo }}</option>
          </select>
        </div>
        <div class="col-md-2 form-group">
          <label for="parcela" class="form-label">Parcela</label>
          <input type="number" class="form-control form-control-pad form-control-sm" formControlName="parcela"
            id="parcela" name="parcela"
            [ngClass]="{'is-invalid': formTitulo.get('parcela').invalid && formTitulo.get('parcela').touched}"
            (input)="verificarValorNegativo('parcela')">
        </div>
        <div class="col-md-2 form-group">
          <label for="plano" class="form-label">Plano</label>
          <input type="number" class="form-control form-control-pad form-control-sm" formControlName="plano" id="plano"
            name="plano" [ngClass]="{'is-invalid': formTitulo.get('plano').invalid && formTitulo.get('plano').touched}"
            (input)="verificarValorNegativo('plano')">
        </div>
        <div class="col-md-5 form-group">
          <label for="numero_contrato" class="form-label">Número do Contrato</label>
          <input type="text" class="form-control form-control-pad form-control-sm" formControlName="numero_contrato"
            id="numero_contrato" name="numero_contrato"
            [ngClass]="{'is-invalid': formTitulo.get('numero_contrato').invalid && formTitulo.get('numero_contrato').touched}">
        </div>
        <div class="col-md-4 form-group">
          <label for="numero_documento" class="form-label">Número do Documento</label>
          <input type="text" class="form-control form-control-pad form-control-sm" formControlName="numero_documento"
            id="numero_documento" name="numero_documento"
            [ngClass]="{'is-invalid': formTitulo.get('numero_documento').invalid && formTitulo.get('numero_documento').touched}">
        </div>
        <div class="col-md-3 form-group">
          <label for="produto" class="form-label">Produto</label>
          <input type="text" class="form-control form-control-pad form-control-sm" formControlName="produto"
            id="produto" name="produto"
            [ngClass]="{'is-invalid': formTitulo.get('produto').invalid && formTitulo.get('produto').touched}">
        </div>
        <div class="col-md-3 form-group">
          <label for="vencimento" class="form-label">Vencimento</label>
          <input type="date" class="form-control form-control-pad form-control-sm" formControlName="vencimento"
            id="vencimento" name="vencimento"
            [ngClass]="{'is-invalid': formTitulo.get('vencimento').invalid && formTitulo.get('vencimento').touched}">
        </div>
        <div class="col-md-2 form-group">
          <label for="valor" class="form-label">Valor</label>
          <input type="number" class="form-control form-control-pad form-control-sm" formControlName="valor" id="valor"
            name="valor" [ngClass]="{'is-invalid': formTitulo.get('valor').invalid && formTitulo.get('valor').touched}"
            (input)="verificarValorNegativo('valor')">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer" style="padding-top: 5px; padding-bottom: 5px;">
    <button type="button" class="btn btn-success btn-sm" (click)="cadastrarTitulo()"><i class="fas fa-save"></i>
      Salvar</button>
    <button type="button" class="btn btn-outline-secondary btn-sm" (click)="fechar()"><i class="fas fa-times"></i>
      Cancelar</button>
  </div>
</ng-template>
