.whatsapp-icon:hover {
  color: green;
  cursor: pointer;
}

.sms-icon:hover {
  color: rgb(0, 66, 128);
  cursor: pointer;
}

.at-icon:hover {
  color: rgb(98, 0, 128);
  cursor: pointer;
}

.brder {
  border-bottom: 1px ridge;
  padding: 2px;
  margin-left: 5px;
  margin-right: 5px;
}
