<div class="loading-overlay-card" *ngIf="loadingMin">
  <div class="spinner-border text-primary m-1" role="status">
  </div>
</div>

<div class="card-body" style="height: 300px; overflow: auto; padding: 2px 0;">
  <div *ngIf="enderecos.length > 0; else semEnderecos">
  <div class="table-responsive">
    <table class="table table-sm table-hover font-size-13">
      <thead class="tabela-custom">
        <tr>
          <th scope="col">endereço</th>
          <th scope="col">Nº</th>
          <th scope="col">Complemento</th>
          <th scope="col">Bairro</th>
          <th scope="col">Cep</th>
          <th scope="col">Cidade</th>
          <th scope="col">Uf</th>
          <th scope="col">Tipo</th>
          <th scope="col">Origem</th>
          <th scope="col">Situação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let endereco of enderecos">
          <td> {{ endereco.endereco }} </td>
          <td> {{ endereco.numero }} </td>
          <td> {{ endereco.complemento }} </td>
          <td> {{ endereco.bairro }} </td>
          <td> {{ mascararCep(endereco.cep) }} </td>
          <td> {{ endereco.cidade }} </td>
          <td> {{ endereco.uf }} </td>
          <td> {{ endereco.tipo }} </td>
          <td> {{ endereco.origem }} </td>
          <td> {{ endereco.situacao }} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #semEnderecos>
  <p class="text-center">Nenhum endereço cadastrado.</p>
</ng-template>
</div>



