<div class="loading-overlay-card" *ngIf="loadingMin">
  <div class="spinner-border text-primary m-1" role="status">
  </div>
</div>

<div class="card-body" style="height: 300px; overflow: auto; padding: 2px 0;">
  <div class="mb-1 text-start">
    <button class="btn btn-success btn-sm" (click)="abriModalTelefone(modalGenerico)" style="padding-top: 0px; padding-bottom: 0px; padding-right: 5px; padding-left: 5px;">
      <i class="fas fa-plus fa-sm"></i>
      <strong> Cadastrar endereço</strong>
    </button>
  </div>
  <div *ngIf="enderecos.length > 0; else semEnderecos">
    <div class="table-responsive" style="margin-top: 10px; max-height: 400px; overflow-y: auto;">
      <table class="table table-sm table-hover font-size-12 tabelaOrdenada">
        <thead class="tabela-custom table-td-scroll" style="position: sticky; top: 0; z-index: 1;">
        <tr>
          <th scope="col">endereço</th>
          <th scope="col">Nº</th>
          <th scope="col">Complemento</th>
          <th scope="col">Bairro</th>
          <th scope="col">Cep</th>
          <th scope="col">Cidade</th>
          <th scope="col">Uf</th>
          <th scope="col">Tipo</th>
          <th scope="col">Origem</th>
          <th scope="col">Situação</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let endereco of enderecos">
          <td> {{ endereco.endereco }} </td>
          <td> {{ endereco.numero }} </td>
          <td> {{ endereco.complemento }} </td>
          <td> {{ endereco.bairro }} </td>
          <td> {{ mascararCep(endereco.cep) }} </td>
          <td> {{ endereco.cidade }} </td>
          <td> {{ endereco.uf }} </td>
          <td> {{ endereco.tipo }} </td>
          <td> {{ endereco.origem }} </td>
          <td> {{ endereco.situacao }} </td>
          <td>
            <a href="javascript:void(0);" class="me-3 text-primary" ngbTooltip="Editar"><i class="mdi mdi-pencil font-size-18" (click)="abriModalEditar(modalGenerico, endereco)"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #semEnderecos>
  <p class="text-center">Nenhum endereço cadastrado.</p>
</ng-template>
</div>

<ng-template #modalGenerico let-modal>
  <div class="loading-overlay-card" *ngIf="loadingMin">
    <div class="spinner-border text-primary m-1" role="status">
    </div>
  </div>

  <div class="modal-header modal-header-custom" [ngStyle]="{'background': editar ? '#5664d2' : '#1cbb8c'}">
    <h6 class="modal-title" style="color: #ffffff"><i class="fab fa-whatsapp"></i>  {{ editar ? 'Editar Endereço' : 'Cadastrar Endereço' }} </h6>
    <button type="button" class="btn-close btn-close-white btn-close-small" aria-label="Close"
      (click)="fechar()"></button>
  </div>
  <div class="modal-body modal-padding">
    <form [formGroup]="formEndereco">
      <div class="row">
        <div class="col-md-6">
          <div class="mb-1">
            <label for="fone" class="form-label">Endereço</label>
            <input type="text" id="fone" formControlName="endereco" class="form-control form-control-pad form-control-sm"
            [ngClass]="{'is-invalid': formEndereco.get('endereco').invalid && formEndereco.get('endereco').touched}">
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-1">
            <label for="fone" class="form-label">Número</label>
            <input type="text" id="fone" formControlName="numero" class="form-control form-control-pad form-control-sm">
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-1">
            <label for="fone" class="form-label">Complemento</label>
            <input type="text" id="fone" formControlName="complemento" class="form-control form-control-pad form-control-sm">
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-1">
            <label for="fone" class="form-label">Cep</label>
            <input type="text" id="fone" formControlName="cep" class="form-control form-control-pad form-control-sm">
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-1">
            <label for="fone" class="form-label">Bairro</label>
            <input type="text" id="fone" formControlName="bairro" class="form-control form-control-pad form-control-sm">
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-1">
            <label for="fone" class="form-label">Cidade</label>
            <input type="text" id="fone" formControlName="cidade" class="form-control form-control-pad form-control-sm">
          </div>
        </div>
        <div class="col-md-2">
          <div class="mb-1">
            <label for="fone" class="form-label">Uf</label>
            <select class="form-control form-control-sm mb-1" formControlName="uf"  >
              <option value="">--</option>
              <option *ngFor="let estado of estados" [value]="estado.sigla"> {{ estado.sigla }} </option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-1">
            <label for="fone" class="form-label">Tipo</label>
            <select id="tipo" formControlName="tipo" class="form-control form-control-pad form-control-sm">
              <option value="">Selecione</option>
              <option value="Principal">Principal</option>
              <option value="Residencial">Residencial</option>
              <option value="Comercial">Comercial</option>
              <option value="Endereço de correspondência">Endereço de correspondência</option>
              <option value="Outro">Outro</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-1">
            <label for="fone" class="form-label">Situação</label>
            <input type="text" id="fone" formControlName="situacao" class="form-control form-control-pad form-control-sm">
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end" style="padding-top: 5px;">
        <button type="submit" class="btn btn-sm me-1" [ngClass]="editar ? 'btn-primary' : 'btn-success'" (click)="controleBotao()">
          <i class="fas fa-save"></i> Salvar
        </button>
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="fechar()">
          <i class="fas fa-times"></i> Cancelar
        </button>
      </div>
    </form>
  </div>
</ng-template>


