<div class="loading-overlay-pagina" *ngIf="loading">
  <div class="spinner-border text-primary m-1" role="status">
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card-body" style="padding-bottom: 8px;">
        <div class="d-flex">
          <div class="flex-1 overflow-hidden">
            <div class="card">

              <div class="card-header pt-2 pb-2">
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="mb-0"><i class="fas fa-envelope me-2"></i> Email - Conta </h5>
                  </div>
                  <div class="col-md-6 text-end">
                    <button class="btn btn-success btn-sm" style="padding-top: 2px; padding-bottom: 2px;" (click)="modalCadastrar(modalGenerico)">
                      <i class="fas fa-plus"></i>
                      Cadastrar
                    </button>
                  </div>
                </div>
              </div>

              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center" style="font-size: 11px;">
                  <div style="font-size: 11px;">
                      <select id="itensPorPagina"
                              [(ngModel)]="itensPorPagina" (change)="atualizarQuantidadeExibida()"
                              style="border-radius: 0.25rem; width: 40px; height: 15px; font-size: 10px;">
                          <option [value]="item" *ngFor="let item of qtdRegistrosPorPagina" style="font-size: 10px;" >{{ item }}</option>
                      </select>
                      <label for="itensPorPagina" style="padding-left: 2px;"> Resultados por página</label>
                  </div>
                  <div style="font-size: 10px;">
                      <div class="dataTables_filter text-md-end">
                          <label class="d-inline-flex align-items-center">
                              <input type="text" class="form-control form-control-sm ms-2" style="margin-left: 2px;" placeholder="Pesquisar" [(ngModel)]="textoPesquisa" (input)="filtrar()" />
                          </label>
                      </div>
                  </div>
              </div>

              <div class="table-responsive">
                <table class="table table-sm table-hover font-size-12 tabelaOrdenada" style="margin-bottom: 8px;">
                  <thead class="tabela-custom">
                    <tr>
                      <th sortable="id_perfilemail" (sort)="ordenar($event)">Id</th>
                      <th sortable="email" (sort)="ordenar($event)">Email</th>
                      <th sortable="porta" (sort)="ordenar($event)">Porta</th>
                      <th sortable="smtp_usuario" (sort)="ordenar($event)">Usuario</th>
                      <th sortable="tipo_email" (sort)="ordenar($event)">Tipo</th>
                      <th sortable="ssl" (sort)="ordenar($event)">SSL</th>
                      <th sortable="tls" (sort)="ordenar($event)">TLS</th>
                      <th sortable="data_cadastro" (sort)="ordenar($event)">Data Cadastro</th>
                      <th class="text-end">Ações</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="dadosFiltrados.length > 0; else sem">
                    <tr *ngFor="let dado of dadosFiltrados | paginate: { itemsPerPage: itensPorPagina, currentPage: paginaAtual }">
                      <td>{{ dado.id_perfilemail }}</td>
                      <td>{{ dado.email }}</td>
                      <td>{{ dado.porta }}</td>
                      <td>{{ dado.smtp_usuario }}</td>
                      <td>{{ dado.tipo_email }}</td>
                      <td>{{ dado.ssl === 'S' ? 'Sim' : 'Não' }}</td>
                      <td>{{ dado.tls === 'S' ? 'Sim' : 'Não' }}</td>
                      <td>{{ data(dado.data_cadastro) }}</td>
                      <td class="text-end">
                        <a href="javascript:void(0);" class="me-2 text-primary" ngbTooltip="Editar"><i class="mdi mdi-pencil font-size-18"
                          (click)="modalEditar(modalGenerico, dado)"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <ng-template #sem>
                  <tbody>
                    <tr>
                      <td colspan="9" class="text-center">Nenhum dado para exibir.</td>
                    </tr>
                  </tbody>
                </ng-template>
              </div>
              <div class="d-flex justify-content-between align-items-center text-small">
                <div>
                  Mostrando de {{ (paginaAtual - 1) * itensPorPagina + 1 }} até
                  {{ totalRegistrosExibidos }} de {{ totalRegistros }} registros
                </div>
                <pagination-controls (pageChange)="paginaAtual = $event"
                                      previousLabel="Anterior"
                                      nextLabel="Próximo"
                                      [maxSize]="5"
                                      [autoHide]="false"
                                      [responsive]="true">
                </pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalGenerico let-modal>
  <div class="loading-overlay-card" *ngIf="loadingMin">
    <div class="spinner-border text-primary m-1" role="status">
    </div>
  </div>

  <div class="modal-header modal-header-custom" [ngStyle]="{'background': editar ? '#5664d2' : '#1cbb8c'}">
    <h6 class="modal-title" style="color: #ffffff"><i class="fas fa-envelope me-2"></i>  {{ editar ? 'Editar Email - Conta' : 'Cadastrar Email - Conta' }}
    </h6>
    <button type="button" class="btn-close btn-close-white btn-close-small" aria-label="Close"
      (click)="fechar()"></button>
  </div>
  <div class="modal-body modal-padding">
    <form [formGroup]="emailContaForm" >
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="nome_remetente" class="form-label">Remetente</label>
          <input type="text" id="empresa" class="form-control form-control-sm mb-1" formControlName="nome_remetente" placeholder="Nome"
            [ngClass]="{'is-invalid': emailContaForm.get('nome_remetente').invalid && emailContaForm.get('nome_remetente').touched}">
        </div>

        <div class="col-md-6 form-group">
          <label for="email" class="form-label">Email</label>
          <input type="text" id="host" class="form-control form-control-sm mb-1" formControlName="email" placeholder="Email"
          [ngClass]="{'is-invalid': emailContaForm.get('email').invalid && emailContaForm.get('email').touched}">
        </div>

        <div class="col-md-2 form-group">
          <label for="porta" class="form-label">Porta</label>
          <input type="text" id="usuario" class="form-control form-control-sm mb-1" formControlName="porta" placeholder="Porta"
          [ngClass]="{'is-invalid': emailContaForm.get('porta').invalid && emailContaForm.get('porta').touched}">
        </div>

        <div class="col-md-4 form-group">
          <label for="smtp_host" class="form-label">Host</label>
          <input type="text" id="smtp_host" class="form-control form-control-sm mb-1" formControlName="smtp_host" placeholder="Host"
          [ngClass]="{'is-invalid': emailContaForm.get('smtp_host').invalid && emailContaForm.get('smtp_host').touched}">
        </div>

        <div class="col-md-3 form-group">
          <label for="smtp_usuario" class="form-label">Usúario</label>
          <input type="text" id="sigla" class="form-control form-control-sm mb-1" formControlName="smtp_usuario" placeholder="Usuario"
          [ngClass]="{'is-invalid': emailContaForm.get('smtp_usuario').invalid && emailContaForm.get('smtp_usuario').touched}">
        </div>

        <div class="col-md-3 form-group">
          <label for="smtp_senha" class="form-label">Senha</label>
          <input type="password" id="senha" class="form-control form-control-sm mb-1" formControlName="smtp_senha" placeholder="Senha"
          [ngClass]="{'is-invalid': emailContaForm.get('smtp_senha').invalid && emailContaForm.get('smtp_senha').touched}">
          <i class="fas fa-eye-slash" id="iconeOlhoIcon" (click)="mostrarSenha('senha', 'iconeOlhoIcon')" style="padding-right: 5px;"></i>
        </div>

        <div class="col-md-6 form-group">
          <label for="email_retorno" class="form-label">Email Retorno</label>
          <input type="text" id="token" class="form-control form-control-sm mb-1" formControlName="email_retorno" placeholder="Email Retorno"
          [ngClass]="{'is-invalid': emailContaForm.get('email_retorno').invalid && emailContaForm.get('email_retorno').touched}">
        </div>

        <div class="col-md-6 form-group">
          <label for="email_envio" class="form-label">Email Para Envio</label>
          <input type="text" id="titulo" class="form-control form-control-sm mb-1" formControlName="email_envio" placeholder="Email Envio"
          [ngClass]="{'is-invalid': emailContaForm.get('email_envio').invalid && emailContaForm.get('email_envio').touched}">
        </div>

        <div class="col-md-3 form-group">
          <label for="gera_acionamento" class="form-label">Gerar Acionamento</label>
          <select class="form-control form-control-sm mb-1" formControlName="gera_acionamento" placeholder="Gerar Acionamento"
          [ngClass]="{'is-invalid': emailContaForm.get('gera_acionamento').invalid && emailContaForm.get('gera_acionamento').touched}">
            <option value="">Gerar Acionamento</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>

        <div class="col-md-6 form-group" style="margin-top: 5px;">
          <label class="form-label d-block">Tipo de Conexão</label>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="sslSim">SSL</label>
            <input class="form-check-input mb-1" type="radio" id="sslSim" formControlName="ssl" value="S"
                   (change)="onChangeRadio('ssl')">
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="tlsSim">TLS</label>
            <input class="form-check-input mb-1" type="radio" id="tlsSim" formControlName="tls" value="S"
                   (change)="onChangeRadio('tls')">
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-sm me-1" [ngClass]="{
                  'btn-primary': editar,
                  'btn-success': !editar
                }" (click)="controleBotao()">
        <i class="fas fa-save"></i> {{ editar ? 'Atualizar' : 'Salvar' }}
        </button>
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="fechar()">
          <i class="fas fa-times"></i> Cancelar
        </button>
      </div>
    </form>
  </div>
</ng-template>
