
<ng-template #creditosModal let-modal>
  <div class="modal-header modal-header-custom" style="margin: 0">
    <h6 class="modal-title" style="color: #000000">
      <img src="assets/images/pix.svg" style="width: 16px; height: 16px;"> Comprar Créditos
    </h6>
    <button type="button" class="btn-close btn-close-black btn-close-small" aria-label="Close" (click)="fechaModal()" style="color: #000000"></button>
  </div>

  <div class="loading-overlay-card" *ngIf="loadingMin">
    <div class="spinner-border text-primary m-1" role="status">
    </div>
  </div>

  <div class="modal-body modal-padding" style="padding-top: 2px;">
    <form [formGroup]="formCreditos">
      <div class="row mb-2">
        <div class="col">
          <label for="tipoCredito" class="form-label">Tipo de Crédito</label>
          <select id="tipoCredito" class="form-control form-control-sm" formControlName="servico">
            <option value="">Selecione</option>
            <option value="facilitador">Crédito Facilitador</option>
            <option value="mensalidade">Mensalidade</option>
          </select>
        </div>

        <div class="col">
          <label for="valorCredito" class="form-label">Valor</label>
          <select id="valorCredito" class="form-control form-control-sm" formControlName="valor">
            <option value="">Selecione</option>
            <option value="5.00">R$5,00</option>
            <option value="10.00">R$10,00</option>
            <option value="15.00">R$15,00</option>
          </select>
        </div>
      </div>

      <div *ngIf="mostraQrCode">
        <div class="mb-0">
          <label for="qrCode" class="form-label">QR Code</label>
          <div class="row">
            <div class="col-6 text-center">
              <div id="qrCode" class="border p-3">
                <img [src]="dadosPixGerado?.urlImagemQrCode" alt="QR Code" class="img-fluid" style="width: 120px;">
              </div>
            </div>
            <div class="col-6 text-center">
              <div id="qrCode" class="border p-3">
                <img src="assets/images/pagseguro.png" alt="QR Code" class="img-fluid" style="width: 150px;">
              </div>
            </div>
          </div>
        </div>

        <div class="mb-1">
          <label for="pixCopiaCola" class="form-label" style="display: inline-flex; align-items: center;">
            Pix Copia e Cola
            <button class="btn btn-outline-secondary btn-sm"
                (click)="copiarParaAreasTransferencia(dadosPixGerado?.pixCopiaECola)"
                [ngbTooltip]="'Copiar código Pix'" placement="top"
                style="border: 0; padding: 0; width: 20px; height: 20px; display: flex; align-items: center; justify-content: center; margin-left: 5px;">
              <i class="fas fa-copy" style="font-size: 12px;"></i>
            </button>
          </label>
          <div class="d-flex align-items-center">
            <span id="pixCopiaCola" class="me-2"
                  style="flex-grow: 1;
                         white-space: normal;
                         font-size: 8px;
                         max-width: 100%;
                         word-wrap: break-word;
                         overflow-wrap: break-word;">
              {{ dadosPixGerado?.pixCopiaECola }}
            </span>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-light btn-sm" (click)="botaoHistorico()" style="padding: 1px 5px; font-size: 12px;">
          <i class="fas fa-history" style="font-size: 10px;"></i> Histórico
        </button>
        <div class="d-flex">
          <button type="button" class="btn btn-success btn-sm me-1" (click)="comprarCreditos()" [disabled]="!this.formCreditos.valid" *ngIf="desabilitarBotaoPix">
            <i class="fas fa-check-circle"></i> Solicitar
          </button>
          <button type="button" class="btn btn-outline-secondary btn-sm" (click)="fechaModal()" *ngIf="ocultarBotaoCredito">
            <i class="fas fa-times"></i> Fechar
          </button>
        </div>
      </div>
    </form>

  <div style="padding-top: 2px;" *ngIf="historico">
    <hr style="margin-top: 10px; margin-bottom: 5px;">
    <form [formGroup]="historicoForm">
      <div class="row">
        <div class="col-md-12">
            <h6 style="text-align: center; font-weight: bold;">Periodo de Consulta</h6>
            <div class="row">
              <div class="col-md-6">
                <input type="date" class="form-control form-control-sm" formControlName="data_inicio" appDataMes="inicio">
              </div>
              <div class="col-md-6">
                <input type="date" class="form-control form-control-sm" formControlName="data_fim" appDataMes="fim">
              </div>
            </div>
        </div>
      </div>
    </form>

    <div class="table-responsive font-size-12" style="margin-top: 10px; max-height: 300px; overflow-y: auto;">
      <table class="table table-sm table-hover">
        <thead class="tabela-custom table-td-scroll" style="position: sticky; top: 0; z-index: 1;">
          <tr>
            <th>Data</th>
            <th>Valor</th>
            <th>Status</th>
            <th class="text-end">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of retornoHistorico">
            <td> {{ item.data_local | dataHoraBrasileira }} </td>
            <td>{{ item.valor | currency: 'BRL' }}</td>
            <td>
              <div class="badge font-size-10"
                [ngClass]="{
                      'bg-success-subtle text-success': item.situacao === 'CONCLUIDA',
                      'bg-danger-subtle text-danger': item.situacao === 'EXPIRADO',
                      'bg-warning-subtle text-warning':item.situacao === 'ATIVA'}">
                      {{item.situacao}}
                </div>
            <td class="text-end">
              <a href="javascript:void(0);" class="me-3 text-primary" ngbTooltip="Visualizar QrCode"
              (click)="atualizarDadosPix(item.pixcopiacola, item.imgpix)"><i class="fas fa-qrcode"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-end">
      <div class="d-flex">
        <button type="button" class="btn btn-light btn-sm me-1" (click)="obterHistorico()" [disabled]="!this.historicoForm.valid">
          <i class="fas fa-check-circle"></i> Consultar Histórico
        </button>

        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="fechaModal()">
          <i class="fas fa-times"></i> Fechar
        </button>
      </div>
    </div>
  </div>
</div>
</ng-template>
