<div class="loading-overlay-card" *ngIf="loadingMin">
  <div class="spinner-border text-primary m-1" role="status">
  </div>
</div>

<div class="card-body" style="padding: 2px 0;">
  <div class="table-responsive" style="margin-top: 10px; max-height: 420px; overflow-y: auto;">
    <table class="table table-sm table-hover font-size-12 tabelaOrdenada" style="white-space: nowrap;">
      <thead class="tabela-custom table-td-scroll" style="position: sticky; top: 0; z-index: 1;">
        <tr>
          <th>Id</th>
          <th>Contrato</th>
          <th>Vencimento</th>
          <th>Pagamento</th>
          <th>Tipo</th>
          <th>Id Recibo</th>
          <th>Valor</th>
          <th>Multa</th>
          <th>Juros</th>
          <th>Taxa</th>
          <th>Desc. Principal</th>
          <th>Desc. Multa</th>
          <th>Desc. Juros</th>
          <th>Desc. Taxa</th>
          <th>Valor Adicional</th>
          <th>Valor Indice</th>
          <th>Valor Pago</th>
          <th>Usuário</th>
        </tr>
      </thead>
      <tbody *ngIf="tituloPgRet.length > 0; else semPg">
        <tr *ngFor="let titulo of tituloPgRet">
          <td>{{ titulo.id_titulo }}</td>
          <td>{{ titulo.numero_contrato }}</td>
          <td>{{ titulo.vencimento | dataBr }}</td>
          <td>{{ titulo.pagamento | dataHoraBrasileira }}</td>
          <td>
            <div class="badge font-size-10" [ngClass]="{
                    'bg-success-subtle text-success': titulo.tipo_baixa === 'P',
                    'bg-danger-subtle text-danger': titulo.tipo_baixa === 'R',
                    'bg-warning-subtle text-warning':titulo.tipo_baixa === 'A'}">
              {{ tipo(titulo.tipo_baixa) }}
            </div>
          </td>
          <td>{{ titulo.id_recibo }}</td>
          <td>{{ titulo.valor | currency: 'BRL' }}</td>
          <td>{{ titulo.valor_multa | currency: 'BRL' }}</td>
          <td>{{ titulo.valor_juros | currency: 'BRL' }}</td>
          <td>{{ titulo.valor_taxa | currency: 'BRL' }}</td>
          <td>{{ titulo.desc_principal | currency: 'BRL' }}</td>
          <td>{{ titulo.desc_multa | currency: 'BRL' }}</td>
          <td>{{ titulo.desc_juros | currency: 'BRL' }}</td>
          <td>{{ titulo.desc_taxa | currency: 'BRL' }}</td>
          <td>{{ titulo.valor_adicional | currency: 'BRL' }}</td>
          <td>{{ titulo.valor_indice | currency: 'BRL' }}</td>
          <td>{{ titulo.valor_pago | currency: 'BRL' }}</td>
          <td>{{ titulo.user_baixa }}</td>
        </tr>
      </tbody>
      <ng-template #semPg>
        <tbody>
          <tr>
            <td colspan="15" class="text-center">Nenhum dado para exibir.</td>
          </tr>
        </tbody>
      </ng-template>
    </table>
  </div>
</div>
