<div class="loading-overlay-pagina" *ngIf="loading">
  <div class="spinner-border text-primary m-1" role="status">
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card-body" style="padding-bottom: 8px;">
        <div class="d-flex">
          <div class="flex-1 overflow-hidden">
            <div class="card">

              <div class="card-header pt-2 pb-2">
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="mb-0"><i class="mdi mdi-bell"></i> Perfil de Notificações </h5>
                  </div>
                  <div class="col-md-6 text-end">
                    <button class="btn btn-success btn-sm" style="padding-top: 2px; padding-bottom: 2px;" (click)="abrirModalCadastro(modalGenerico)">
                      <i class="mdi mdi-plus"></i>
                      Cadastrar
                    </button>
                  </div>
                </div>
              </div>

              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center" style="font-size: 11px;">
                  <div style="font-size: 11px;">
                      <select id="itensPorPagina"
                              [(ngModel)]="itensPorPagina" (change)="atualizarQuantidadeExibida()"
                              style="border-radius: 0.25rem; width: 40px; height: 15px; font-size: 10px;">
                          <option [value]="item" *ngFor="let item of qtdRegistrosPorPagina" style="font-size: 10px;" >{{ item }}</option>
                      </select>
                      <label for="itensPorPagina" style="padding-left: 2px;"> Resultados por página</label>
                  </div>
                  <div style="font-size: 10px;">
                      <div class="dataTables_filter text-md-end">
                          <label class="d-inline-flex align-items-center">
                              <input type="text" class="form-control form-control-sm ms-2" style="margin-left: 2px;" placeholder="Pesquisar" [(ngModel)]="textoPesquisa" (input)="filtrar()" />
                          </label>
                      </div>
                  </div>
              </div>

                <div class="table-responsive">
                  <table class="table table-sm table-hover font-size-12 tabelaOrdenada" style="margin-bottom: 8px;">
                    <thead class="tabela-custom">
                      <tr>
                        <th>Id</th>
                        <th>Sigla</th>
                        <th>Descrição</th>
                        <th>Aviso de cobrança criado</th>
                        <th>Avisar alteração de valor ou vcto</th>
                        <th>Aviso no dia do vencimento</th>
                        <th>Enviar Linha digitavel no dia do vencimento</th>
                        <th>Aviso de cobrança vencida</th>
                        <th>Reenviar cobrança a cada X dias</th>
                        <th>Notificações de envio de linha digitável</th>
                        <th>Aviso de cobrança rebedida (Pagamento realizado)</th>
                        <th class="text-end">Ações</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="dadosFiltrados.length > 0; else semDado">
                      <tr
                        *ngFor="let dados of dadosFiltrados | paginate: { itemsPerPage: itensPorPagina, currentPage: paginaAtual }">
                        <td>{{ dados.id }}</td>
                        <td>{{ dados.sigla }}</td>
                        <td>{{ dados.descricao }}</td>
                        <td>{{ dados.enabled_payment_created | simNao }}</td>
                        <td>{{ dados.enabled_payment_updated | simNao }}</td>
                        <td>{{ dados.enabled_payment_duedate_warning | simNao }}</td>
                        <td>{{ dados.enabled_payment_duedate_warning_2 | simNao }}</td>
                        <td>{{ dados.enabled_send_linha_digitavel | simNao }}</td>
                        <td>{{ dados.enabled_payment_overdue | simNao }}</td>
                        <td>{{ dados.enabled_payment_overdue_2 | simNao }}</td>
                        <td>{{ dados.enabled_payment_received | simNao }}</td>
                        <td  class="text-end">
                          <a href="javascript:void(0);" class="me-2 text-primary" ngbTooltip="Editar"><i class="mdi mdi-pencil font-size-18" (click)="editar(dados.sigla)"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <ng-template #semDado>
                    <tbody>
                      <tr>
                        <td colspan="12" class="text-center">Nenhum dado para exibir.</td>
                      </tr>
                    </tbody>
                  </ng-template>
                </div>
                <div class="d-flex justify-content-between align-items-center text-small">
                  <div>
                    Mostrando de {{ (paginaAtual - 1) * itensPorPagina + 1 }} até
                    {{ totalRegistrosExibidos }} de {{ totalRegistros }} registros
                  </div>
                  <pagination-controls (pageChange)="paginaAtual = $event"
                                        previousLabel="Anterior"
                                        nextLabel="Próximo"
                                        [maxSize]="5"
                                        [autoHide]="false"
                                        [responsive]="true">
                  </pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalGenerico let-modal>
  <div class="loading-overlay-card" *ngIf="loadingMin">
    <div class="spinner-border text-primary m-1" role="status"></div>
  </div>

  <div class="modal-header modal-header-custom" style="background: #1cbb8c">
    <h6 class="modal-title" style="color: #ffffff"><i class="mdi mdi-bell"></i> Cadastrar Perfil de Notificaçoes</h6>
    <button type="button" class="btn-close btn-close-white btn-close-small" aria-label="Close"
    (click)="fechar()"></button>
  </div>

  <div class="modal-body modal-padding">
    <form [formGroup]="formPerfilNotificacoes">
      <div class="row">
        <div class="col-md-4 form-group">
          <label for="nome" class="form-label">Sigla</label>
          <input class="form-control form-control-sm mb-1" formControlName="sigla" type="text" placeholder="Sigla" appUpcase
            [ngClass]="{'is-invalid': formPerfilNotificacoes.get('sigla').invalid && formPerfilNotificacoes.get('sigla').touched}">
        </div>
        <div class="col-md-8 form-group">
          <label for="login" class="form-label">Descrição</label>
          <input class="form-control form-control-sm mb-1" formControlName="descricao" type="text" placeholder="Descrição" appMaiuscula
            [ngClass]="{'is-invalid': formPerfilNotificacoes.get('descricao').invalid && formPerfilNotificacoes.get('descricao').touched}">
        </div>
      </div>

      <div class="d-flex justify-content-end" style="padding-top: 10px;">
        <button type="submit" class="btn btn-success btn-sm me-1" (click)="cadastrarPerfilNotificacao()">
              <i class="fas fa-save"></i> Salvar
        </button>
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="fechar()">
          <i class="fas fa-times"></i> Cancelar
        </button>
      </div>
    </form>
  </div>
</ng-template>
