.envelope-icon {
  cursor: pointer;
  font-size: 1.2em;
  color: #3195ff; /* cor azul, você pode ajustar conforme necessário */
}

.envelope-icon:hover {
  color: #0056b3; /* cor mais escura ao passar o mouse */
}
