<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card-body" style="padding-bottom: 8px;">
        <div class="d-flex">
          <div class="flex-1 overflow-hidden">
            <div class="card">

              <div class="card-header pt-2 pb-2">
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="mb-0"><i class="mdi mdi-cog"></i> Atualizar Notificações </h5>
                  </div>
                </div>
              </div>

              <div class="card-body">
                <div class="row">

                  <div class="col-md-4 form-group">
                    <label for="nome" class="form-label">Descrição</label>
                    <input type="text" id="nome" class="form-control form-control-sm"  placeholder="Nome"/>
                  </div>

                  <div class="col-md-4 form-group">
                    <label for="nome" class="form-label">Sigla</label>
                    <input type="text" id="nome" class="form-control form-control-sm"  placeholder="Nome"/>
                  </div>

                  <div class="mt-3">
                    <div class="border p-2 rounded">
                      <div class="d-flex border-bottom pb-2">
                        <div class="flex-1">
                          <div class="d-flex flex-wrap">
                            <div class="flex-1 w-50">
                              <div class="form-check mb-1">
                                <input class="form-check-input" type="checkbox" value="" id="1">
                                <label class="form-check-label" for="1">Pagamento recebido habilitado</label>
                              </div>

                              <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="2">
                                <label class="form-check-label" for="2">Email do provedor para pagamento recebido</label>
                              </div>

                              <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="3">
                                <label class="form-check-label" for="3">SMS do provedor para pagamento recebido</label>
                              </div>

                              <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="4">
                                <label class="form-check-label" for="4">Email do cliente para pagamento recebido</label>
                              </div>
                            </div>

                            <div class="flex-1 w-50">
                              <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="5">
                                <label class="form-check-label" for="5">SMS do cliente para pagamento recebido</label>
                              </div>

                              <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="6">
                                <label class="form-check-label" for="6">Chamada telefônica para cliente - pagamento recebido</label>
                              </div>

                              <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="7">
                                <label class="form-check-label" for="7">WhatsApp do cliente para pagamento recebido</label>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="d-flex border-bottom py-3">
                        <div class="flex-1">
                          <div class="d-flex flex-wrap">
                            <div class="flex-1 w-50">
                              <div class="form-check mb-1">
                                <input class="form-check-input" type="checkbox" value="" id="8">
                                <label class="form-check-label" for="8">Pagamento atrasado habilitado</label>
                              </div>

                              <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="9">
                                <label class="form-check-label" for="9">Email do provedor para pagamento atrasado</label>
                              </div>

                              <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="10">
                                <label class="form-check-label" for="10">SMS do provedor para pagamento atrasado</label>
                              </div>

                              <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="11">
                                <label class="form-check-label" for="11">Email do cliente para pagamento atrasado</label>
                              </div>
                            </div>

                            <div class="flex-1 w-50">
                              <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="12">
                                <label class="form-check-label" for="12">SMS do cliente para pagamento atrasado</label>
                              </div>

                              <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="13">
                                <label class="form-check-label" for="13">Chamada telefônica para cliente - pagamento atrasado</label>
                              </div>

                              <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="14">
                                <label class="form-check-label" for="14">WhatsApp do cliente para pagamento atrasado</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="d-flex border-bottom py-3">
                        <div class="flex-1">
                          <div class="d-flex flex-wrap">
                            <div class="flex-1 w-50">
                              <div class="form-check mb-1">
                                <input class="form-check-input" type="checkbox" value="" id="15">
                                <label class="form-check-label" for="15">Aviso de vencimento habilitado</label>
                              </div>

                              <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="16">
                                <label class="form-check-label" for="16">Email do provedor para aviso de vencimento</label>
                              </div>

                              <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="17">
                                <label class="form-check-label" for="17">SMS do provedor para aviso de vencimento</label>
                              </div>

                              <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="18">
                                <label class="form-check-label" for="18">Email do cliente para aviso de vencimento</label>
                              </div>
                            </div>

                            <div class="flex-1 w-50">
                              <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="19">
                                <label class="form-check-label" for="19">SMS do cliente para aviso de vencimento</label>
                              </div>

                              <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="20">
                                <label class="form-check-label" for="20">Chamada telefônica para cliente - aviso de vencimento</label>
                              </div>

                              <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="21">
                                <label class="form-check-label" for="21">WhatsApp do cliente para aviso de vencimento</label>
                              </div>

                              <div class="mb-2 d-flex align-items-center">
                                <label for="diasAviso" class="form-label me-2">Dias antes do aviso:</label>
                                <input type="number" class="form-control form-control-sm w-25" id="diasAviso" min="1">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="d-flex py-3">
                        <div class="flex-1">
                          <p class="text-muted mb-2">teste </p>
                          <h5 class="font-size-15 mb-3">teste</h5>


                        </div>

                      </div>
                    </div>
                  </div>


                  <div class="d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-sm btn-primary me-1" >
                      <i class="fas fa-save"></i> Atualizar
                    </button>
                    <button type="button" class="btn btn-outline-secondary btn-sm" (click)="voltar()">
                      <i class="fas fa-times"></i> Cancelar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
