<div class="loading-overlay-pagina" *ngIf="loading">
  <div class="spinner-border text-primary m-1" role="status">
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card-body" style="padding-bottom: 8px;">
        <div class="d-flex">
          <div class="flex-1 overflow-hidden">
            <div class="card">

              <div class="card-header pt-2 pb-2">
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="mb-0"><i class="fas fa-user"></i> Usuários </h5>
                  </div>
                  <div class="col-md-6 text-end">
                    <button class="btn btn-success btn-sm" (click)="abrirModalCadastro(cadastraUsuarioModal)"
                      style="padding-top: 2px; padding-bottom: 2px;">
                      <i class="fas fa-plus"></i>
                      <strong> Usuário </strong>
                    </button>
                  </div>
                </div>
              </div>

              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <div id="tickets-table_filter" class="dataTables_filter text-md-end"><label
                        class="d-inline-flex align-items-center">Pesquisar:
                        <input type="text" class="form-control form-control-sm ms-2" /></label>
                    </div>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table table-sm table-hover font-size-12">
                    <thead class="table-light">
                      <tr>
                        <th>Id</th>
                        <th>Sigla</th>
                        <th>Nome</th>
                        <th>Login</th>
                        <th>Cpf</th>
                        <th>Email</th>
                        <th>Fone</th>
                        <th>Ativo</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let usuario of usuarios | paginate: { itemsPerPage: itensPorPagina, currentPage: paginaAtual }">
                        <td>{{ usuario.id_usuario }}</td>
                        <td>{{ usuario.sigla }}</td>
                        <td>{{ usuario.nome }}</td>
                        <td>{{ usuario.login }}</td>
                        <td>{{ mascararCpfCnpj(usuario.cpf) }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>{{ mascararTelefone(usuario.fone) }}</td>
                        <td>{{ usuario.ativo === 'S' ? 'Sim' : 'Não' }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-end mt-3">
                    <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior"
                      nextLabel="Proximo" [maxSize]="5" [autoHide]="true" [responsive]="true">
                    </pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #cadastraUsuarioModal let-modal>
    <div class="loading-overlay-card" *ngIf="loadingMin">
      <div class="spinner-border text-primary m-1" role="status"></div>
    </div>

    <div class="modal-header modal-header-custom" style="background: #1cbb8c;">
      <h5 class="modal-title" style="color: #ffffff"><i class="fas fa-user-plus"></i> Cadastrar Usuário</h5>
      <button type="button" class="btn-close btn-close-white btn-close-small" aria-label="Close"
        (click)="modal.dismiss()"></button>
    </div>

    <div class="modal-body modal-padding">
      <form [formGroup]="formUsuario">
        <div class="row">
          <div class="col-md-6 form-group" style="padding-right: 3px;">
            <input class="form-control form-control-sm mb-3" formControlName="nome" type="text" placeholder="Nome"
              required (input)="convertMaisculo(formUsuario.get('nome'))">
          </div>
          <div class="col-md-3 form-group" style="padding-left: 3px;">
            <input class="form-control form-control-sm mb-3" formControlName="login" type="text" placeholder="Login"
              required (input)="convertMaisculo(formUsuario.get('login'))">
          </div>
          <div class="col-md-3 form-group" style="padding-left: 3px;">
            <input class="form-control form-control-sm mb-3" formControlName="senha" type="password" placeholder="Senha"
              required>
          </div>
          <div class="col-md-6 form-group" style="padding-right: 3px;">
            <input class="form-control form-control-sm mb-3" formControlName="cpf" type="text" placeholder="CPF"
              mask="000.000.000-00" required>
          </div>
          <div class="col-md-6 form-group" style="padding-left: 3px;">
            <input class="form-control form-control-sm mb-3" formControlName="email" type="email" placeholder="Email"
              required (input)="converterMinuscula(formUsuario.get('email'))">
          </div>
          <div class="col-md-4 form-group" style="padding-right: 3px;">
            <input class="form-control form-control-sm mb-3" formControlName="fone" type="text" placeholder="Telefone"
              mask="(00) 0000-0000" required>
          </div>
        </div>

        <div class="d-flex justify-content-end" style="padding-top: 10px;">
          <button type="submit" class="btn btn-success btn-sm me-2" (click)="cadastrarUsuario()">
            <i class="fas fa-save"></i> Salvar
          </button>
          <button type="button" class="btn btn-outline-secondary btn-sm" (click)="modal.dismiss()">
            <i class="fas fa-times"></i> Cancelar
          </button>
        </div>
      </form>
    </div>
  </ng-template>
