<div *ngIf="carregandoDados" class="text-center">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Carregando...</span>
  </div>
  <p class="mt-2 text-muted">Carregando dados...</p>
</div>

<div *ngIf="!carregandoDados" class="row">
  <div class="col-lg-6 mb-4">
    <div class="card shadow-lg border-0 rounded-3">
      <div class="card-header">
        <h5 class="mb-0"><i class="fas fa-filter resultados-icon"></i>
           Ações Realizadas por Usuário</h5>  <!-- Título alterado -->
      </div>

      <div class="card-body p-0">
        <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
          <table class="table table-sm table-hover table-bordered table-striped">
            <thead class="bg-light" style="position: sticky; top: 0; background-color: #f8f9fa; z-index: 1;">
              <tr>
                <th>Usuário</th>  <!-- Alterado para "Usuário" -->
                <th>Ação</th>
                <th>Quantidade</th>
                <th>Última Data da Ação</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dadosTabela"
              (click)="atualizarGraficoPorUsuario(item.usuario)" style="cursor: pointer">
                <td>{{ item.usuario }}</td>  <!-- Alterado para exibir o nome do usuário -->
                <td>{{ item.acao }}</td>
                <td>{{ item.quantidade }}</td>
                <td>{{ item.ultimaData | dataHoraBrasileira }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-6 mb-4">
    <div class="card shadow-lg border-0 rounded-3">
      <div class="card-header">
        <h5 class="mb-0">Quantidade de Ações por Usuário</h5>
      </div>
      <div class="card-body p-0">
        <div class="container-grafico">
          <apx-chart [series]="opcoesGrafico.series" [chart]="opcoesGrafico.chart" [xaxis]="opcoesGrafico.xaxis"
            [title]="opcoesGrafico.title"></apx-chart>
        </div>
      </div>
    </div>
  </div>
</div>
