<div class="loading-overlay-pagina" *ngIf="loading">
  <div class="d-flex flex-column align-items-center justify-content-center">
    <div class="spinner-border text-primary m-2" role="status">
      <span class="sr-only">Carregando...</span>
    </div>
    <p class="mt-2 text-muted text-center">Carregando dados...</p>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card-body" style="padding-bottom: 8px;">
        <div class="d-flex">
          <div class="flex-1 overflow-hidden">
            <div class="card">

              <div class="card-header pt-2 pb-2">
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="mb-0"><i class="fas fa-list-alt"></i> Carteira de Clientes </h5>
                  </div>
                </div>
              </div>

              <div class="card-body"  style="padding-top: 6px;">
                <ul ngbNav #nav="ngbNav" class="nav-tabs" [activeId]="ativaAba">
                  <li [ngbNavItem]="1" (click)="ativarAba()">
                    <a ngbNavLink class="link-filtros">
                      <b><i class="fas fa-filter"></i> Filtros</b>
                    </a>
                    <ng-template ngbNavContent>
                      <form [formGroup]="formCarteiraCliente">
                        <div class="row">
                          <div class="col-md-6 form-group">
                            <select class="form-control form-control-sm" formControlName="id_contratante">
                              <option value="0">Selecione o Contratante</option>
                              <option *ngFor="let contratante of contratantes" [value]="contratante.id_contratante">{{
                                contratante.fantasia }}</option>
                            </select>
                          </div>

                          <div class="col-md-2 form-group d-flex align-items-end">
                            <button type="submit" class="btn btn-secondary btn-sm w-100"
                              (click)="obterCarteiradeCliente()"><i class="fas fa-search"></i> Pesquisar
                            </button>
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-md-6">
                            <h5>Dados do Cliente</h5>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="card mb-3" style="border: 1px solid #ddd; border-radius: 5px; padding: 10px;">
                                  <h6 style="text-align: center; font-weight: bold;">Cidade</h6>
                                  <input type="text" class="form-control form-control-sm" formControlName="cidade" placeholder="Cidade">
                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="card mb-3" style="border: 1px solid #ddd; border-radius: 5px; padding: 10px;">
                                  <h6 style="text-align: center; font-weight: bold;">UF</h6>
                                  <select class="form-control form-control-sm" formControlName="uf">
                                    <option value="">--</option>
                                    <option value="AC">AC</option>
                                    <option value="AL">AL</option>
                                    <option value="AM">AM</option>
                                    <option value="AP">AP</option>
                                    <option value="BA">BA</option>
                                    <option value="CE">CE</option>
                                    <option value="DF">DF</option>
                                    <option value="ES">ES</option>
                                    <option value="GO">GO</option>
                                    <option value="MA">MA</option>
                                    <option value="MG">MG</option>
                                    <option value="MS">MS</option>
                                    <option value="MT">MT</option>
                                    <option value="PA">PA</option>
                                    <option value="PB">PB</option>
                                    <option value="PE">PE</option>
                                    <option value="PI">PI</option>
                                    <option value="PR">PR</option>
                                    <option value="RJ">RJ</option>
                                    <option value="RN">RN</option>
                                    <option value="RO">RO</option>
                                    <option value="RR">RR</option>
                                    <option value="RS">RS</option>
                                    <option value="SC">SC</option>
                                    <option value="SR">SE</option>
                                    <option value="SP">SP</option>
                                    <option value="TO">TO</option>
                                  </select>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="card mb-3" style="border: 1px solid #ddd; border-radius: 5px; padding: 10px;">
                                  <h6 style="text-align: center; font-weight: bold;">Email</h6>
                                  <select class="form-control form-control-sm" formControlName="email">
                                    <option value="">Selecione</option>
                                    <option value="S">Sim</option>
                                    <option value="N">Não</option>
                                  </select>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="card mb-3" style="border: 1px solid #ddd; border-radius: 5px; padding: 10px;">
                                  <h6 style="text-align: center; font-weight: bold;">Celular</h6>
                                  <select class="form-control form-control-sm" formControlName="celular">
                                    <option value="">Selecione</option>
                                    <option value="S">Sim</option>
                                    <option value="N">Não</option>
                                  </select>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="card mb-3" style="border: 1px solid #ddd; border-radius: 5px; padding: 10px;">
                                  <h6 style="text-align: center; font-weight: bold;">Com Fone</h6>
                                  <select class="form-control form-control-sm" formControlName="fone">
                                    <option value="">Selecione</option>
                                    <option value="S">Sim</option>
                                    <option value="N">Não</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <h5>Dados dos Títulos</h5>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="card mb-2" style="border: 1px solid #ddd; border-radius: 5px; padding: 10px;">
                                  <h6 style="text-align: center; font-weight: bold;">Periodo de Importação</h6>
                                  <div class="row">
                                    <div class="col-md-6">
                                      <input type="date" class="form-control form-control-sm" formControlName="periodo_importacao_inicial" placeholder="Inicial">
                                    </div>
                                    <div class="col-md-6">
                                      <input type="date" class="form-control form-control-sm" formControlName="periodo_importacao_final" placeholder="Final">
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="card mb-2" style="border: 1px solid #ddd; border-radius: 5px; padding: 10px;">
                                  <h6 style="text-align: center; font-weight: bold;">Dias de Atraso</h6>
                                  <div class="row">
                                    <div class="col-md-6">
                                      <input type="number" class="form-control form-control-sm" formControlName="dias_atraso_inicial" placeholder="Inicial">
                                    </div>
                                    <div class="col-md-6">
                                      <input type="number" class="form-control form-control-sm" formControlName="dias_atraso_final" placeholder="Final">
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="card mb-3" style="border: 1px solid #ddd; border-radius: 5px; padding: 10px;">
                                  <h6 style="text-align: center; font-weight: bold;">Vencimento</h6>
                                  <div class="row">
                                    <div class="col-md-6">
                                      <input type="date" class="form-control form-control-sm" formControlName="periodo_vencimento_inicial" placeholder="Inicial">
                                    </div>
                                    <div class="col-md-6">
                                      <input type="date" class="form-control form-control-sm" formControlName="periodo_vencimento_final" placeholder="Final">
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="card mb-3" style="border: 1px solid #ddd; border-radius: 5px; padding: 10px;">
                                  <h6 style="text-align: center; font-weight: bold;">Dias sem Acionamentos</h6>
                                  <div class="row">
                                    <div class="col-md-6">
                                      <input type="number" class="form-control form-control-sm" formControlName="dias_sem_acionamento_inicial" placeholder="Inicial">
                                    </div>
                                    <div class="col-md-6">
                                      <input type="number" class="form-control form-control-sm" formControlName="dias_sem_acionamento_final" placeholder="Final">
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="card mb-3" style="border: 1px solid #ddd; border-radius: 5px; padding: 10px;">
                                  <h6 style="text-align: center; font-weight: bold;">Com Fila</h6>
                                  <select class="form-control form-control-sm" formControlName="sem_fila">
                                    <option value="">Selecione</option>
                                    <option value="S">Sim</option>
                                    <option value="N">Não</option>
                                  </select>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="card mb-3" style="border: 1px solid #ddd; border-radius: 5px; padding: 10px;">
                                  <h6 style="text-align: center; font-weight: bold;">Acordo</h6>
                                  <select class="form-control form-control-sm" formControlName="com_acordo">
                                    <option value="">Selecione</option>
                                    <option value="S">Sim</option>
                                    <option value="N">Não</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </ng-template>
                  </li>
                  <li [ngbNavItem]="2">
                    <a ngbNavLink class="link-filtros">
                      <b><i class="fas fa-file-alt"></i> Resultado</b>
                    </a>
                    <ng-template ngbNavContent>
                      <section style="white-space: nowrap; overflow: auto;">
                        <div class="card-body" style="padding-top: 0; padding-bottom: 0px; padding-right: 0; padding-left: 0;">
                          <div class="d-flex justify-content-between align-items-center mt-1" style="font-size: 11px;">
                            <div class="btn-group" role="group" ngbDropdown>
                              <button id="btnGroupVerticalDrop1" type="button" class="btn btn-secondary btn-sm dropdown-toggle" ngbDropdownToggle style="margin-bottom: 6px;">
                                <i class="fas fa-file-alt"></i> Ações <i class="mdi mdi-chevron-down"></i>
                              </button>
                              <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1" ngbDropdownMenu>
                                <a class="dropdown-item" href="javascript: void(0);" (click)="abrirModalFila(filaModal)">Fila</a>
                                <a class="dropdown-item" href="javascript: void(0);">Email em lote</a>
                                <a class="dropdown-item" href="javascript: void(0);" (click)="abrirModalMsgLote(modalMsgLote)">Sms - WhatsApp em lote</a>
                                <a class="dropdown-item" href="javascript: void(0);" (click)="exportExcel()"><i class="fas fa-download"></i> Exportar para Excel</a>
                              </div>
                            </div>

                            <div style="font-size: 10px;">
                              <div class="dataTables_filter text-end">
                                <label class="d-inline-flex align-items-center">
                                  <input type="text" class="form-control form-control-sm ms-2" style="margin-left: 2px;"
                                    placeholder="Pesquisar" [(ngModel)]="textoPesquisa" (input)="filtrar()" />
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="table-responsive font-size-12" style="margin-top: 10px; max-height: 550px; overflow-y: auto;">
                            <table class="table table-sm table-hover font-size-12 tabelaOrdenada">
                              <thead class="tabela-custom table-td-scroll" style="position: sticky; top: 0; z-index: 1;">
                                <tr>
                                  <th><input type="checkbox" [checked]="totalClientesSelecionados === dadosFiltrados.length" (change)="marcaTodos($event)"></th>
                                  <th>Fantasia</th>
                                  <th>Id Cliente</th>
                                  <th>CNPJ/CPF</th>
                                  <th>Nome</th>
                                  <th>Vencimento Mais Antigo</th>
                                  <th>Dias em Atraso</th>
                                  <th>Valor Total Dívida</th>
                                  <th>Produto</th>
                                  <th>Cidade</th>
                                  <th>Uf</th>
                                  <th>Fila</th>
                                  <th>Data Último Acionamento</th>
                                  <th>Ação</th>
                                  <th>Dias Sem Acionamento</th>
                                </tr>
                              </thead>
                              <tbody *ngIf="dadosFiltrados.length > 0; else semDado">
                                <tr
                                  *ngFor="let cliente of dadosFiltrados">
                                  <td><input type="checkbox" [(ngModel)]="cliente.selecionado" (change)="verificarSelecao()"></td>
                                  <td>{{ cliente.fantasia }}</td>
                                  <td>{{ cliente.id_cliente }}</td>
                                  <td>{{ cliente.cnpj_cpf }}</td>
                                  <td>{{ cliente.nome }}</td>
                                  <td>{{ dataBrasil(cliente.vencimento_mais_antigo) }}</td>
                                  <td>{{ cliente.dias_em_atraso }}</td>
                                  <td>{{ cliente.valor_total_divida | currency: 'BRL' }}</td>
                                  <td>{{ cliente.produto }}</td>
                                  <td>{{ cliente.cidade }}</td>
                                  <td>{{ cliente.uf }}</td>
                                  <td>{{ cliente.id_fila }}</td>
                                  <td>{{ data(cliente.data_ultimo_acionamento) }}</td>
                                  <td>{{ cliente.acao }}</td>
                                  <td>{{ cliente.dias_sem_acionamento }}</td>
                                </tr>
                                <tr class="tabela-custom">
                                  <td colspan="5"><strong>Total de Clientes: {{ totalClientes }}</strong></td>
                                  <td></td>
                                  <td></td>
                                  <td>{{ valorTotal | currency:'BRL':'symbol':'1.2-2' }}</td>
                                  <td colspan="7"></td>
                                </tr>
                                <tr class="tabela-custom">
                                  <td colspan="5"><strong>Total de Clientes Selecionados: {{ totalClientesSelecionados }}</strong></td>
                                  <td></td>
                                  <td></td>
                                  <td>{{ valorTotalSelecionado | currency:'BRL':'symbol':'1.2-2' }}</td>
                                  <td colspan="7"></td>
                                </tr>
                              </tbody>
                            </table>
                            <ng-template #semDado>
                              <tbody>
                                <tr>
                                  <td colspan="15" class="text-center">Nenhum dado para exibir.</td>
                                </tr>
                              </tbody>
                            </ng-template>
                          </div>
                        </div>
                      </section>
                    </ng-template>
                  </li>
                </ul>
                <div [ngbNavOutlet]="nav" class="mt-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #filaModal let-modal>
    <div class="modal-header modal-header-custom" style="background: #6d706f;">
      <h6 class="modal-title" style="color: #ffffff"><i class="fas fa-user-plus"></i> Enviar clientes para fila! </h6>
      <button type="button" class="btn-close btn-close-white btn-close-small" aria-label="Close"
        (click)="modal.dismiss()"></button>
    </div>

    <div class="modal-body modal-padding">
      <form [formGroup]="formFila">
        <div class="row">
          <div class="col-md-12 form-group">
            <select class="form-control form-control-sm" formControlName="id_fila" (change)="selecionarFila($event.target.value)">
              <option value="">Selecione a fila</option>
              <option *ngFor="let fila of filas" [value]="fila.id_fila">{{ fila.descricao }}</option>
            </select>
          </div>
        </div>

        <div class="d-flex justify-content-end" style="padding-top: 10px;">
          <button type="submit" class="btn btn-success btn-sm me-2" (click)="enviarClienteParaFila()" [disabled]="!this.formFila.valid">
            <i class="fas fa-save"></i> Salvar
          </button>
          <button type="button" class="btn btn-outline-secondary btn-sm" (click)="modal.dismiss()">
            <i class="fas fa-times"></i> Cancelar
          </button>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #modalMsgLote let-modal>
    <div class="loading-overlay-card" *ngIf="loadingMin">
      <div class="spinner-border text-primary m-1" role="status">
      </div>
    </div>

    <div class="modal-header modal-header-custom" style="background: #5664d2;">
      <h6 class="modal-title" style="color: #ffffff">
        <i class="fas fa-comments"></i> Mensagens - SMS e WhatsApp
      </h6>
      <button type="button" class="btn-close btn-close-white btn-close-small" aria-label="Close"
        (click)="fechar()"></button>
    </div>

    <div class="modal-body modal-padding">
      <form [formGroup]="formMsgLote">
        <div class="row">
          <div class="col-md-12 form-group">
            <select class="form-control form-control-sm" formControlName="id_perfilwhatsapp">
              <option value="">Selecionar Mensagens</option>
              <option *ngFor="let item of msg" [value]="item.id_perfilwhatsapp">{{ item.titulo }}</option>
            </select>
          </div>
        </div>

        <div class="row" style="padding-top: 10px;">
          <div class="col-md-12">
            <label for="tipoEnvio" class="form-label">Selecione o tipo de envio:</label>
          </div>

          <div class="col-md-12 form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="smsCheckbox" formControlName="enviar_sms" (change)="toggleCheckbox('sms')">
              <label class="form-check-label text-custom" for="smsCheckbox">
                Enviar SMS
              </label>
            </div>
          </div>

          <div class="col-md-12 form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="whatsappCheckbox" formControlName="enviar_whatsapp" (change)="toggleCheckbox('whatsapp')">
              <label class="form-check-label text-custom" for="whatsappCheckbox">
                Enviar WhatsApp
              </label>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-end" style="padding-top: 10px;">
          <button type="submit" class="btn btn-primary btn-sm me-2" (click)="enviarMsgLote()">
            <i class="fas fa-paper-plane"></i> Enviar
          </button>
          <button type="button" class="btn btn-outline-secondary btn-sm" (click)="fechar()">
            <i class="fas fa-times"></i> Cancelar
          </button>
        </div>
      </form>
    </div>
  </ng-template>

