<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body" style="padding-bottom: 8px;">
          <div class="d-flex">
            <div class="flex-1 overflow-hidden">
              <h4 class="card-title"><i class="fas fa-search me-2"></i> Pesquisa cliente/ Cadastro manual</h4>
              <hr>
              <div class="d-flex justify-content-left mb-3">
                <input type="text" class="form-control form-control-sm me-2"
                  placeholder="Pesquisar cliente existente..." style="width: 400px;">
                <select class="form-control form-control-sm me-2" style="width: 200px;">
                  <option value="1">Contratante 1</option>
                  <option value="2">Contratante 2</option>
                  <option value="3">Contratante 3</option>
                </select>
                <button type="button" class="btn btn-secondary btn-sm"><i class="fas fa-check"></i> Selecionar</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body" style="padding-bottom: 8px;">
          <div class="d-flex">
            <div class="flex-1 overflow-hidden">
              <app-cliente-contratante></app-cliente-contratante>
              <app-cliente-titulos></app-cliente-titulos>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
