<div class="loading-overlay-pagina" *ngIf="loading">
  <div class="spinner-border text-primary m-1" role="status">
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body" style="padding-bottom: 8px;">
          <div class="d-flex">
            <div class="flex-1 overflow-hidden">
              <h4 class="card-title"><i class="fas fa-search me-2"></i> Pesquisa cliente/ Cadastro manual</h4>
              <hr>
              <div class="d-flex justify-content-left mb-3">
                <input type="text" class="form-control form-control-sm me-2" placeholder="Pesquisar cliente existente..." style="width: 400px;">
                <select class="form-control form-control-sm me-2" [(ngModel)]="contratanteSelecionado" style="width: 200px;">
                  <option value="">Selecione</option>
                  <option *ngFor="let contratante of listarContratantes" [value]="contratante.id_contratante">{{ contratante.fantasia }}</option>
                </select>
                <button type="button" class="btn btn-secondary btn-sm" (click)="selecionarContratante()"><i class="fas fa-check"></i> Selecionar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="exibirTelaCadastroCliente">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body" style="padding-bottom: 8px;">
          <div class="d-flex">
            <div class="flex-1 overflow-hidden">
              <div>
              <app-cliente-contratante [idContratante]="idContratante" (idCliente)="onClienteImportado($event)"></app-cliente-contratante>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="exibirTelaCadastroTitulos">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body" style="padding-bottom: 8px;">
          <div class="d-flex">
            <div class="flex-1 overflow-hidden">
              <div>
                <app-cliente-titulos [idCliente]="idCliente" [idContratante]="idContratante"></app-cliente-titulos>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
