/* titulos.component.scss */

.table-container {
  margin: 20px 0;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 4px 8px; /* Reduzindo o padding vertical */
  text-align: left;
  font-size: 14px; /* Reduzindo o tamanho da fonte */
}

th {
  background-color: #f2f2f2;
}

td[contenteditable="true"] {
  background-color: #fff;
}

td[contenteditable="true"]:focus {
  background-color: #e0e0e0;
  outline: none;
}
