<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body" style="padding-bottom: 8px;">
          <div class="d-flex">
            <div class="flex-1 overflow-hidden">
              <h4>Tela de cadastro de títulos em desenvolvimento</h4>

              <!-- importar-clientes.component.html -->
              <div class="table-container">
                <table id="clientesTable">
                  <thead>
                    <tr>
                      <th>Cpf</th>
                      <th>Nome</th>
                      <th>Endereço</th>
                      <th>Número</th>
                      <th>Bairro</th>
                      <th>Cidade</th>
                      <th>Uf</th>
                      <th>Cep</th>
                      <th>Fone1</th>
                      <th>Fone2</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td contenteditable="true"></td>
                      <td contenteditable="true"></td>
                      <td contenteditable="true"></td>
                      <td contenteditable="true"></td>
                      <td contenteditable="true"></td>
                      <td contenteditable="true"></td>
                      <td contenteditable="true"></td>
                      <td contenteditable="true"></td>
                      <td contenteditable="true"></td>
                      <td contenteditable="true"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="mb-3 mb-0" style="text-align: end;">
                <button type="submit" class="btn btn-success mb-1 btn-sm me-1" (click)="importarClientes()">Cadastrar Clientes</button>
              </div>

              <div class="table-container">
                <table #tabelaClientes id="tabelaClientes">
                  <thead>
                    <tr>
                      <th>Documento</th>
                      <th>Vencimento</th>
                      <th>Valor</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let cliente of clientes; let i = index">
                      <td contenteditable="true" (keydown)="aoPressionarEnter($event, i, 0)">{{ cliente.id }}</td>
                      <td contenteditable="true" (keydown)="aoPressionarEnter($event, i, 1)">{{ cliente.nome }}</td>
                      <td contenteditable="true" (keydown)="aoPressionarEnter($event, i, 2)">{{ cliente.email }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="mb-3 mb-0" style="text-align: end;">
                <button type="submit" class="btn btn-success mb-1 btn-sm me-1" (click)="importarClientes()">Cadastrar Titulos</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
