<div class="loading-overlay-pagina" *ngIf="loading">
  <div class="spinner-border text-primary m-1" role="status">
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card-body" style="padding-bottom: 8px;">
        <div class="d-flex">
          <div class="flex-1 overflow-hidden">
            <div class="card">

              <div class="card-header pt-2 pb-2">
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="mb-0"><i class="fas fa-inbox me-2"></i> Email - Perfil </h5>
                  </div>
                  <div class="col-md-6 text-end">
                    <button class="btn btn-success btn-sm" style="padding-top: 2px; padding-bottom: 2px;" (click)="abriModalCadastro(modalGenerico)">
                      <i class="fas fa-plus"></i>
                      Cadastrar
                    </button>
                  </div>
                </div>
              </div>

              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mt-3" style="font-size: 11px;">
                  <div style="font-size: 11px;">
                      <select id="itensPorPagina"
                              [(ngModel)]="itensPorPagina" (change)="atualizarQuantidadeExibida()"
                              style="border-radius: 0.25rem; width: 40px; height: 15px; font-size: 10px;">
                          <option [value]="item" *ngFor="let item of qtdRegistrosPorPagina" style="font-size: 10px;" >{{ item }}</option>
                      </select>
                      <label for="itensPorPagina" style="padding-left: 2px;"> Resultados por página</label>
                  </div>
                  <div style="font-size: 10px;">
                      <div class="dataTables_filter text-md-end">
                          <label class="d-inline-flex align-items-center">
                              <input type="text" class="form-control form-control-sm ms-2" style="margin-left: 2px;" placeholder="Pesquisar" [(ngModel)]="textoPesquisa" (input)="filtrar()" />
                          </label>
                      </div>
                  </div>
              </div>

              <div class="table-responsive">
                <table class="table table-sm table-hover font-size-12 tabelaOrdenada">
                  <thead class="tabela-custom">
                    <tr>
                      <th sortable="id_emailtexto" (sort)="ordenar($event)">Id</th>
                      <th sortable="descricao" (sort)="ordenar($event)">Descrição</th>
                      <th sortable="mensagem" (sort)="ordenar($event)">Mensagem</th>
                      <th sortable="data_cadastro" (sort)="ordenar($event)">Data Cadastro</th>
                      <th sortable="user_login" (sort)="ordenar($event)">Usúario</th>
                      <th class="text-end">Ações</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="dadosFiltrados.length > 0; else sem">
                    <tr *ngFor="let dado of dadosFiltrados | paginate: { itemsPerPage: itensPorPagina, currentPage: paginaAtual }">
                      <td>{{ dado.id_emailtexto }}</td>
                      <td>{{ dado.descricao }}</td>
                      <td>{{ dado.mensagem }}</td>
                      <td>{{ data(dado.data_cadastro) }}</td>
                      <td>{{ dado.user_login }}</td>
                      <td class="text-end">
                        <a href="javascript:void(0);" class="me-2 text-primary" ngbTooltip="Editar"><i class="mdi mdi-pencil font-size-18"
                          (click)="abriModalEditar(modalGenerico, dado)"></i></a>
                      </td>
                    </tr>
                  </tbody>
                  <ng-template #sem>
                    <tbody>
                      <tr>
                        <td colspan="6" class="text-center">Nenhum perfil cadastrado.</td>
                      </tr>
                    </tbody>
                  </ng-template>
                </table>
                <div class="d-flex justify-content-between align-items-center mt-3 text-small">
                  <div>
                    Mostrando de {{ (paginaAtual - 1) * itensPorPagina + 1 }} até
                    {{ totalRegistrosExibidos }} de {{ totalRegistros }} registros
                  </div>
                  <pagination-controls (pageChange)="paginaAtual = $event"
                                        previousLabel="Anterior"
                                        nextLabel="Próximo"
                                        [maxSize]="5"
                                        [autoHide]="false"
                                        [responsive]="true">
                  </pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalGenerico let-modal>
  <div class="loading-overlay-card" *ngIf="loadingMin">
    <div class="spinner-border text-primary m-1" role="status">
    </div>
  </div>

  <div class="modal-header modal-header-custom" [ngStyle]="{'background': editar ? '#5664d2' : '#1cbb8c'}">
    <h6 class="modal-title" style="color: #ffffff"><i class="fas fa-inbox me-2"></i>  {{ editar ? 'Editar Email - Perfil' : 'Cadastrar Email - Perfil' }}
    </h6>
    <button type="button" class="btn-close btn-close-white btn-close-small" aria-label="Close"
      (click)="fechar()"></button>
  </div>
  <div class="modal-body modal-padding">

  </div>
</ng-template>
