::ng-deep .ngx-pagination .pagination-previous a::before,
::ng-deep .ngx-pagination .pagination-previous.disabled::before,
::ng-deep .ngx-pagination .pagination-next a::after,
::ng-deep .ngx-pagination .pagination-next.disabled::after {
    font-size: 11px !important;
}

.text-small {
  font-size: 11px;
}

.btnHover:hover {
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  position: sticky;
  top: 0;
  border-top-width: 0px;
}

.rodape {
  position: sticky;
  bottom: 0;
  border-top-width: 0px;
  background: #eee;
}
