

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card-body" style="padding-bottom: 8px;">
        <div class="d-flex">
          <div class="flex-1 overflow-hidden">
            <div class="card">

              <div class="card-header pt-2 pb-2">
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="mb-0"><i class="fas fa-file-import"></i> Importações realizadas </h5>
                  </div>
                  <div class="col-md-6 text-end">
                    <button class="btn btn-secondary btn-sm" style="padding-top: 2px; padding-bottom: 2px;">
                      <i class="fas fa-database"></i>
                      <strong> Importar dados </strong>
                    </button>
                  </div>
                </div>
              </div>

              <div class="card-body">

                <div class="table-responsive">
                  <table class="table table-sm table-hover font-size-12">
                    <thead class="tabela-custom">
                      <tr>
                        <th>Id Empresa</th>
                        <th>Id Contratante</th>
                        <th>Id Remesa</th>
                        <th>Data Importação</th>
                        <th>User Login</th>
                        <th>Qtde Clientes</th>
                        <th>Qtde Emails</th>
                        <th>Qtde Fones</th>
                        <th>Qtde Títulos</th>
                        <th>Total Títulos</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>2024-07-23 22:12:00</td>
                        <td>Pedro</td>
                        <td>2</td>
                        <td>0</td>
                        <td>6</td>
                        <td>2</td>
                        <td>1033.50</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>2</td>
                        <td>2024-07-23 22:15:00</td>
                        <td>Pedro</td>
                        <td>3</td>
                        <td>1</td>
                        <td>4</td>
                        <td>3</td>
                        <td>1500.00</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>3</td>
                        <td>2024-07-23 22:18:00</td>
                        <td>Pedro</td>
                        <td>1</td>
                        <td>0</td>
                        <td>5</td>
                        <td>1</td>
                        <td>500.00</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>4</td>
                        <td>2024-07-23 22:20:00</td>
                        <td>Pedro</td>
                        <td>4</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>2000.00</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>5</td>
                        <td>2024-07-23 22:25:00</td>
                        <td>Pedro</td>
                        <td>2</td>
                        <td>1</td>
                        <td>2</td>
                        <td>2</td>
                        <td>1200.00</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

