<ng-template #smsModal let-modal>
  <div class="modal-header modal-header-custom" style="background: #3e4988; margin: 0">
    <h6 class="modal-title" style="color: #ffffff">
      <i class="fas fa-sms"></i> Envio de Sms - {{ foneDestinatario }}
    </h6>
    <button type="button" class="btn-close btn-close-white btn-close-small" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>

  <div class="loading-overlay-card" *ngIf="loadingMin">
    <div class="spinner-border text-primary m-1" role="status">
    </div>
  </div>

  <div class="modal-body modal-padding">
    <form [formGroup]="formEnvioSms">
      <div class="col-md-12 form-group">
        <label class="form-label">Asunto</label>
        <select class="form-control form-control-sm" (change)="capturarMsg($event)" style="margin-bottom: 10px;">
          <option value="">Selecionar Mensagens</option>
          <option *ngFor="let item of sms" [value]="item.id_perfilsms">{{ item.titulo }}</option>
        </select>
      </div>

      <textarea class="form-control" [(ngModel)]="mensagem" (input)="contarCaracteres()" formControlName="mensagem" placeholder="Digite sua mensagem" rows="4" required=""></textarea>

      <div class="d-flex justify-content-between align-items-center" style="padding-top: 5px;">
        <small>{{ mensagem.length }}/{{maxCaractere}} caracteres</small>
        <div>
          <button type="button" class="btn btn-success btn-sm me-1" (click)="enviarSms()" [disabled]="formEnvioSms.invalid">
            <i class="fas fa-paper-plane"></i> Enviar
          </button>
          <button type="button" class="btn btn-outline-secondary btn-sm" (click)="modal.dismiss()">
            <i class="fas fa-times"></i> Cancelar
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
