<div class="loading-overlay-pagina" *ngIf="loading">
  <div class="spinner-border text-primary m-1" role="status">
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card-body" style="padding-bottom: 8px;">
        <div class="d-flex">
          <div class="flex-1 overflow-hidden">
            <div class="card">

              <div class="card-header pt-2 pb-2">
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="mb-0"><i class="fas fa-calculator"></i> Formulas </h5>
                  </div>
                  <div class="col-md-6 text-end">
                    <button class="btn btn-success btn-sm" (click)="abriModalCadastro(modalGenerico)"
                      style="padding-top: 2px; padding-bottom: 2px;">
                      <i class="fas fa-plus"></i>
                      Cadastrar
                    </button>
                  </div>
                </div>
              </div>

              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center" style="font-size: 11px;">
                  <div style="font-size: 11px;">
                    <select id="itensPorPagina" [(ngModel)]="itensPorPagina" (change)="atualizarQuantidadeExibida()"
                      style="border-radius: 0.25rem; width: 40px; height: 15px; font-size: 10px;">
                      <option [value]="item" *ngFor="let item of qtdRegistrosPorPagina" style="font-size: 10px;">{{ item
                        }}</option>
                    </select>
                    <label for="itensPorPagina" style="padding-left: 2px;"> Resultados por página</label>
                  </div>
                  <div style="font-size: 10px;">
                    <div class="dataTables_filter text-md-end">
                      <label class="d-inline-flex align-items-center">
                        <input type="text" class="form-control form-control-sm ms-2" style="margin-left: 2px;"
                          placeholder="Pesquisar" [(ngModel)]="textoPesquisa" (input)="filtrar()" />
                      </label>
                    </div>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table table-sm table-hover font-size-12 tabelaOrdenada" style="margin-bottom: 8px;">
                    <thead class="tabela-custom">
                      <tr>
                        <th sortable="id_formula" (sort)="ordenar($event)">Id</th>
                        <th sortable="descricao" (sort)="ordenar($event)">Descrição</th>
                        <th sortable="usa_indice" (sort)="ordenar($event)">Usa Indice</th>
                        <th sortable="fator_multa" (sort)="ordenar($event)">Multa</th>
                        <th sortable="fator_juros" (sort)="ordenar($event)">Juros</th>
                        <th sortable="fator_taxa" (sort)="ordenar($event)">Taxa</th>
                        <th sortable="desconto_principal" (sort)="ordenar($event)">Desc. Pricipal</th>
                        <th sortable="desconto_multa" (sort)="ordenar($event)">Desc. Multa</th>
                        <th sortable="desconto_juros" (sort)="ordenar($event)">Desc. Juros</th>
                        <th sortable="desconto_indice" (sort)="ordenar($event)">Desc. Indice</th>
                        <th sortable="desconto_taxa" (sort)="ordenar($event)">Desc. Taxa</th>
                        <th sortable="receita_principal" (sort)="ordenar($event)">Receita Principal</th>
                        <th sortable="receita_multa" (sort)="ordenar($event)">Receita Multa</th>
                        <th sortable="receita_juros" (sort)="ordenar($event)">Receita Juros</th>
                        <th sortable="receita_indice" (sort)="ordenar($event)">Receita Indice</th>
                        <th sortable="receita_taxa" (sort)="ordenar($event)">Receita Taxa</th>
                        <th sortable="data_cadastro" (sort)="ordenar($event)">Data Cadastro</th>
                        <th sortable="data_alteracao" (sort)="ordenar($event)">Data Alteração</th>
                        <th sortable="user_login" (sort)="ordenar($event)">Usuário</th>
                        <th class="text-end">Ações</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="dadosFiltrados.length > 0; else semDado">
                      <tr
                        *ngFor="let formula of dadosFiltrados | paginate: { itemsPerPage: itensPorPagina, currentPage: paginaAtual }">
                        <td> {{ formula.id_formula }} </td>
                        <td> {{ formula.descricao }} </td>
                        <td> {{ formula.usa_indice }} </td>
                        <td> {{ formula.fator_multa / 100 | percent: '1.2-2' }} </td>
                        <td> {{ formula.fator_juros / 100 | percent: '1.2-2' }} </td>
                        <td> {{ formula.fator_taxa / 100 | percent: '1.2-2' }} </td>
                        <td> {{ formula.desconto_principal / 100 | percent: '1.2-2' }} </td>
                        <td> {{ formula.desconto_multa / 100 | percent: '1.2-2' }} </td>
                        <td> {{ formula.desconto_juros / 100 | percent: '1.2-2' }} </td>
                        <td> {{ formula.desconto_indice / 100 | percent: '1.2-2' }} </td>
                        <td> {{ formula.desconto_taxa / 100 | percent: '1.2-2' }} </td>
                        <td> {{ formula.receita_principal / 100 | percent: '1.2-2' }} </td>
                        <td> {{ formula.receita_multa / 100 | percent: '1.2-2' }} </td>
                        <td> {{ formula.receita_juros / 100 | percent: '1.2-2' }} </td>
                        <td> {{ formula.receita_indice / 100 | percent: '1.2-2' }} </td>
                        <td> {{ formula.receita_taxa / 100 | percent: '1.2-2' }} </td>
                        <td> {{ data(formula.data_cadastro) }} </td>
                        <td> {{ data(formula.data_alteracao) }} </td>
                        <td> {{ formula.user_login }} </td>
                        <td class="text-end">
                          <a href="javascript:void(0);" class="me-2 text-primary" ngbTooltip="Editar"><i class="mdi mdi-pencil font-size-18"
                            (click)="abriModalEditar(modalGenerico, formula)"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <ng-template #semDado>
                    <tbody>
                      <tr>
                        <td colspan="20" class="text-center">Nenhum dado para exibir</td>
                      </tr>
                    </tbody>
                  </ng-template>
                  <div class="d-flex justify-content-between align-items-center text-small">
                    <div>
                      Mostrando de {{ (paginaAtual - 1) * itensPorPagina + 1 }} até
                      {{ totalRegistrosExibidos }} de {{ totalRegistros }} registros
                    </div>
                    <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior"
                      nextLabel="Próximo" [maxSize]="5" [autoHide]="false" [responsive]="true">
                    </pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #modalGenerico let-modal>
    <div class="loading-overlay-card" *ngIf="loadingMin">
      <div class="spinner-border text-primary m-1" role="status">
      </div>
    </div>

    <div class="modal-header modal-header-custom" [ngStyle]="{'background': editar ? '#5664d2' : '#1cbb8c'}">
      <h6 class="modal-title" style="color: #ffffff"><i class="fas fa-calculator"></i> {{ editar ? 'Editar Formula' :
        'Cadastrar Formula' }} </h6>
      <button type="button" class="btn-close btn-close-white btn-close-small" aria-label="Close"
        (click)="fechar()"></button>
    </div>
    <div class="modal-body modal-padding">
      <form [formGroup]="formFormula">
        <div class="row">
          <div class="col-md-3">
            <label for="descricao" class="form-label">Descrição</label>
            <input type="text" id="descricao" class="form-control form-control-sm mb-1" formControlName="descricao"
              [readonly]="editar"
              [ngClass]="{'is-invalid': formFormula.get('descricao').invalid && formFormula.get('descricao').touched}" />
          </div>

          <div class="col-md-3">
            <label for="multa" class="form-label">Multa (%)</label>
            <input type="number" id="multa" class="form-control form-control-sm mb-1" formControlName="multa" min="0"
              (input)="verificarValorNegativo('multa')" />
          </div>

          <div class="col-md-3">
            <label for="juros" class="form-label">Juros (%)</label>
            <input type="number" id="juros" class="form-control form-control-sm mb-1" formControlName="juros" min="0"
              (input)="verificarValorNegativo('juros')" />
          </div>

          <div class="col-md-3">
            <label for="taxa" class="form-label">Taxa (%)</label>
            <input type="number" id="taxa" class="form-control form-control-sm mb-1" formControlName="taxa" min="0"
              (input)="verificarValorNegativo('taxa')" />
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <label for="desconto_principal" class="form-label">Desconto Principal (%)</label>
            <input type="number" id="desconto_principal" class="form-control form-control-sm mb-1"
              formControlName="desconto_principal" min="0" (input)="verificarValorNegativo('desconto_principal')" />
          </div>

          <div class="col-md-3">
            <label for="desconto_multa" class="form-label">Desconto Multa (%)</label>
            <input type="number" id="desconto_multa" class="form-control form-control-sm mb-1"
              formControlName="desconto_multa" min="0" (input)="verificarValorNegativo('desconto_multa')" />
          </div>

          <div class="col-md-3">
            <label for="desconto_juros" class="form-label">Desconto Juros (%)</label>
            <input type="number" id="desconto_juros" class="form-control form-control-sm mb-1"
              formControlName="desconto_juros" min="0" (input)="verificarValorNegativo('desconto_juros')" />
          </div>

          <div class="col-md-3">
            <label for="desconto_taxa" class="form-label">Desconto Taxa (%)</label>
            <input type="number" id="desconto_taxa" class="form-control form-control-sm mb-1"
              formControlName="desconto_taxa" min="0" (input)="verificarValorNegativo('desconto_taxa')" />
          </div>

          <div class="col-md-3">
            <label for="desconto_taxa" class="form-label">Usar Indice</label>
            <select class="form-control form-control-sm mb-1" formControlName="usa_indice">
              <option value="">Selecione</option>
              <option value="INPC">INPC</option>
              <option value="IPCA">IPCA</option>
              <option value="INCC">INCC</option>
            </select>
          </div>

          <div class="col-md-3">
            <label for="desconto_indice" class="form-label">Desconto Indice (%)</label>
            <input type="number" id="desconto_indice" class="form-control form-control-sm mb-1"
              formControlName="desconto_indice" min="0" (input)="verificarValorNegativo('desconto_indice')" />
          </div>

          <div class="col-md-3">
            <label for="receita_principal" class="form-label">Receita Principal (%)</label>
            <input type="number" id="receita_principal" class="form-control form-control-sm mb-1"
              formControlName="receita_principal" min="0" (input)="verificarValorNegativo('receita_principal')" />
          </div>

          <div class="col-md-3">
            <label for="receita_multa" class="form-label">Receita Multa (%)</label>
            <input type="number" id="receita_multa" class="form-control form-control-sm mb-1"
              formControlName="receita_multa" min="0" (input)="verificarValorNegativo('receita_multa')" />
          </div>

          <div class="col-md-3">
            <label for="receita_juros" class="form-label">Receita Juros (%)</label>
            <input type="number" id="receita_juros" class="form-control form-control-sm mb-1"
              formControlName="receita_juros" min="0" (input)="verificarValorNegativo('receita_juros')" />
          </div>

          <div class="col-md-3">
            <label for="receita_indice" class="form-label">Receita Indice (%)</label>
            <input type="number" id="receita_indice" class="form-control form-control-sm mb-1"
              formControlName="receita_indice" min="0" (input)="verificarValorNegativo('receita_indice')" />
          </div>

          <div class="col-md-3">
            <label for="receita_taxa" class="form-label">Receita Taxa (%)</label>
            <input type="number" id="receita_taxa" class="form-control form-control-sm mb-1"
              formControlName="receita_taxa" min="0" (input)="verificarValorNegativo('receita_taxa')" />
          </div>

        </div>
        <div class="d-flex justify-content-end" style="padding-top: 5px;">
          <button type="submit" class="btn btn-sm me-1" [ngClass]="{
                  'btn-primary': editar,
                  'btn-success': !editar
                }" (click)="controleBotao()">
          <i class="fas fa-save"></i> {{ editar ? 'Atualizar' : 'Salvar' }}
          </button>
          <button type="button" class="btn btn-outline-secondary btn-sm" (click)="fechar()">
            <i class="fas fa-times"></i> Cancelar
          </button>
        </div>
      </form>
    </div>
  </ng-template>
