<div *ngIf="loadingMin" class="text-center">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Carregando...</span>
  </div>
  <p class="mt-2 text-muted">Carregando dados...</p>
</div>

<div *ngIf="!loadingMin" class="row">
  <div class="col-lg-4 mb-4">
    <div class="card shadow-lg border-0 rounded-3">
      <div class="card-header">
        <h5 class="mb-0"><i class="fas fa-filter resultados-icon"></i>
           Relatório Sintético </h5>
      </div>

      <div class="card-body p-0">
        <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
          <table class="table table-sm table-hover table-bordered table-striped">
            <thead class="bg-light" style="position: sticky; top: 0; background-color: #f8f9fa; z-index: 1;">
              <tr>
                <th class="text-start">Descricao</th>
                <th class="text-center">Total</th>
              </tr>
            </thead>
            <tbody *ngIf="acio_sintetico.length > 0; else semDado">
              <tr *ngFor="let dado of acio_sintetico">
                <td class="text-start"> {{ dado.descricao }} </td>
                <td class="text-center"> {{ dado.total }} </td>
              </tr>
            </tbody>
            <ng-template #semDado>
              <tbody>
                <tr>
                  <td colspan="2" class="text-center">Nenhum dado para exibir.</td>
                </tr>
              </tbody>
            </ng-template>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-8 mb-4">
    <div class="card shadow-lg border-0 rounded-3">
      <div class="card-header">
        <h5 class="mb-0">O grafico reflete os dados apresentado na tabela!</h5>
      </div>
      <div class="card-body p-0">
        <div class="container-grafico">
        <div *ngIf="columnlabelChart?.series?.length > 0">
          <apx-chart class="apex-charts" dir="ltr" [series]="columnlabelChart.series" [chart]="columnlabelChart.chart"
            [plotOptions]="columnlabelChart.plotOptions" [yaxis]="columnlabelChart.yaxis" [title]="columnlabelChart.title"
            [stroke]="columnlabelChart.stroke" [dataLabels]="columnlabelChart.dataLabels" [xaxis]="columnlabelChart.xaxis"
            [legend]="columnlabelChart.legend" [colors]="columnlabelChart.colors" [fill]="columnlabelChart.fill">
          </apx-chart>
        </div>
    </div>

    <div *ngIf="!columnlabelChart?.series?.length">
      <p class="text-center">Nenhum gráfico disponível para os dados apresentados.</p>
    </div>
  </div>
</div>
