<div class="loading-overlay-pagina" *ngIf="loading">
  <div class="spinner-border text-primary m-1" role="status">
  </div>
</div>

<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="col-lg-4">
      <div class="authentication-page-content p-4 d-flex align-items-center min-vh-100">
        <div class="w-100">
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <div>
                <div class="text-center">
                  <h4 class="font-size-18 mt-4">Bem-vindo</h4>
                </div>

                <div class="p-2 mt-5">
                  <form (ngSubmit)="validarLogin($event)" [formGroup]="loginForm">
                    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
                    <div class="form-group auth-form-group-custom mb-4">
                      <label for="sigla">Sigla</label>
                      <input type="text" formControlName="sigla" class="form-control" id="sigla" placeholder="Sigla"
                        [ngClass]="{ 'is-invalid': submitted && f.sigla.errors }">
                      <div *ngIf="submitted && f.sigla.errors" class="invalid-feedback">
                        <div *ngIf="f.sigla.errors.required">Sigla é obrigatória</div>
                      </div>
                    </div>

                    <div class="form-group auth-form-group-custom mb-4">
                      <label for="login">Login</label>
                      <input type="text" formControlName="login" class="form-control" id="login" placeholder="Login"
                        [ngClass]="{ 'is-invalid': submitted && f.login.errors }">
                      <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
                        <div *ngIf="f.login.errors.required">Login é obrigatório</div>
                      </div>
                    </div>

                    <div class="form-group auth-form-group-custom mb-4">
                      <label for="senha">Senha</label>
                      <div class="input-wrapper">
                        <input type="password" formControlName="senha" class="form-control" id="senha"
                          [ngClass]="{ 'is-invalid': submitted && f.senha.errors }" placeholder="Senha" />
                        <div *ngIf="submitted && f.senha.errors" class="invalid-feedback">
                          <div *ngIf="f.senha.errors.required">Senha é obrigatória</div>
                        </div>
                        <i class="fas fa-eye-slash" id="iconeOlhoIcon" *ngIf="!submitted || !f.senha.errors"
                          (click)="mostrarSenha('senha', 'iconeOlhoIcon')"></i>
                      </div>
                    </div>

                    <div class="mt-4 text-center">
                      <button type="submit" class="btn btn-primary w-md waves-effect waves-light"><i
                          class="mdi mdi-login"></i> Entrar</button>
                    </div>

                    <div class="mt-4 text-center">
                      <a routerLink="/account/reset-password" class="text-muted"><i class="mdi mdi-lock me-1"></i>
                        Recuperar senha</a>
                    </div>
                    <div class="mt-5 text-center">
                      <p>
                        &copy; 2024 Portal Facilitador
                        <br>
                        Versão: {{ versao }}
                        <br>
                        <i class="fab fa-whatsapp"></i> WhatsApp: <a href="tel:+5585996233800">85996233800</a>
                        <br>
                        <i class="fas fa-envelope"></i> Email: <a
                          href="mailto:pedroamaral625&#64;gmail.com">pedroamaral625&#64;gmail.com</a>
                      </p>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="authentication-bg">
        <div class="bg-overlay"></div>
      </div>
    </div>
  </div>
</div>
