<div class="loading-overlay-card" *ngIf="loadingMin">
  <div class="spinner-border text-primary m-1" role="status">
  </div>
</div>

<div class="card-body" style="padding: 2px 0;">
  <div class="mb-1 text-start">
    <button class="btn btn-success btn-sm" (click)="abriModalCadastrar(modalGenerico)" style="padding-top: 0px; padding-bottom: 0px; padding-right: 5px; padding-left: 5px;">
      <i class="fas fa-plus fa-sm"></i>
      <strong> Cadastrar pocesso</strong>
    </button>
  </div>
  <div class="table-responsive" style="margin-top: 10px; max-height: 450px; overflow-y: auto;">
    <table class="table table-sm table-hover font-size-12 tabelaOrdenada">
      <thead class="tabela-custom table-td-scroll" style="position: sticky; top: 0; z-index: 1;">
        <tr>
          <th scope="col" >Processo Nº</th>
          <th scope="col" >Comarca</th>
          <th scope="col" >Vara</th>
          <th scope="col" >Distribuição</th>
          <th scope="col" >Tipo Ação</th>
          <th scope="col" >Data da Audiência</th>
          <th scope="col" >Usuário</th>
          <th scope="col" >Movimentação</th>
          <th scope="col" >Obs</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody *ngIf="processos.length > 0; else semProcessos">
        <tr *ngFor="let item of processos">
          <td>{{ item.numero_processo | docJuridico }}</td>
          <td>{{ item.comarca }}</td>
          <td>{{ item.vara }}</td>
          <td>{{ item.data_entrada_processo | dataBr }}</td>
          <td>{{ item.tipo_acao }}</td>
          <td>{{ item.data_audiencia | dataHoraBrasileira}}</td>
          <td>{{ item.user_login }}</td>
          <td>{{ item.ultimo_andamento }}</td>
          <td>
            <span style="cursor: pointer"
              [ngbTooltip]="item.obs"
              placement="top"
              container="body"
              (click)="copiarParaAreasTransferencia(item.obs)"
            >
              {{ mostraConteudoTruncado(item.obs, 10) }}
            </span>
          </td>
          <td>
            <a href="javascript:void(0);" class="me-3 text-primary" ngbTooltip="Editar"><i class="mdi mdi-pencil font-size-18"
              (click)="abriModalEditar(modalGenerico, item)"></i></a>
          </td>
        </tr>
      </tbody>
      <ng-template #semProcessos>
        <tbody>
          <tr>
            <td colspan="10" class="text-center">Nenhum dado para exibir.</td>
          </tr>
        </tbody>
      </ng-template>
    </table>
  </div>
</div>

<ng-template #modalGenerico let-modal>

  <div class="modal-header modal-header-custom" [ngStyle]="{'background': editar ? '#5664d2' : '#1cbb8c'}">
    <h6 class="modal-title" style="color: #ffffff"><i class="fas fa-balance-scale"></i>  {{ editar ? 'Editar Processo' : 'Cadastrar Processo' }} </h6>
    <button type="button" class="btn-close btn-close-white btn-close-small" aria-label="Close" (click)="fechar()">
    </button>
  </div>

  <div class="loading-overlay-card" *ngIf="loadingMin">
    <div class="spinner-border text-primary m-1" role="status">
    </div>
  </div>

  <div class="modal-body modal-padding">
    <form [formGroup]="formProcesso">
      <div class="row">
        <div class="col-md-4">
          <div class="mb-1">
            <label for="numero_processo" class="form-label">Número do processo</label>
            <input type="text" id="numero_processo" formControlName="numero_processo" class="form-control form-control-pad form-control-sm" mask="0000000-00.0000.0.00.0000" placeholder="0000000-00.0000.0.00.0000"
            [ngClass]="{'is-invalid': formProcesso.get('numero_processo').invalid && formProcesso.get('numero_processo').touched}">
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-1">
            <label for="comarca" class="form-label">Comarca</label>
            <input type="text" id="comarca" formControlName="comarca" class="form-control form-control-pad form-control-sm">
          </div>
        </div>
        <div class="col-md-2">
          <div class="mb-1">
            <label for="tipo_acao" class="form-label">Tipo ação</label>
            <input type="text" id="tipo_acao" formControlName="tipo_acao" class="form-control form-control-pad form-control-sm">
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-1">
            <label for="data_audiencia" class="form-label">Data audiência</label>
            <input type="datetime-local" id="data_audiencia" formControlName="data_audiencia" class="form-control form-control-pad form-control-sm">
          </div>
        </div>
        <div class="col-md-2">
          <div class="mb-1">
            <label for="data_entrada_processo" class="form-label">Data distribuição</label>
            <input type="date" id="data_entrada_processo" id="dataHora" formControlName="data_entrada_processo" class="form-control form-control-pad form-control-sm">
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-1">
            <label for="vara" class="form-label">Vara</label>
            <input type="text" id="vara" formControlName="vara" class="form-control form-control-pad form-control-sm">
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-1">
            <label for="adv_contrario" class="form-label">Adv contrario</label>
            <input type="text" id="adv_contrario" formControlName="adv_contrario" class="form-control form-control-pad form-control-sm">
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-1">
            <label for="ultimo_andamento" class="form-label">Movimentação</label>
            <select id="ultimo_andamento" class="form-control form-control-sm" formControlName="ultimo_andamento">
              <option value="">Selecionar</option>
              <option *ngFor="let item of movimentacao" [value]="item">{{ item }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-12">
          <div class="mb-1">
            <label for="obs" class="form-label">Observação</label>
            <textarea id="obs" formControlName="obs" class="form-control form-control-pad form-control-sm" rows="3"></textarea>
          </div>
        </div>

      </div>
      <div class="d-flex justify-content-end" style="padding-top: 5px;">
        <button type="submit" class="btn btn-sm me-1" [ngClass]="{
                  'btn-primary': editar,
                  'btn-success': !editar
                }" (click)="controleBotao()">
        <i class="fas fa-save"></i> {{ editar ? 'Atualizar' : 'Salvar' }}
        </button>
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="fechar()">
          <i class="fas fa-times"></i> Cancelar
        </button>
      </div>
    </form>
  </div>
</ng-template>
