<ng-template #modalTemplate let-modal>
  <div class="modal-header modal-header-custom" style="background: #3e4988; margin: 0">
    <h6 class="modal-title" style="color: #ffffff"><i class="fas fa-calculator" style="margin-right: 5px;"></i>
      Simulação de Negociação</h6>
    <button type="button" class="btn-close btn-close-white btn-close-small" aria-label="Close"
      (click)="fechaModal()"></button>
  </div>
  <div class="modal-body" style="padding-top: 2px; padding-bottom: 2px;">
    <form [formGroup]="form" (ngSubmit)="recalcular()">
      <div class="row mt-2">
        <div class="col-md-12">
          <div class="row align-items-center">
            <div class="col-md-2" style="font-size: 12px;">
              <small>Principal: {{ (originalPrincipal / 100) | percent:'1.0-0' }}</small>
              <input type="number" class="form-control form-control-sm" formControlName="desconto_principal" min="0"
                [max]="originalPrincipal" (input)="validarDesconto($event, 'Principal')">
            </div>
            <div class="col-md-2" style="font-size: 12px;">
              <small>Multa: {{ (originalMulta / 100) | percent:'1.0-0' }}</small>
              <input type="number" class="form-control form-control-sm" formControlName="desconto_multa" min="0"
                [max]="originalMulta" (input)="validarDesconto($event, 'Multa')">
            </div>
            <div class="col-md-2" style="font-size: 12px;">
              <small>Juros: {{ (originalJuros / 100) | percent:'1.0-0' }}</small>
              <input type="number" class="form-control form-control-sm" formControlName="desconto_juros" min="0"
                [max]="originalJuros" (input)="validarDesconto($event, 'Juros')">
            </div>
            <div class="col-md-2" style="font-size: 12px;">
              <small>Taxa: {{ (originalTaxa / 100) | percent:'1.0-0' }}</small>
              <input type="number" class="form-control form-control-sm" formControlName="desconto_taxa" min="0"
                [max]="originalTaxa" (input)="validarDesconto($event, 'Taxa')">
            </div>
            <div class="col-md-4" style="font-size: 12px;">
              <small>Data Negociação</small>
              <input type="date" class="form-control form-control-sm" id="dataNova" formControlName="data_atualizacao">
            </div>
          </div>
          <div class="col-md-12 d-flex justify-content-end button-group" style="font-size: 12px; margin-top: 5px;">
            <button type="submit" class="btn btn-primary btn-sm me-1" style="padding-bottom: 2px; padding-top: 2px;">
              <i class="fas fa-redo-alt"></i> Recalcular
            </button>
            <button type="submit" class="btn btn-secondary btn-sm" style="padding-bottom: 2px; padding-top: 2px;" (click)="habilitaBotao()">
              <i class="fas fa-handshake"></i> Acordo
            </button>
          </div>
        </div>
      </div>
      <div style="overflow: auto; height: 300px; margin-top: 5px;">
        <table class="table table-sm">
          <thead class="tabela-custom table-td-scroll">
            <tr>
              <th>Vencimento</th>
              <th>Atraso</th>
              <th>Desc Principal</th>
              <th scope="col" class="text-right">Desc Juros</th>
              <th scope="col" class="text-right">Desc Multa</th>
              <th>Desc Taxa</th>
              <th scope="col" class="text-right">Valor Atualizado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let titulo of data.titulos">
              <td>{{ dataBrasil(titulo.vencimento) }}</td>
              <td>{{ titulo.atraso }}</td>
              <td scope="col" class="text-right">{{ titulo.valor | currency:'BRL' }}</td>
              <td scope="col" class="text-right">{{ titulo.valor_juros | currency:'BRL' }}</td>
              <td scope="col" class="text-right">{{ titulo.valor_multa | currency:'BRL' }}</td>
              <td scope="col" class="text-right">{{ titulo.valor_taxa | currency:'BRL' }}</td>
              <td scope="col" class="text-right">{{ titulo.valor_atualizado | currency:'BRL' }}</td>
            </tr>
            <tr *ngIf="data.titulos.length > 0" class="tabela-custom">
              <td colspan="2" style="text-align: center;"><strong>Total:</strong></td>
              <td scope="col" class="text-right">{{ totalValor | currency:'BRL' }}</td>
              <td scope="col" class="text-right">{{ totalJuros | currency:'BRL' }}</td>
              <td scope="col" class="text-right">{{ totalMulta | currency:'BRL' }}</td>
              <td scope="col" class="text-right">{{ totalTaxa | currency:'BRL' }}</td>
              <td scope="col" class="text-right">{{ totalGeral | currency:'BRL' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Campo oculto para IDs dos títulos -->
      <input type="hidden" formControlName="titulos">
      <hr style="margin-top: 5px; margin-bottom: 5px;">
    </form>

    <div *ngIf="habilitarAcordo">
      <h4 style="text-align: center;">Simular Acordo</h4>
      <form [formGroup]="formAcordo" (ngSubmit)="simularAcordo()">
        <div class="row mt-2">
          <div class="col-md-12">
            <div class="row align-items-center">
              <div class="col-md-3" style="font-size: 12px;">
                <small>Valor da entrada</small>
                <input type="number" class="form-control form-control-sm" formControlName="valor_entrada">
              </div>
              <div class="col-md-2" style="font-size: 12px;">
                <small>Qtde Parcelas</small>
                <input type="number" class="form-control form-control-sm" formControlName="qtde_parcelas">
              </div>
              <div class="col-md-3 form-group" style="font-size: 12px;">
                <small>Tipo</small>
                <select class="form-control form-control-sm" formControlName="periodicidade">
                  <option value="M">Mensal</option>
                  <option value="Q">Quinzenal</option>
                  <option value="S">Semanal</option>
                  <option value="D">Diário</option>
                </select>
              </div>
              <div class="col-md-4" style="font-size: 12px;">
                <small>Data Vencimento</small>
                <input type="date" class="form-control form-control-sm" id="dataNova" formControlName="vencimento">
              </div>
            </div>
            <div class="col-md-12 d-flex justify-content-end button-group" style="font-size: 12px; margin-top: 5px;">
              <button type="submit" class="btn btn-secondary btn-sm" style="padding-bottom: 2px; padding-top: 2px;">
                <i class="fas fa-handshake"></i> Simular Acordo
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="simulaAcordo && data">
          <h4 style="text-align: center;">Detalhamento do Acordo</h4>
          <div style="overflow: auto; margin-top: 5px;">
            <table class="table table-sm">
              <thead class="tabela-custom table-td-scroll">
                <tr>
                  <th>Vencimento</th>
                  <th>Valor</th>
                  <th>Parcela</th>
                  <th>Plano</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let titulo of dadosSimulacao.titulos">
                  <td>{{ titulo.vencimento | date:'dd/MM/yyyy' }}</td>
                  <td>{{ titulo.valor | currency:'BRL':'symbol':'1.2-2' }}</td>
                  <td>{{ titulo.parcela }}</td>
                  <td>{{ titulo.plano }}</td>
                </tr>
                <tr class="tabela-custom">
                  <td colspan="1" style="text-align: center;"><strong>Total:</strong></td>
                  <td>{{ totalAcordo | currency:'BRL':'symbol':'1.2-2' }}</td>
                  <td colspan="2" style="text-align: right;"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <hr style="margin-top: 5px; margin-bottom: 5px;">
        </div>
      </form>
    </div>

    <div class="col-md-12 d-flex justify-content-end button-group" style="font-size: 11px; margin-top: 5px; margin-left: 0px !important;">
        <div  style="font-size: 11px;">
          <div class="btn-group" role="group" ngbDropdown *ngIf="ocultaBotaoPix">
            <button id="btnGroupVerticalDrop1" type="button" class="btn btn-light btn-sm me-1 dropdown-toggle" ngbDropdownToggle style="padding-bottom: 2px;padding-top: 2px;margin-bottom: 5px;">
              <img src="assets/images/pix.svg" style="width: 16px; height: 16px;"> Pix <i class="mdi mdi-chevron-down"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1" ngbDropdownMenu style="font-size: 12px;">
              <a class="dropdown-item" href="javascript: void(0);" (click)="gerarPixBoleto()"><img src="assets/images/pix.svg" style="width: 12px; height: 12px;"> Gerar Pix Titulos</a>
              <a class="dropdown-item" href="javascript: void(0);" ><i class="fas fa-receipt"></i> Boletos Pix</a>
            </div>
          </div>
      </div>
      <button type="button" class="btn btn-success btn-sm me-1" style="padding-bottom: 2px;padding-top: 2px;margin-bottom: 5px;" *ngIf="!habilitarAcordo" (click)="baixarPagamentos()">
        <i class="fas fa-money-bill-wave"></i> Baixar Pagamentos
      </button>
      <button type="button" class="btn btn-success btn-sm me-1" style="padding-bottom: 2px;padding-top: 2px;margin-bottom: 5px;" *ngIf="simulaAcordo" (click)="fecharAcordo()">
        <i class="fas fa-handshake"></i> Salvar Acordo
      </button>
      <button type="button" class="btn btn-danger btn-sm" style="padding-bottom: 2px;padding-top: 2px;margin-bottom: 5px;" (click)="fechaModal()">
        <i class="fas fa-window-close"></i> Cancelar
      </button>
    </div>
  </div>
</ng-template>



<ng-template #pixTitulosModal let-modal>
  <div class="modal-header modal-header-custom" style="margin: 0">
    <h6 class="modal-title" style="color: #000000">
      <img src="assets/images/pix.svg" style="width: 16px; height: 16px;"> Pix Gerado no valor <strong>{{ dadosPixGerado?.valor | currency:'BRL' }}</strong>
    </h6>
    <button type="button" class="btn-close btn-close-black btn-close-small" aria-label="Close" (click)="closeModal()" style="color: #000000"></button>
  </div>

  <div class="modal-body modal-padding" style="padding-top: 2px;">
      <div>
        <div class="mb-3">
          <label for="qrCode" class="form-label">QR Code</label>
          <div class="row">
            <div class="col-6 text-center">
              <div id="qrCode" class="border p-3">
                <img [src]="dadosPixGerado?.urlImagemQrCode" alt="QR Code" class="img-fluid" style="width: 120px;">
              </div>
            </div>
            <div class="col-6 text-center">
              <div id="qrCode" class="border p-3">
                <img src="assets/images/pagseguro.png" alt="QR Code" class="img-fluid" style="width: 150px;">
              </div>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="pixCopiaCola" class="form-label" style="display: inline-flex; align-items: center;">
            Pix Copia e Cola
            <button class="btn btn-outline-secondary btn-sm" (click)="copiarParaAreasTransferencia(dadosPixGerado?.pixCopiaECola)" style="border: 0; padding: 0; width: 20px; height: 20px; display: flex; align-items: center; justify-content: center; margin-left: 5px;">
              <i class="fas fa-copy" style="font-size: 12px;"></i>
            </button>
          </label>
          <div class="d-flex align-items-center">
            <span id="pixCopiaCola" class="me-2"
                  style="flex-grow: 1;
                         white-space: normal;
                         font-size: 8px;
                         max-width: 100%;
                         word-wrap: break-word;
                         overflow-wrap: break-word;">
              {{ dadosPixGerado?.pixCopiaECola }}
            </span>
          </div>
        </div>
      </div>
</div>
</ng-template>
