/* Estilo para todos os textos com tamanho de fonte 12px */
.text-small {
  font-size: 12px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.btn-recalcular {
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 6px;
  padding-left: 6px;
  align-self: flex-end;
  margin-top: 5px;
}

.modal-body p {
  font-size: 12px;
}

.table th, .table td {
  font-size: 12px;
}

/* Estilo para a linha horizontal */
.divider {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

/* Estilo para o título da seção de desconto */
.desconto-title {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Estilo para as informações de desconto */
.desconto-info p {
  font-size: 12px;
  margin: 5px 0;
}

/* Estilo para campos desabilitados com cor cinza suave */
.form-control[disabled] {
  background-color: #f0f0f0; /* Cor de fundo cinza suave */
  color: #6c757d; /* Cor do texto cinza suave */
}

/* Estilo para todos os campos de entrada */
.form-control, .input-group-text {
  font-size: 12px; /* Tamanho da fonte */
}

/* Estilo para todos os botões */
.btn {
  font-size: 12px; /* Tamanho da fonte */
}

