.text-small {
  font-size: 12px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.btn-recalcular {
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 6px;
  padding-left: 6px;
  align-self: flex-end;
  margin-top: 5px;
}

.modal-body p {
  font-size: 12px;
}

.table th, .table td {
  font-size: 12px;
}

/* Estilo para todos os campos de entrada */
.form-control, .input-group-text {
  font-size: 12px; /* Tamanho da fonte */
}

/* Estilo para todos os botões */
.btn {
  font-size: 12px; /* Tamanho da fonte */
}

.button-group .btn {
  margin-right: 10px; /* Ajuste a margem conforme necessário */
}

.button-group .btn:last-child {
  margin-right: 0; /* Remove a margem direita do último botão */
}
