<div class="container-fluid" *ngIf="appPesquisar">
  <div class="loading-overlay-pagina" *ngIf="loading">
    <div class="spinner-border text-primary m-1" role="status"></div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header pt-2 pb-2">
          <div class="col-md-12">
            <h5 class="mb-0">
              <i class="fas fa-search"></i>
              Pesquisar Cliente
            </h5>
          </div>
        </div>

        <div class="card-body" style="padding-top: 10px;">
          <div class="row">
            <div class="col-md-5 d-flex align-items-end">
              <div class="me-2" style="flex: 1;">
                <label for="tipo" class="form-label mb-1">Infor: <i class="fas fa-info-circle text-info ms-1"
                  style="cursor: pointer;"
                  ngbTooltip="informe um cpf ou nome"
                  placement="top">
                </i></label>
                  <input type="text" class="form-control form-control-sm"
                    [(ngModel)]="textoPesquisa"
                    placeholder="Pesquisar cliente existente..."
                    [ngClass]="{ 'is-invalid': campoInvalido }"
                    (blur)="validarCampo()"
                  />
              </div>

              <button type="button" class="btn btn-secondary btn-sm me-2" (click)="pesquisaClientes()">
                <i class="fas fa-search"></i> Pesquisar
              </button>

              <button type="button" class="btn btn-success btn-sm" (click)="cadastrar()">
                <i class="fas fa-plus"></i> Cadastrar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="appListaCliente">
  <div class="loading-overlay-pagina" *ngIf="loading">
    <div class="spinner-border text-primary m-1" role="status"></div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">

        <div class="card-body" style="padding-top: 10px;">
          <div class="d-flex justify-content-between align-items-center" style="padding-top: 10px;">
            <h4 class="card-title m-0">
              <i class="fas fa-list"></i> Lista de Clientes
            </h4>
          </div>
          <hr>

            <div class="row">
              <div class="col-md-12" *ngIf="dadosFiltrados.length > 0; else semCliente">
                <div class="table-responsive">
                  <table class="table table-sm table-hover font-size-12 tabelaOrdenada" style="margin-bottom: 8px;">
                    <thead class="tabela-custom">
                      <tr>
                        <th>Id Contratante</th>
                        <th>Id Cliente</th>
                        <th>Cpf</th>
                        <th>Nome</th>
                        <th>Data cadastro</th>
                        <th>Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let cliente of dadosFiltrados | paginate: { itemsPerPage: itensPorPagina, currentPage: paginaAtual }"
                        [ngClass]="{'selected': clienteSelecionado === cliente, 'table-row': true}"
                        (click)="selecionarcliente(cliente)">
                        <td>{{ cliente.id_contratante }}</td>
                        <td>{{ cliente.id_cliente }}</td>
                        <td>{{ cliente.cnpj_cpf | cpfCnpj }}</td>
                        <td>{{ cliente.nome}}</td>
                        <td>{{ cliente.data_cadastro | dataHoraBrasileira }}</td>
                        <td class="text-end">
                          <a href="javascript:void(0);" class="me-2 text-primary" ngbTooltip="Editar"><i
                              class="mdi mdi-pencil font-size-18"
                              (click)="editar(cliente)"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="d-flex justify-content-between align-items-center text-small">
                  <div>
                    Mostrando de {{ (paginaAtual - 1) * itensPorPagina + 1 }} até
                    {{ totalRegistrosExibidos }} de {{ totalRegistros }} registros
                  </div>
                  <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior"
                    nextLabel="Próximo" [maxSize]="5" [autoHide]="false" [responsive]="true">
                  </pagination-controls>
                </div>
              </div>

              <ng-template #semCliente>
                <p class="text-center">Nenhum cliente encontrado.</p>
              </ng-template>
            </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">

        <div class="card-body" style="padding-top: 10px;">
          <div class="d-flex justify-content-between align-items-center" style="padding-top: 10px;">
            <h4 class="card-title m-0">
              <i class="fas fa-list"></i> Lista de Titulos
            </h4>
          </div>
          <hr>

            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive" style="margin-top: 5px; max-height: 300px; overflow-y: auto;">
                  <table class="table table-sm table-hover font-size-12 tabelaOrdenada" style="margin-bottom: 8px;">
                    <thead class="tabela-custom table-td-scroll" style="position: sticky; top: 0; z-index: 1;">
                      <tr>
                        <th>ID Título</th>
                        <th>Número Documento</th>
                        <th>Número Contrato</th>
                        <th>Parcela</th>
                        <th>Vencimento</th>
                        <th>Valor Original</th>
                        <th>Saldo Devedor</th>
                        <th>Valor Atualizado</th>
                        <th>Pago</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="tituloSelecionado.length > 0; else sem">
                      <tr *ngFor="let titulo of tituloSelecionado">
                        <td>{{ titulo.id_titulo }}</td>
                        <td>{{ titulo.numero_documento }}</td>
                        <td>{{ titulo.numero_contrato }}</td>
                        <td>{{ titulo.parcela }}</td>
                        <td>{{ titulo.vencimento | dataBr }}</td>
                        <td>{{ titulo.valor_original | currency: 'BRL' }}</td>
                        <td>{{ titulo.saldo_devedor | currency: 'BRL' }}</td>
                        <td>{{ titulo.valor_atualizado | currency: 'BRL' }}</td>
                        <td>{{ titulo.pago | simNao }}</td>
                      </tr>
                    </tbody>
                    <ng-template #sem>
                      <tbody>
                        <tr>
                          <td colspan="8" class="text-center">Nenhum dado para exibir.</td>
                        </tr>
                      </tbody>
                    </ng-template>
                  </table>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>

  <app-cadastrar
      *ngIf="cadastrarCliente"
      (fecharCadastro)="fecharCadastro()"
      (clienteCadastrado)="pesquisaClientes($event)">
  </app-cadastrar>

  <app-editar
      *ngIf="editarCliente"
      [dadosCliente]="clienteParaEdicao"
      (clienteAtualizado)="pesquisaClientes($event)"
      (fecharEditar)="fecharEditar()">
  </app-editar>

