<div class="loading-overlay-card" *ngIf="loadingMin">
  <div class="spinner-border text-primary m-1" role="status">
  </div>
</div>
<div class="card-body" style="padding: 2px 0;">
  <div class="table-responsive" >
    <div>
    <div class="table-responsive" style="margin-top: 10px; max-height: 450px; overflow-y: auto;">
      <table class="table table-sm table-hover font-size-12 tabelaOrdenada">
        <thead class="tabela-custom table-td-scroll" style="position: sticky; top: 0; z-index: 1;">
          <tr>
            <th scope="col">#</th>
            <th sortable="id_recibo" (sort)="ordenar($event)" scope="col">id</th>
            <th sortable="data_recibo" (sort)="ordenar($event)" scope="col">Data recibo</th>
            <th sortable="valor_recibo" (sort)="ordenar($event)" scope="col">Valor recebido</th>
            <th sortable="cancel" (sort)="ordenar($event)" scope="col">Status</th>
            <th sortable="titulos" (sort)="ordenar($event)" scope="col">Tutlos</th>
            <th sortable="data_cadastro" (sort)="ordenar($event)" scope="col">Data Cadastro</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody *ngIf="dadosFiltrados.length > 0; else semAcordos">
          <tr *ngFor="let recibo of dadosFiltrados">
            <td><input
              type="checkbox"
              (change)="toggleSelecao(recibo.id_recibo, $event.target.checked)"
            /></td>
            <td> {{ recibo.id_recibo }} </td>
            <td> {{ dataBrasil(recibo.data_recibo) }} </td>
            <td> {{ recibo.valor_recibo | currency:'BRL' }} </td>
            <td> {{ status(recibo.cancel) }} </td>
            <td> {{ recibo.titulos }} </td>
            <td> {{ data(recibo.data_cadastro) }} </td>
            <td>
              <div class="dropup float-end" ngbDropdown>
                <a href="javascript: void(0);" class="dropdown-toggle arrow-none card-drop" ngbDropdownToggle data-toggle="dropdown"
                  aria-expanded="false">
                  <i class="mdi mdi-dots-vertical"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                  <a href="javascript:void(0);" class="dropdown-item"
                    style="padding-left: 10px; padding-right: 10px; padding-top: 2px;padding-bottom: 2px; font-size: 12px;">
                    <i class="fas fa-file-alt"></i> Gerar recibo</a>
                  <a href="javascript:void(0);" class="dropdown-item"
                    style="padding-left: 10px; padding-right: 10px;padding-top: 2px;padding-bottom: 2px; font-size: 12px;">
                    <i class="fas fa-times"></i> Cancelar</a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
        <ng-template #semAcordos>
          <tbody>
            <tr>
              <td colspan="12" class="text-center">Nenhum dado para exibir.</td>
            </tr>
          </tbody>
        </ng-template>
      </table>
    </div>
  </div>
  </div>
</div>


