<div *ngIf="loadingMin" class="text-center">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Carregando...</span>
  </div>
  <p class="mt-2 text-muted">Carregando dados...</p>
</div>

<div *ngIf="!loadingMin" class="row">
  <div class="col-lg-12">
    <div class="card shadow-lg border-0 rounded-3">
      <div class="card-header pt-2 pb-2" style="border-bottom-width: 0px;">
        <div class="row">
          <div class="col-md-6">
            <h5 class="mb-0"><i class="fas fa-filter resultados-icon"></i>
               Relatório Geral </h5>
          </div>

          <div class="col-md-6 text-end">
            <label class="d-inline-flex align-items-center">
              <div class="dropup float-end" ngbDropdown>
                <a href="javascript: void(0);" class="dropdown-toggle arrow-none card-drop" ngbDropdownToggle data-toggle="dropdown" aria-expanded="false">
                  <i class="mdi mdi-dots-vertical"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                  <a href="javascript:void(0);" class="dropdown-item" style="padding-left: 10px; padding-right: 10px; padding-top: 2px;padding-bottom: 2px; font-size: 13px;" (click)="gerarPDFPaisagem()"><i class="fas fa-file-pdf"></i> Exporta Pdf</a>
                  <a href="javascript:void(0);" class="dropdown-item" style="padding-left: 10px; padding-right: 10px;padding-top: 2px;padding-bottom: 2px; font-size: 13px;" (click)="exportExcel()"><i class="fas fa-file-excel"></i> Exporta Excel</a>
                </div>
              </div>

              <input
                type="text"
                class="form-control form-control-sm ms-2"
                placeholder="Pesquisar"
                [(ngModel)]="textoPesquisa"
                (input)="filtrar()" />
            </label>
          </div>
        </div>
      </div>

      <div class="card-body p-0" id="conteudoPDF">
        <div class="table-responsive" style="max-height: 600px; overflow-y: auto;">
          <table class="table table-sm table-hover table-bordered table-striped">
            <thead class="bg-light" style="position: sticky; top: 0; background-color: #f8f9fa; z-index: 1;">
              <tr>
                <th sortable="idlog" (sort)="ordenar($event)" scope="col">Id</th>
                <th sortable="data" (sort)="ordenar($event)" scope="col">Data</th>
                <th sortable="acao" (sort)="ordenar($event)" scope="col">Ação</th>
                <th sortable="descricao" (sort)="ordenar($event)" scope="col">Descição</th>
                <th sortable="user_login" (sort)="ordenar($event)" scope="col">Usuário</th>
                <th sortable="user_ip" (sort)="ordenar($event)" scope="col">Ip</th>
              </tr>
            </thead>
            <tbody *ngIf="dadosFiltrados.length > 0; else semDado">
              <tr *ngFor="let item of dadosFiltrados">
                <td>{{ item.idlog }}</td>
                <td>{{ data(item.data) }}</td>
                <td>{{ item.acao }}</td>
                <td>{{ item.descricao }}</td>
                <td>{{ item.user_login }}</td>
                <td>{{ item.user_ip }}</td>
              </tr>
            </tbody>
          </table>
          <ng-template #semDado>
            <tbody>
              <tr>
                <td colspan="6" class="text-center">Nenhum dado para exibir.</td>
              </tr>
            </tbody>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

