<div style="display: flex; justify-content: space-between; align-items: center; padding: 10px;">
  <h6 style="font-family: 'helvetica'; margin: 0;">Acionamentos</h6>
  <button class="btn btn-success mb-1 btn-sm" style="text-align: right;" (click)="abriracaoDeCobrancaModal(acaoDeCobrancaModal)">
    <i class="fas fa-plus"></i><strong> Incluir Acionamento</strong>
  </button>
</div>
<hr style="margin-top: 0px; margin-bottom: 0px;">
<div class="table-responsive font-size-12" style="margin-top: 10px; max-height: 300px; white-space: nowrap; overflow: auto; padding-left: 10px;padding-right: 2px;">
    <table class="table table-sm table-hover">
      <thead class="tabela-custom table-td-scroll" style="position: sticky; top: 0; z-index: 1;">
        <tr>
          <th>Id</th>
          <th>Descrição</th>
          <th>Data</th>
          <th>Mensagem</th>
          <th>Fone</th>
          <th>Proximo Acionamento</th>
          <th>Titulo</th>
          <th>Usúario</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let acionamento of acionamentos">
          <td>{{ acionamento.id_acionamento }}</td>
          <td>{{ acionamento.descricao }}</td>
          <td>{{ data(acionamento.data_acio) }}</td>
          <td>{{ acionamento.mensagem }}</td>
          <td>{{ acionamento.fone }}</td>
          <td>{{ data(acionamento.data_prox_acio) }}</td>
          <td>{{ acionamento.titulo }}</td>
          <td>{{ acionamento.usuario }}</td>
        </tr>
      </tbody>
    </table>
</div>
<ng-template #acaoDeCobrancaModal let-modal>
  <div class="modal-header modal-header-custom" style="background: #3e4988; margin: 0">
    <h6 class="modal-title" style="color: #ffffff">
      <i class="fas fa-bell acionamento-icon"></i> Incluir acionamento
    </h6>
    <button type="button" class="btn-close btn-close-white btn-close-small" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body modal-padding">
    <form [formGroup]="formAcionamento">
      <div class="col-md-12 form-group" style="padding-left: 3px; padding-right: 3px;">
        <select class="form-control form-control-sm mb-3" formControlName="id_acao" (click)="this.listarAcoesCobranca()">
          <option *ngFor="let acao of acoesCobranca" [value]="acao.id_acao">{{ acao.descricao }}</option>
        </select>
      </div>
      <textarea class="form-control" formControlName="mensagem" placeholder="Digite sua mensagem" rows="5"></textarea>
      <div class="d-flex justify-content-end align-items-center" style="margin-top: 5px;">
        <button type="button" class="btn btn-success btn-sm me-1" (click)="enviarAcionamento()">
          <i class="fas fa-paper-plane"></i> Salvar
        </button>
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="modal.dismiss()">
          <i class="fas fa-window-close"></i> Cancelar
        </button>
      </div>
    </form>
  </div>
</ng-template>

