
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" style="padding-right: 5px; padding-left: 5px;">
      <div class="card-body"  style="padding-top: 20px;">
        <div class="d-flex">
          <div class="flex-1 overflow-hidden">
            <div class="card">
              <div class="card-header pt-2 pb-2">
                <div class="row">
                  <div class="col-md-6" style="padding-left: 0px;">
                    <button class="btn btn-success btn-sm me-2"
                    (click)="abriracaoDeCobrancaModal(acaoDeCobrancaModal)">
                      <i class="fas fa-plus"></i>
                      Incluir Acionamento
                    </button>
                    <button class="btn btn-secondary btn-sm" (click)="abriModalagenda(agendaModal)">
                    <i class="fas fa-calendar"></i>
                      Agenda
                    </button>
                  </div>
                  <div class="col-md-6 text-end" style="padding-right: 0px;">
                    <div class="dropup float-end" ngbDropdown>
                      <a href="javascript: void(0);" class="dropdown-toggle arrow-none card-drop" ngbDropdownToggle data-toggle="dropdown"
                        aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                        <a href="javascript:void(0);" class="dropdown-item"
                          style="padding-left: 10px; padding-right: 10px; padding-top: 2px;padding-bottom: 2px; font-size: 12px;"
                          (click)="exportExcel()"><i class="fas fa-print"></i> Exporta Excel</a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="card-body" style="padding: 0px;">
                <div class="table-responsive font-size-12" style="overflow: auto; height: 300px;">
                  <div class="loading-overlay-card" *ngIf="loadingTabela">
                    <div class="spinner-border text-primary m-1" role="status">
                    </div>
                  </div>

                  <table class="table table-striped">
                    <thead class="tabela-custom table-td-scroll" style="position: sticky; top: 0; z-index: 1;">
                      <tr>
                        <th>Id</th>
                        <th>Descrição</th>
                        <th>Data</th>
                        <th>Mensagem</th>
                        <th>Fone</th>
                        <th>Proximo Acionamento</th>
                        <th>Titulo</th>
                        <th>Usúario</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="acionamentos.length > 0; else semAcionamentos">
                      <tr *ngFor="let acionamento of acionamentos">
                        <td>{{ acionamento.id_acionamento }}</td>
                        <td>{{ acionamento.descricao }}</td>
                        <td>{{ acionamento.data_acio | dataHoraBrasileira }}</td>
                        <td>
                          <span style="cursor: pointer"
                            [ngbTooltip]="acionamento.mensagem"
                            placement="top"
                            container="body"
                            (click)="copiarParaAreasTransferencia(acionamento.mensagem)"
                          >
                            {{ mostraConteudoTruncado(acionamento.mensagem, 40) }}
                          </span>
                        </td>
                        <td>{{ acionamento.fone | telefoneBr }}</td>
                        <td>{{ acionamento.data_prox_acio | dataHoraBrasileira }}</td>
                        <td>{{ acionamento.titulo }}</td>
                        <td>{{ acionamento.usuario }}</td>
                      </tr>
                    </tbody>
                    <ng-template #semAcionamentos>
                      <tbody>
                        <tr>
                          <td colspan="8" class="text-center">Nenhum dado para exibir.</td>
                        </tr>
                      </tbody>
                    </ng-template>
                  </table>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #acaoDeCobrancaModal let-modal>
    <div class="modal-header modal-header-custom" style="background: #3e4988; margin: 0">
      <h6 class="modal-title" style="color: #ffffff">
        <i class="fas fa-bell acionamento-icon"></i> Incluir acionamento
      </h6>
      <button type="button" class="btn-close btn-close-white btn-close-small" aria-label="Close" (click)="fechar()"></button>
    </div>

    <div class="loading-overlay-card" *ngIf="loadinAcaoCobanca">
      <div class="spinner-border text-primary m-1" role="status">
      </div>
    </div>

    <div class="modal-body modal-padding">
      <form [formGroup]="formAcionamento">
        <div class="row">
          <div class="col-md-6 form-group">
            <label for="id_acao" class="form-label">Selecione uma ação</label>
            <select class="form-control form-control-sm mb-1" formControlName="id_acao"
            [ngClass]="{'is-invalid': formAcionamento.get('id_acao').invalid && formAcionamento.get('id_acao').touched}">
              <option *ngFor="let acao of acoesCobranca" [value]="acao.id_acao">{{ acao.descricao }}</option>
            </select>

          </div>

          <div class="col-md-6 form-group">
            <label for="dataHora" class="form-label">Agendar para:</label>
            <span style="font-size: 8px; color: green; text-align: justify;">
              {{ formAcionamento.value.data_prox_acio }}
            </span>
            <input type="datetime-local" class="form-control form-control-sm mb-2" id="dataHora" formControlName="data_prox_acio" />
          </div>
          <div class="col-md-12 form-group">
            <textarea class="form-control form-control-sm mb-2" formControlName="mensagem" placeholder="Digite sua mensagem" rows="5"
            [ngClass]="{'is-invalid': formAcionamento.get('mensagem').invalid && formAcionamento.get('mensagem').touched}"></textarea>
          </div>
        </div>

        <div class="d-flex justify-content-end align-items-center" style="margin-top: 5px;">
          <button type="button" class="btn btn-success btn-sm me-1" (click)="enviarAcionamento()">
            <i class="fas fa-save"></i> Salvar
          </button>
          <button type="button" class="btn btn-outline-secondary btn-sm" (click)="fechar()">
            <i class="fas fa-times"></i> Cancelar
          </button>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #agendaModal let-modal>
    <div class="modal-header modal-header-custom" style="background: #3e4988; margin: 0">
      <h6 class="modal-title" style="color: #ffffff">
        <i class="fas fa-calendar"></i> Clientes na Agenda
      </h6>
      <button type="button" class="btn-close btn-close-white btn-close-small" aria-label="Close" (click)="fechar()"></button>
    </div>

    <div class="loading-overlay-card" *ngIf="loadingAgenda">
      <div class="spinner-border text-primary m-1" role="status">
      </div>
    </div>

    <div class="modal-body" style="padding: 0px !important;">
      <div *ngIf="!loadingAgenda && agenda && agenda.length > 0" class="table-responsive">
        <table class="table table-striped font-size-11" style="overflow: auto;">
          <thead class="tabela-custom table-td-scroll sticky-header">
            <tr>
              <th>#</th>
              <th>Nome</th>
              <th>CPF/CNPJ</th>
              <th>Fantasia</th>
              <th>Data Acionamento</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of agenda; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ cliente.nome }}</td>
              <td>{{ cliente.cnpj_cpf | cpfCnpj }}</td>
              <td>{{ cliente.fantasia }}</td>
              <td>{{ cliente.data_acionamento | dataHoraBrasileira }}</td>
              <td>{{ cliente.descricao_acao }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="!loadingAgenda && (!agenda || agenda.length === 0)" class="text-center">
        <p>Nenhum cliente encontrado na agenda.</p>
      </div>
      <div class="d-flex justify-content-end align-items-center" style="margin-top: 0px;">
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="fechar()" style="margin-right: 10px;margin-bottom: 10px;padding-top: 2px;padding-bottom: 2px;">
          <i class="fas fa-times"></i> Fechar
        </button>
      </div>
    </div>
  </ng-template>


