<div class="container-fluid">
  <div class="loading-overlay-pagina" *ngIf="loading">
    <div class="spinner-border text-primary m-1" role="status">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">

        <div class="card-header pt-2 pb-2">
          <div class="row">
            <div class="col-md-6">
              <h5 class="mb-0"><i class="fas fa-search me-2"></i> Cadastrar cliente manual </h5>
            </div>
            <div class="col-md-6 text-end">
              <button class="btn btn-outline-primary btn-sm me-2" (click)="abriModalTeste(modalTeste1)">
                <i class="mdi mdi-plus"></i>
                <strong> Modal de pagamento </strong>
              </button>

              <button class="btn btn-outline-primary btn-sm me-2" (click)="abriModalTeste(modalTeste)">
                <i class="mdi mdi-plus"></i>
                <strong> Abrir modal </strong>
              </button>

              <button class="btn btn-success btn-sm" (click)="abilitarCadastro()" *ngIf="!mostrarTabela">
                <i class="mdi mdi-plus"></i>
                <strong> Cadastrar </strong>
              </button>
            </div>
          </div>
        </div>

        <div class="card-body" style="padding-bottom: 8px;">
          <div class="d-flex">
            <div class="flex-1 overflow-hidden">
              <div class="d-flex justify-content-left mb-3">
                <input type="text" class="form-control form-control-sm me-2" [(ngModel)]="textoPesquisa"
                  placeholder="Pesquisar cliente existente..." style="width: 400px;"
                  [ngClass]="{'is-invalid': campoInvalido}" (blur)="validarCampo()">
                <button type="button" class="btn btn-secondary btn-sm" (click)="pesquisaClientes()"><i
                    class="fas fa-search me-2"></i> Pesquisar </button>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="mostrarTabela">
            <div class="col-md-12" *ngIf="listarCliente.length > 0; else semCliente">
              <div class="table-responsive" style="margin-top: 10px; max-height: 120px; overflow-y: auto;">
                <table class="table table-sm table-hover font-size-12 tabelaOrdenada">
                  <thead class="tabela-custom table-td-scroll" style="position: sticky; top: 0; z-index: 1;">
                    <tr>
                      <th sortable="fantasia" scope="col">Id Contratante</th>
                      <th sortable="id_cliente" scope="col">Id</th>
                      <th sortable="cnpj_cpf" scope="col">Cpf</th>
                      <th sortable="nome" scope="col">Nome</th>
                      <th sortable="soma_titulos_nao_pagos" scope="col">Data cadastro</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let cliente of listarCliente"
                      [ngClass]="{'selected': clienteSelecionado === cliente, 'table-row': true}"
                      (click)="selecionarcliente(cliente)">
                      <td>{{ cliente.id_contratante }}</td>
                      <td>{{ cliente.id_cliente }}</td>
                      <td>{{ cliente.cnpj_cpf | cpfCnpj }}</td>
                      <td>{{ cliente.nome}}</td>
                      <td>{{ cliente.data_cadastro | dataHoraBrasileira }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <ng-template #semCliente>
              <p class="text-center">Nenhum cliente encontrado.</p>
            </ng-template>
          </div>

          <div class="container-fluid" *ngIf="mostrarCardCliente">
            <div class="row">
              <div class="col-md-12">
                <div class="d-flex justify-content-between align-items-center" style="padding-top: 10px;">
                  <h4 class="card-title m-0">
                    <i class="fas fa-user-plus"></i> {{ title }}
                  </h4>
                </div>
                <hr>

                <div class="d-flex">
                  <div class="flex-1 overflow-hidden">
                    <div class="d-flex justify-content-between align-items-center">
                      <form [formGroup]="formCliente">
                        <div class="row">
                          <div class="col-md-2 form-group">
                            <label for="id_contratante" class="form-label">Contratante</label>
                            <select class="form-control form-control-sm" formControlName="id_contratante"
                            [ngClass]="{'is-invalid': formCliente.get('id_contratante').invalid && formCliente.get('id_contratante').touched}">
                              <option value="">Selecione</option>
                              <option *ngFor="let contratante of contratantes" [value]="contratante.id_contratante">
                                {{ contratante.fantasia }}
                              </option>
                            </select>
                          </div>

                          <div class="col-md-4 form-group">
                            <label for="nome" class="form-label">Nome</label>
                            <input type="text" id="nome" class="form-control form-control-sm" formControlName="nome" placeholder="Nome"/>
                          </div>

                          <div class="col-md-2 form-group">
                            <label for="tipo_pessoa" class="form-label">Tipo Pessoa</label>
                            <select id="tipo_pessoa" class="form-control form-control-sm" formControlName="tipo_pessoa" placeholder="Tipo pessoa">
                              <option value="">Selecione</option>
                              <option value="F">Física</option>
                              <option value="J">Jurídica</option>
                            </select>
                          </div>

                          <div class="col-md-2 form-group">
                            <label for="cnpj_cpf" class="form-label">CNPJ/CPF</label>
                            <input type="text" id="cnpj_cpf" class="form-control form-control-sm" formControlName="cnpj_cpf" mascaraCpfCnpj [appSomenteLeitura]="editar"
                            [ngClass]="{'is-invalid': formCliente.get('cnpj_cpf').invalid && formCliente.get('cnpj_cpf').touched}" placeholder="Cnpj/Cpf"/>
                          </div>

                          <div class="col-md-2 form-group">
                            <label for="rg" class="form-label">RG</label>
                            <input type="text" id="rg" class="form-control form-control-sm" formControlName="rg" placeholder="Rg"/>
                          </div>

                          <div class="col-md-2 form-group">
                            <label for="orgao_expedidor" class="form-label">Órgão Expedidor</label>
                            <input type="text" id="orgao_expedidor" class="form-control form-control-sm" formControlName="orgao_expedidor" placeholder="Órgão Expedidor"/>
                          </div>

                          <div class="col-md-2 form-group">
                            <label for="cep" class="form-label">CEP</label>
                            <input type="text" id="cep" class="form-control form-control-sm" formControlName="cep" mask="00000-000" (blur)="viaCep($event.target.value)"
                            [ngClass]="{'is-invalid': formCliente.get('cep').invalid && formCliente.get('cep').touched}" placeholder="Cep">
                          </div>

                          <div class="col-md-4 form-group">
                            <label for="endereco" class="form-label">Endereço</label>
                            <input type="text" id="endereco" class="form-control form-control-sm" formControlName="endereco" [value]="cep?.endereco" (input)="cep.endereco = $event.target.value" placeholder="Endereço"/>
                          </div>

                          <div class="col-md-2 form-group">
                            <label for="numero" class="form-label">Número</label>
                            <input type="text" id="numero" class="form-control form-control-sm" formControlName="numero" placeholder="Número"/>
                          </div>

                          <div class="col-md-2 form-group">
                            <label for="complemento" class="form-label">Complemento</label>
                            <input type="text" id="complemento" class="form-control form-control-sm" formControlName="complemento" [value]="cep?.complemento" (input)="cep.complemento = $event.target.value" placeholder="Complemento"/>
                          </div>

                          <div class="col-md-6 form-group">
                            <label for="bairro" class="form-label">Bairro</label>
                            <input type="text" id="bairro" class="form-control form-control-sm" formControlName="bairro" [value]="cep?.bairro" (input)="cep.bairro = $event.target.value" placeholder="Bairro"/>
                          </div>

                          <div class="col-md-4 form-group">
                            <label for="cidade" class="form-label">Cidade</label>
                            <input type="text" id="cidade" class="form-control form-control-sm" formControlName="cidade" [value]="cep?.cidade" (input)="cep.cidade = $event.target.value" placeholder="Cidade"/>
                          </div>

                          <div class="col-md-2 form-group">
                            <label for="uf" class="form-label">UF</label>
                            <select class="form-control form-control-sm" formControlName="uf" placeholder="UF" [value]="cep?.uf" (input)="cep.uf = $event.target.value">
                              <option value="">--</option>
                              <option value="AC">AC</option>
                              <option value="AL">AL</option>
                              <option value="AM">AM</option>
                              <option value="AP">AP</option>
                              <option value="BA">BA</option>
                              <option value="CE">CE</option>
                              <option value="DF">DF</option>
                              <option value="ES">ES</option>
                              <option value="GO">GO</option>
                              <option value="MA">MA</option>
                              <option value="MG">MG</option>
                              <option value="MS">MS</option>
                              <option value="MT">MT</option>
                              <option value="PA">PA</option>
                              <option value="PB">PB</option>
                              <option value="PE">PE</option>
                              <option value="PI">PI</option>
                              <option value="PR">PR</option>
                              <option value="RJ">RJ</option>
                              <option value="RN">RN</option>
                              <option value="RO">RO</option>
                              <option value="RR">RR</option>
                              <option value="RS">RS</option>
                              <option value="SC">SC</option>
                              <option value="SR">SE</option>
                              <option value="SP">SP</option>
                              <option value="TO">TO</option>
                            </select>
                          </div>

                          <div class="col-md-2 form-group">
                            <label for="sexo" class="form-label">Sexo</label>
                            <select id="sexo" class="form-control form-control-sm" formControlName="sexo">
                              <option value="">Selecione</option>
                              <option value="M">Masculino</option>
                              <option value="F">Feminino</option>
                            </select>
                          </div>

                          <div class="col-md-3 form-group">
                            <label for="pai" class="form-label">Nome do Pai</label>
                            <input type="text" id="pai" class="form-control form-control-sm" formControlName="pai" placeholder="Nome do pai"/>
                          </div>

                          <div class="col-md-3 form-group">
                            <label for="mae" class="form-label">Nome da Mãe</label>
                            <input type="text" id="mae" class="form-control form-control-sm" formControlName="mae" placeholder="Nome da mae"/>
                          </div>

                          <div class="col-md-4 form-group">
                            <label for="conjuge" class="form-label">Cônjuge</label>
                            <input type="text" id="conjuge" class="form-control form-control-sm" formControlName="conjuge" placeholder="Conjuge"/>
                          </div>

                          <div class="col-md-3 form-group">
                            <label for="trabalho" class="form-label">Trabalho</label>
                            <input type="text" id="trabalho" class="form-control form-control-sm" formControlName="trabalho" placeholder="Trabalho"/>
                          </div>

                          <div class="col-md-2 form-group">
                            <label for="cargo" class="form-label">Cargo</label>
                            <input type="text" id="cargo" class="form-control form-control-sm" formControlName="cargo" placeholder="Cargo"/>
                          </div>

                          <div class="col-md-2 form-group">
                            <label for="valor_renda" class="form-label">Valor Renda</label>
                            <input type="number" id="valor_renda" class="form-control form-control-sm" formControlName="valor_renda" min="0" placeholder="Valor renda" appVerificarValorNegativo/>
                          </div>

                          <div class="col-md-3 form-group">
                            <label for="melhor_canal_localizacao" class="form-label">Melhor Canal de Localização</label>
                            <input type="text" id="melhor_canal_localizacao" class="form-control form-control-sm"
                              formControlName="melhor_canal_localizacao"  placeholder="Melhor canal localização"/>
                          </div>

                          <div class="col-md-2 form-group">
                            <label for="data_nascimento" class="form-label">Data de Nascimento</label>
                            <input type="date" id="data_nascimento" class="form-control form-control-sm" formControlName="data_nascimento" />
                          </div>

                          <div class="d-flex justify-content-end mt-3">
                            <button type="submit" class="btn btn-sm me-1" *ngIf="idCliente"
                              [ngClass]="{
                                'btn-primary': editar,
                                'btn-success': !editar
                              }"
                              (click)="abriModalTitulo(tituloModal)"
                            >
                              <i class="fas fa-save"></i> {{ editar ? 'Cadastrar Titulo' : 'Cadastrar Titulo' }}
                            </button>

                            <button
                              type="submit"
                              class="btn btn-sm me-1"
                              [ngClass]="{
                                'btn-primary': editar,
                                'btn-success': !editar
                              }"
                              (click)="salvarCliente()"
                            >
                              <i class="fas fa-save"></i> {{ editar ? 'Atualizar' : 'Salvar' }}
                            </button>
                            <button type="button" class="btn btn-outline-secondary btn-sm" (click)="cancela()">
                              <i class="fas fa-times"></i> Cancelar
                            </button>
                          </div>
                        </div>
                      </form>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #tituloModal let-modal>
  <div class="modal-header modal-header-custom" style="background: #1cbb8c;">
    <h6 class="modal-title" style="color: #ffffff"><i class="fas fa-list"></i> Cadastrar Titulo </h6>
    <button type="button" class="btn-close btn-close-white btn-close-small" aria-label="Close"
      (click)="fechar()"></button>

  </div>
  <div class="modal-body modal-padding">
    <form [formGroup]="formTitulo">
      <div class="row">
        <div class="col-md-3 form-group">
          <label for="tipo_titulo" class="form-label">Tipo de Título</label>
          <select type="text" class="form-control form-control-pad form-control-sm" formControlName="tipo_titulo"
            id="tipo_titulo" name="tipo_titulo"
            [ngClass]="{'is-invalid': formTitulo.get('tipo_titulo').invalid && formTitulo.get('tipo_titulo').touched}">
            <option value="">Selecione</option>
            <option *ngFor="let tipo of tipoTitulo" [value]="tipo.id_tipo_titulo">{{ tipo.tipo_titulo }}</option>
          </select>
        </div>
        <div class="col-md-2 form-group">
          <label for="parcela" class="form-label">Parcela</label>
          <input type="number" class="form-control form-control-pad form-control-sm" formControlName="parcela"
            id="parcela" name="parcela"
            [ngClass]="{'is-invalid': formTitulo.get('parcela').invalid && formTitulo.get('parcela').touched}"
            (input)="verificarValorNegativo('parcela')">
        </div>
        <div class="col-md-2 form-group">
          <label for="plano" class="form-label">Plano</label>
          <input type="number" class="form-control form-control-pad form-control-sm" formControlName="plano" id="plano"
            name="plano" [ngClass]="{'is-invalid': formTitulo.get('plano').invalid && formTitulo.get('plano').touched}"
            (input)="verificarValorNegativo('plano')">
        </div>
        <div class="col-md-5 form-group">
          <label for="numero_contrato" class="form-label">Número do Contrato</label>
          <input type="text" class="form-control form-control-pad form-control-sm" formControlName="numero_contrato"
            id="numero_contrato" name="numero_contrato"
            [ngClass]="{'is-invalid': formTitulo.get('numero_contrato').invalid && formTitulo.get('numero_contrato').touched}">
        </div>
        <div class="col-md-4 form-group">
          <label for="numero_documento" class="form-label">Número do Documento</label>
          <input type="text" class="form-control form-control-pad form-control-sm" formControlName="numero_documento"
            id="numero_documento" name="numero_documento"
            [ngClass]="{'is-invalid': formTitulo.get('numero_documento').invalid && formTitulo.get('numero_documento').touched}">
        </div>
        <div class="col-md-3 form-group">
          <label for="produto" class="form-label">Produto</label>
          <input type="text" class="form-control form-control-pad form-control-sm" formControlName="produto"
            id="produto" name="produto"
            [ngClass]="{'is-invalid': formTitulo.get('produto').invalid && formTitulo.get('produto').touched}">
        </div>
        <div class="col-md-3 form-group">
          <label for="vencimento" class="form-label">Vencimento</label>
          <input type="date" class="form-control form-control-pad form-control-sm" formControlName="vencimento"
            id="vencimento" name="vencimento"
            [ngClass]="{'is-invalid': formTitulo.get('vencimento').invalid && formTitulo.get('vencimento').touched}">
        </div>
        <div class="col-md-2 form-group">
          <label for="valor" class="form-label">Valor</label>
          <input type="number" class="form-control form-control-pad form-control-sm" formControlName="valor" id="valor"
            name="valor" [ngClass]="{'is-invalid': formTitulo.get('valor').invalid && formTitulo.get('valor').touched}"
            (input)="verificarValorNegativo('valor')">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer" style="padding-top: 5px; padding-bottom: 5px;">
    <button type="button" class="btn btn-success btn-sm" (click)="cadastrarTitulo()"><i class="fas fa-save"></i>
      Salvar</button>
    <button type="button" class="btn btn-outline-secondary btn-sm" (click)="fechar()"><i class="fas fa-times"></i>
      Cancelar</button>
  </div>
</ng-template>

<ng-template #modalTeste let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Credenciais</h5>
    <button type="button" class="btn-close btn-close-small" (click)="fechar()"></button>
  </div>

  <div class="modal-body">
    <p><strong>Aplicação:</strong> 542833570 - MercadoPago application (mp-app-542833570)</p>

    <!-- Abas -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#customCheckout">Checkout personalizado</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#checkoutMP">Checkout de Mercado Pago</a>
      </li>
    </ul>

    <div class="tab-content mt-3">
      <!-- Aba Checkout Personalizado -->
      <div class="tab-pane fade show active" id="customCheckout">
        <h6>Modo Sandbox</h6>
        <div class="credencial-box">
          <p><strong>Public key:</strong> TEST-26225e4e-46c2-4608-9f46-92f78e17ce22</p>
          <p><strong>Access token:</strong> TEST-6303223304445950-041119-26870b8649bd037479cc07f817283c2b5-542833570</p>
        </div>

        <h6>Modo Produção</h6>
        <div class="credencial-box">
          <p><strong>Public key:</strong> APP_USR-83b493b0-d700-4bab-916b-3b1cc3ee5747</p>
          <p><strong>Access token:</strong> APP_USR-6303223304445950-041119-2258a73cb301ac1d1cab88b1eccf12c1-542833570</p>
        </div>
      </div>

      <!-- Aba Checkout de Mercado Pago -->
      <div class="tab-pane fade" id="checkoutMP">
        <p>Conteúdo do Checkout de Mercado Pago...</p>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" >Fechar</button>
    <button type="button" class="btn btn-primary btn-renovar btn-sm" >
      <i class="fas fa-sync-alt"></i> Renovar credenciais
    </button>
  </div>


</ng-template>

<ng-template #modalTeste1 let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Retorno de pagamento</h5>
    <button type="button" class="btn-close btn-close-small" (click)="fechar()"></button>
  </div>

  <div class="modal-content">
    <div class="modal-body text-center">

      <!-- Texto principal -->
      <h5 class="fw-bold">Você criou um link de pagamento de R$ 72,00</h5>
      <p class="text-muted">
        O link expira em <strong>10 dez 2023</strong> às <strong>15:27</strong>.
        Compartilhe como você quiser para receber o pagamento na sua Conta Stone.
      </p>

      <!-- Botões de compartilhamento -->
      <div class="compartilhar-container">
        <button class="btn btn-light"><i class="fas fa-envelope"></i> Email</button>
        <button class="btn btn-light"><i class="fab fa-whatsapp"></i> WhatsApp</button>
        <button class="btn btn-light"><i class="fab fa-facebook-messenger"></i> Messenger</button>
        <button class="btn btn-light"><i class="fas fa-ellipsis-h"></i> Outros</button>
      </div>

      <!-- Link de pagamento -->
      <div class="link-box">
        <input type="text" class="form-control" value="https://link.stone.com.br/t/chk_dzqw..." readonly />
      </div>

      <!-- Botão de copiar -->
      <button class="btn btn-success btn-copiar" (click)="copiarLink()">
        <i class="fas fa-copy"></i> Copiar link
      </button>
    </div>
  </div>


</ng-template>
