<div>
  <div class="container-fluid p-0">
    <div class="row g-0">
      <div class="col-lg-4">
        <div class="authentication-page-content p-4 d-flex align-items-center min-vh-100">
          <div class="w-100">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <div>
                  <div class="text-center">
                    <h4 class="font-size-18 mt-4">Recuperar acesso</h4>
                  </div>

                  <div class="p-2 mt-5">
                    <div class="alert alert-success mb-4" role="alert">
                      Digite seu e-mail e as instruções serão enviadas para você!
                    </div>
                    <form class="form-horizontal" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                      @if(error){<ngb-alert type="danger" [dismissible]="false">{{ error }}</ngb-alert>}

                      <div class="form-group auth-form-group-custom mb-4">
                        <label for="email">E-mail</label>
                        <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="E-mail">
                        @if(submitted && f.email.errors){
                        <div class="invalid-feedback">
                          @if(f.email.errors.required){
                          <div>E-mail é obrigatório</div>
                          }
                          @if(f.email.errors.email){
                          <div>O e-mail deve ser um endereço de e-mail válido</div>
                          }
                        </div>
                        }
                      </div>

                      <div class="mt-4 text-center">
                        <button class="btn btn-primary w-md waves-effect waves-light" type="submit" ><i class="mdi mdi-lock me-1"></i> Redefinir</button>
                      </div>
                    </form>
                  </div>

                  <div class="mt-5 text-center">
                    <p>Já tenho uma conta?
                      <a routerLink="/account/login" class="fw-medium text-primary">
                        Faça login
                      </a> </p>
                  </div>
                </div>

                <div class="mt-5 text-center">
                  <p>
                    &copy; 2024 Portal Facilitador
                    <br>
                    <i class="fab fa-whatsapp"></i> WhatsApp: <a href="tel:+5585996233800">85996233800</a>
                    <br>
                    <i class="fas fa-envelope"></i> Email: <a href="mailto:pedroamaral625&#64;gmail.com">pedroamaral625&#64;gmail.com</a>
                  </p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="authentication-bg">
          <div class="bg-overlay"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end page -->
