<div class="loading-overlay-pagina" *ngIf="loading">
  <div class="spinner-border text-primary m-1" role="status">
  </div>
</div>

<div>
  <div class="container-fluid p-0">
    <div class="row g-0">
      <div class="col-lg-4">
        <div class="authentication-page-content p-4 d-flex align-items-center min-vh-100">
          <div class="w-100">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <div>
                  <div class="text-center">
                    <h4 class="font-size-18 mt-4">Recuperar acesso</h4>
                  </div>
                  <div class="p-2 mt-5">
                    <div *ngIf="mensagem" class="alert" [ngClass]="{'alert-success': success, 'alert-danger': !success}" role="alert">
                      {{ mensagem }}
                    </div>
                    <form class="form-horizontal" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                      <div class="form-group auth-form-group-custom mb-4">
                        <label for="email">E-mail</label>
                        <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="E-mail">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">E-mail é obrigatório</div>
                          <div *ngIf="f.email.errors.email">O e-mail deve ser um endereço de e-mail válido</div>
                        </div>
                      </div>

                      <div class="mt-4 text-center">
                        <button class="btn btn-primary w-md waves-effect waves-light" type="submit"><i class="mdi mdi-lock me-1"></i> Redefinir</button>
                      </div>
                    </form>
                  </div>

                  <div class="mt-5 text-center">
                    <p>Volta para o
                      <a routerLink="/account/login" class="fw-medium text-primary">login</a>
                    </p>
                  </div>
                </div>

                <div class="mt-5 text-center">
                  <p>&copy; 2024 Portal Facilitador
                    <br>
                    <i class="fab fa-whatsapp"></i> WhatsApp: <a href="tel:+5585996233800">85996233800</a>
                    <br>
                    <i class="fas fa-envelope"></i> Email: <a href="mailto:pedroamaral625@gmail.com">pedroamaral625&#64;gmail.co</a>
                  </p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="authentication-bg">
          <div class="bg-overlay"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end page -->
