.col-cnpj {
  min-width: 150px;
}

.col-nome-fantasia {
  min-width: 200px;
}

.col-endereco {
  min-width: 250px;
}

.col-numero {
  min-width: 100px;
}

.col-bairro {
  min-width: 150px;
}

.col-cidade {
  min-width: 150px;
}

.col-estado {
  min-width: 50px;
}

.col-cep {
  min-width: 100px;
}

.col-tipo-titulo {
  min-width: 150px;
}

.col-parcela {
  min-width: 100px;
}

.col-plano {
  min-width: 150px;
}

.col-titulos {
  min-width: 100px;
}

.col-documento {
  min-width: 150px;
}

.col-produto {
  min-width: 150px;
}

.col-vencimento {
  min-width: 150px;
}

.col-valor {
  min-width: 100px;
}

.col-celular-whatsapp {
  min-width: 150px;
}

.col-fone-comercial {
  min-width: 150px;
}

.col-fone-residencial {
  min-width: 150px;
}

.col-fone-outros {
  min-width: 150px;
}

.col-email-1 {
  min-width: 200px;
}

.col-email-2 {
  min-width: 200px;
}
