<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header pt-2 pb-2">
          <div class="col-md-12">
            <h5 class="mb-0">
              <i class="fas fa-history"></i>
              Relatório de logs do sistema
            </h5>
          </div>
        </div>

        <div class="card-body">
          <form [formGroup]="formPesquisar">
            <div class="row">

              <div class="col-md-2 form-group">
                <label for="tipo" class="form-label">Tipo do Relatório</label>
                <select class="form-control form-control-sm" formControlName="tipo"
                  [ngClass]="{'is-invalid': formPesquisar.get('tipo').invalid && formPesquisar.get('tipo').touched}">
                  <option value="">Selecione</option>
                  <option value="1">Logs Geral</option>
                </select>
              </div>

              <div class="col-md-2 form-group">
                <label for="data_inicio" class="form-label">Data Inicio</label>
                <input type="date" id="data_inicio" class="form-control form-control-sm" formControlName="data_inicio" appDataMes="inicio"
                  [ngClass]="{'is-invalid': formPesquisar.get('data_inicio').invalid && formPesquisar.get('data_inicio').touched}" />
              </div>

              <div class="col-md-2 form-group">
                <label for="data_fim" class="form-label">Data Fim</label>
                <input type="date" id="data_fim" class="form-control form-control-sm" formControlName="data_fim" appDataMes="fim"
                  [ngClass]="{'is-invalid': formPesquisar.get('data_fim').invalid && formPesquisar.get('data_fim').touched}" />
              </div>

              <div class="col-md-2 form-group d-flex align-items-end">
                <button type="submit" class="btn btn-secondary btn-sm w-100" (click)="pesquisar()"><i
                    class="fas fa-search"></i> Pesquisar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="tipoRelatorio === '1' && exibirCard">
    <app-logs-geral [filtros]="filtros">
    </app-logs-geral>
  </div>

