<div *ngIf="loadingMin" class="text-center">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Carregando...</span>
  </div>
  <p class="mt-2 text-muted">Carregando dados...</p>
</div>

<div *ngIf="!loadingMin" class="row">
  <div class="col-lg-12">
    <div class="card shadow-lg border-0 rounded-3">
      <div class="card-header pt-2 pb-2" style="border-bottom-width: 0px;">
        <div class="row">
          <div class="col-md-6">
            <h5 class="mb-0"><i class="fas fa-filter resultados-icon"></i>
               Relatório Geral </h5>
          </div>

          <div class="col-md-6 text-end">
            <label class="d-inline-flex align-items-center">
              <div class="dropup float-end" ngbDropdown>
                <a href="javascript: void(0);" class="dropdown-toggle arrow-none card-drop" ngbDropdownToggle data-toggle="dropdown" aria-expanded="false">
                  <i class="mdi mdi-dots-vertical"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                  <a href="javascript:void(0);" class="dropdown-item" style="padding-left: 10px; padding-right: 10px; padding-top: 2px;padding-bottom: 2px; font-size: 13px;" (click)="abrirModalRelatorio(modalResumo)"><i class="fas fa-file-pdf"></i> Relatório</a>
                  <a href="javascript:void(0);" class="dropdown-item" style="padding-left: 10px; padding-right: 10px;padding-top: 2px;padding-bottom: 2px; font-size: 13px;" (click)="exportExcel()"><i class="fas fa-file-excel"></i> Exporta Excel</a>
                </div>
              </div>

              <input
                type="text"
                class="form-control form-control-sm ms-2"
                placeholder="Pesquisar"
                [(ngModel)]="textoPesquisa"
                (input)="filtrar()" />
            </label>
          </div>
        </div>
      </div>

      <div class="card-body p-0">
        <div class="table-responsive" style="max-height: 600px; overflow-y: auto;">
          <table class="table table-sm table-hover table-striped">
            <thead class="bg-light" style="position: sticky; top: 0; background-color: #f8f9fa; z-index: 1;">
              <tr>
                <th sortable="fantasia" (sort)="ordenar($event)" scope="col">Fantasia</th>
                <th sortable="nome" (sort)="ordenar($event)" scope="col">Nome</th>
                <th sortable="cnpj_cpf" (sort)="ordenar($event)" scope="col">CNPJ/CPF</th>
                <th sortable="numero_contrato" (sort)="ordenar($event)" scope="col">Contrato</th>
                <th sortable="produto" (sort)="ordenar($event)" scope="col">Produto</th>
                <th sortable="numero_documento" (sort)="ordenar($event)" scope="col">Número Documento</th>
                <th sortable="id_recibo" (sort)="ordenar($event)" scope="col">Id Recibo</th>
                <th sortable="vencimento" (sort)="ordenar($event)" scope="col">Vencimento</th>
                <th sortable="parcela" (sort)="ordenar($event)" scope="col">Parcela</th>
                <th sortable="plano" (sort)="ordenar($event)" scope="col">Plano</th>
                <th sortable="pagamento" (sort)="ordenar($event)" scope="col">Data Pagamento</th>
                <th sortable="valor_pago" (sort)="ordenar($event)" scope="col">Valor Pago</th>
                <th sortable="valor_original" (sort)="ordenar($event)" scope="col">Valor Original</th>
                <th sortable="valor_juros" (sort)="ordenar($event)" scope="col">Valor Juros</th>
                <th sortable="valor_multa" (sort)="ordenar($event)" scope="col">Valor Multa</th>
                <th sortable="valor_taxa" (sort)="ordenar($event)" scope="col">Valor Taxa</th>
                <th sortable="desc_principal" (sort)="ordenar($event)" scope="col">Desc Principal</th>
                <th sortable="desc_multa" (sort)="ordenar($event)" scope="col">Desc Multa</th>
                <th sortable="desc_juros" (sort)="ordenar($event)" scope="col">Desc Juros</th>
                <th sortable="receita_principal" (sort)="ordenar($event)" scope="col">Receita Principipal</th>
                <th sortable="receita_multa" (sort)="ordenar($event)" scope="col">Receita Multa</th>
                <th sortable="receita_juros" (sort)="ordenar($event)" scope="col">Receita Juros</th>
                <th sortable="receita_taxa" (sort)="ordenar($event)" scope="col">Receita Taxa</th>
                <th sortable="comissao" (sort)="ordenar($event)" scope="col">Comissão</th>
                <th sortable="repasse" (sort)="ordenar($event)" scope="col">Repasse</th>
              </tr>
              <tbody *ngIf="dadosFiltrados.length > 0; else semDado">
                <tr *ngFor="let item of dadosFiltrados">
                  <td>{{ item.fantasia }}</td>
                  <td>{{ item.nome }}</td>
                  <td>{{ item.cnpj_cpf | cpfCnpj }}</td>
                  <td>{{ item.numero_contrato }}</td>
                  <td>{{ item.produto }}</td>
                  <td>{{ item.numero_documento }}</td>
                  <td>{{ item.id_recibo }}</td>
                  <td>{{ item.vencimento | dataBr }}</td>
                  <td>{{ item.parcela }}</td>
                  <td>{{ item.plano }}</td>
                  <td>{{ item.pagamento | dataBr }}</td>
                  <td>{{ item.valor_pago | currency: 'BRL':'symbol':'1.2-2' }}</td>
                  <td>{{ item.valor_original | currency: 'BRL':'symbol':'1.2-2' }}</td>
                  <td>{{ item.valor_juros | currency: 'BRL':'symbol':'1.2-2' }}</td>
                  <td>{{ item.valor_multa | currency: 'BRL':'symbol':'1.2-2' }}</td>
                  <td>{{ item.valor_taxa | currency: 'BRL':'symbol':'1.2-2' }}</td>
                  <td>{{ item.desc_principal | currency: 'BRL':'symbol':'1.2-2' }}</td>
                  <td>{{ item.desc_multa | currency: 'BRL':'symbol':'1.2-2' }}</td>
                  <td>{{ item.desc_juros | currency: 'BRL':'symbol':'1.2-2' }}</td>
                  <td>{{ item.receita_principal | currency: 'BRL':'symbol':'1.2-2' }}</td>
                  <td>{{ item.receita_multa | currency: 'BRL':'symbol':'1.2-2' }}</td>
                  <td>{{ item.receita_juros | currency: 'BRL':'symbol':'1.2-2' }}</td>
                  <td>{{ item.receita_taxa | currency: 'BRL':'symbol':'1.2-2' }}</td>
                  <td>{{ item.comissao | currency: 'BRL':'symbol':'1.2-2' }}</td>
                  <td>{{ item.repasse | currency: 'BRL':'symbol':'1.2-2' }}</td>
                </tr>
                <tr class="tabela-custom">
                  <td colspan="10" style="text-align: right; font-weight: bold;">Total Pagamentos:</td>
                  <td style="font-weight: bold;">{{ totalPagamentos }}</td>
                  <td style="font-weight: bold;">{{ valorTotalPago | currency: 'BRL':'symbol':'1.2-2' }}</td>
                  <td style="font-weight: bold;">{{ valorTotalOriginal | currency: 'BRL':'symbol':'1.2-2' }}</td>
                  <td style="font-weight: bold;">{{ valorTotalJuros | currency: 'BRL':'symbol':'1.2-2' }}</td>
                  <td style="font-weight: bold;">{{ valorTotalMulta | currency: 'BRL':'symbol':'1.2-2' }}</td>
                  <td style="font-weight: bold;">{{ valorTotalTaxa | currency: 'BRL':'symbol':'1.2-2' }}</td>
                  <td style="font-weight: bold;">{{ valorDescPrincipal | currency: 'BRL':'symbol':'1.2-2' }}</td>
                  <td style="font-weight: bold;">{{ valorDescMulta | currency: 'BRL':'symbol':'1.2-2' }}</td>
                  <td style="font-weight: bold;">{{ valorDescJuros | currency: 'BRL':'symbol':'1.2-2' }}</td>
                  <td style="font-weight: bold;">{{ valorReceitaPrincipal | currency: 'BRL':'symbol':'1.2-2' }}</td>
                  <td style="font-weight: bold;">{{ valorReceitaMulta | currency: 'BRL':'symbol':'1.2-2' }}</td>
                  <td style="font-weight: bold;">{{ valorReceitaJuros | currency: 'BRL':'symbol':'1.2-2' }}</td>
                  <td style="font-weight: bold;">{{ valorReceitaTaxa | currency: 'BRL':'symbol':'1.2-2' }}</td>
                  <td style="font-weight: bold;">{{ valorComissao | currency: 'BRL':'symbol':'1.2-2' }}</td>
                  <td style="font-weight: bold;">{{ valorRepasse | currency: 'BRL':'symbol':'1.2-2' }}</td>
                </tr>
              </tbody>
          </table>
          <ng-template #semDado>
            <tbody>
              <tr>
                <td colspan="21" class="text-center">Nenhum dado para exibição.</td>
              </tr>
            </tbody>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalResumo let-modal>
  <div class="modal-header modal-header-custom" style="background-color: rgb(124, 124, 124);">
    <h6 class="modal-title" style="color: #ffffff">
      <i class="fas fa-building"></i> Relatório Financeiro
    </h6>
    <button type="button" class="btn-close btn-close-white btn-close-small" aria-label="Close" (click)="fechar()"></button>
  </div>

  <div class="modal-body modal-padding" id="conteudoPDF" style="font-size: 11px;">
    <div class="container">
      <h5 class="text-center mb-4">Resumo Financeiro</h5>
      <div class="row mb-3">
        <div class="col-6"><strong>Fantasia:</strong> teste</div>
        <div class="col-6"><strong>Nome:</strong> teste 2</div>
      </div>
      <div class="row mb-3">
        <div class="col-6"><strong>CNPJ/CPF:</strong> 75675757</div>
        <div class="col-6"><strong>Contrato:</strong> 456546546</div>
      </div>
      <div class="row mb-3">
        <div class="col-6"><strong>Produto:</strong> energia</div>
        <div class="col-6"><strong>Número Documento:</strong> 12345</div>
      </div>
      <div class="row mb-3">
        <div class="col-6"><strong>Data Pagamento:</strong> 10/12/2024</div>
        <div class="col-6"><strong>Valor Pago:</strong> 100</div>
      </div>
      <hr>
      <h6 class="text-center mb-3">Detalhes Financeiros</h6>
      <table class="table table-sm table-bordered">
        <thead class="table-light">
          <tr>
            <th>Descrição</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Valor Original</td>
            <td>1500</td>
          </tr>
          <tr>
            <td>Valor Juros</td>
            <td>15</td>
          </tr>
          <tr>
            <td>Valor Multa</td>
            <td>5</td>
          </tr>
          <tr>
            <td>Valor Taxa</td>
            <td>2</td>
          </tr>
          <tr>
            <td>Desconto Principal</td>
            <td>5</td>
          </tr>
          <tr>
            <td>Receita Principal</td>
            <td>2</td>
          </tr>
          <tr>
            <td>Comissão</td>
            <td>15</td>
          </tr>
          <tr>
            <td>Repasse</td>
            <td>2</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="modal-footer" style="padding-top: 5px; padding-bottom: 5px;">
    <button type="button" class="btn btn-outline-primary btn-sm" (click)="gerarPDF()"><i class="fas fa-print"></i>
      Imprimir PDF</button>
    <button type="button" class="btn btn-outline-secondary btn-sm" (click)="fechar()"><i class="fas fa-times"></i>
      Cancelar</button>
  </div>
</ng-template>

