<ng-template #emailModal let-modal>
  <div class="modal-header modal-header-custom" style="background: #545a59; margin: 0">
    <h6 class="modal-title" style="color: #ffffff">
      <i class="fas fa-at"></i> Envio de Email - {{ destinatarioEmail }}
    </h6>
    <button type="button" class="btn-close btn-close-white btn-close-small" aria-label="Close" (click)="fechar()"></button>
  </div>

  <div class="loading-overlay-card" *ngIf="loadingMin">
    <div class="spinner-border text-primary m-1" role="status">
    </div>
  </div>

  <div class="modal-body modal-padding">
    <form [formGroup]="formularioEnvioEmail">
      <div class="col-md-12 form-group">
        <label class="form-label">Asunto</label>
        <select class="form-control form-control-sm" formControlName="assunto" (change)="capturarMsg($event)" style="margin-bottom: 10px;">
          <option value="">Selecionar Mensagens</option>
          <option *ngFor="let item of mensages" [value]="item.id_emailtexto">{{ item.descricao }}</option>
        </select>
      </div>

      <div class="col-md-12 form-group">
        <quill-editor
          class="custom-quill-editor"
          placeholder="Digite sua mensagem"
          formControlName="mensagem"
          [modules]="{ toolbar: toolbarOptions }">
        </quill-editor>
      </div>

      <div class="col-md-12 form-group">
        <input type="file" class="form-control form-control-sm mb-2" (change)="aoSelecionarArquivo($event)">
      </div>
      <div class="d-flex justify-content-end align-items-center" style="margin-top: 5px;">
        <button type="button" class="btn btn-success btn-sm me-1" (click)="enviarEmail()" [disabled]="formularioEnvioEmail.invalid">
          <i class="fas fa-paper-plane"></i> Enviar
        </button>
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="fechar()">
          <i class="fas fa-times"></i> Cancelar
        </button>
      </div>
    </form>
  </div>
</ng-template>
