/* Estilo do Modal */
.modal-header-custom {
  padding: 12px 16px;
  border-bottom: 1px solid #1a252f;
}

.modal-padding {
  padding: 20px;
}

/* Estilo do Editor de Texto */
.custom-quill-editor {
  height: 350px;
  background: #fff;
}

.custom-quill-editor .ql-container {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* Estilo dos Botões */
.btn-primary {
  background-color: #3498db;
  border-color: #3498db;
  font-weight: 500;
}

.btn-primary:hover {
  background-color: #2980b9;
  border-color: #2980b9;
}

.btn-light {
  background-color: #ecf0f1;
  border-color: #ecf0f1;
  color: #34495e;
  font-weight: 500;
}

.btn-light:hover {
  background-color: #d0d3d4;
  border-color: #d0d3d4;
}

/* Estilo específico para o Quill Editor */
::ng-deep quill-editor {
  .ql-toolbar.ql-snow,
  .ql-container.ql-snow {
    border-color: #e2e8f0;
    background: #f7fafc;
  }

  .ql-container {
    min-height: 120px;
  }

  .ql-toolbar.ql-snow {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .ql-toolbar.ql-snow {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  .ql-container.ql-snow {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

  &.rounded {
    .ql-toolbar.ql-snow {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    .ql-container.ql-snow {
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
}
