.brder {
  border-bottom: 1px ridge;
  padding: 2px;
  margin-left: 5px;
  margin-right: 5px;
}

.table-row:hover {
  cursor: pointer;
}

.selected {
  background-color: #cce5ff !important;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.custom-card-title {
  margin-bottom: 4px !important;
}
