.brder {
  border-bottom: 1px ridge;
  padding: 2px;
  margin-left: 5px;
  margin-right: 5px;
}

.table-row:hover {
  cursor: pointer;
}

.selected {
  background-color: #cce5ff !important;
}

.whatsapp-icon:hover {
  color: green;
  cursor: pointer;
}
