<div class="loading-overlay-pagina" *ngIf="loading">
  <div class="spinner-border text-primary m-1" role="status">
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card-body" style="padding-bottom: 8px;">
        <div class="d-flex">
          <div class="flex-1 overflow-hidden">
            <div class="card">

              <div class="card-header pt-2 pb-2">
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="mb-0"><i class="fas fa-building"></i> Contratantes </h5>
                  </div>
                  <div class="col-md-6 text-end">
                    <button class="btn btn-success btn-sm" (click)="abriModalCadastro(modalGenerico)"
                      style="padding-top: 2px; padding-bottom: 2px;">
                      <i class="fas fa-plus"></i>
                       Contratante
                    </button>
                  </div>
                </div>
              </div>

              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center" style="font-size: 11px;">
                  <div style="font-size: 11px;">
                      <select id="itensPorPagina"
                              [(ngModel)]="itensPorPagina" (change)="atualizarQuantidadeExibida()"
                              style="border-radius: 0.25rem; width: 40px; height: 15px; font-size: 10px;">
                          <option [value]="item" *ngFor="let item of qtdRegistrosPorPagina" style="font-size: 10px;" >{{ item }}</option>
                      </select>
                      <label for="itensPorPagina" style="padding-left: 2px;"> Resultados por página</label>
                  </div>
                  <div style="font-size: 10px;">
                      <div class="dataTables_filter text-md-end">
                          <label class="d-inline-flex align-items-center">
                              <input type="text" class="form-control form-control-sm ms-2" style="margin-left: 2px;" placeholder="Pesquisar" [(ngModel)]="textoPesquisa" (input)="filtrar()" />
                          </label>
                      </div>
                  </div>
              </div>
                <div class="table-responsive">
                  <table class="table table-sm table-hover font-size-12 tabelaOrdenada" style="margin-bottom: 8px;">
                    <thead class="tabela-custom">
                      <tr>
                        <th sortable="id_contratante" (sort)="ordenar($event)">Id</th>
                        <th sortable="fantasia" (sort)="ordenar($event)">Fantasia</th>
                        <th sortable="cnpj" (sort)="ordenar($event)">Cnpj</th>
                        <th sortable="endereco" (sort)="ordenar($event)">Endereço</th>
                        <th sortable="numero" (sort)="ordenar($event)">Número</th>
                        <th sortable="bairro" (sort)="ordenar($event)">Bairro</th>
                        <th sortable="cep" (sort)="ordenar($event)">Cep</th>
                        <th sortable="cidade" (sort)="ordenar($event)">Cidade</th>
                        <th sortable="uf" (sort)="ordenar($event)">Uf</th>
                        <th sortable="id_formula" (sort)="ordenar($event)">Id Fórmula</th>
                        <th sortable="data_cadastro" (sort)="ordenar($event)">Data Cadastro</th>
                        <th sortable="ativo" (sort)="ordenar($event)">Ativo</th>
                        <th class="text-end">Ações</th>
                      </tr>
                    </thead>
                    <tbody  *ngIf="dadosFiltrados.length > 0; else sem">
                      <tr *ngFor="let contratante of dadosFiltrados | paginate: { itemsPerPage: itensPorPagina, currentPage: paginaAtual }">
                        <td>{{ contratante.id_contratante }}</td>
                        <td>{{ contratante.fantasia }}</td>
                        <td>{{ mascararCpfCnpj(contratante.cnpj) }}</td>
                        <td>{{ contratante.endereco }}</td>
                        <td>{{ mascararNResidencia(contratante.numero) }}</td>
                        <td>{{ contratante.bairro }}</td>
                        <td>{{ mascararCep(contratante.cep) }}</td>
                        <td>{{ contratante.cidade }}</td>
                        <td>{{ contratante.uf }}</td>
                        <td>{{ contratante.id_formula }}</td>
                        <td>{{ data(contratante.data_cadastro) }}</td>
                        <td>{{ contratante.ativo === 'S' ? 'Sim' : 'Não' }}</td>
                        <td class="text-end">
                          <a href="javascript:void(0);" class="me-2 text-primary" ngbTooltip="Visualizar detalhe do contratante"><i class="mdi mdi-eye font-size-18" style="color: gray"
                            (click)="abriModalResumo(modalResumo, contratante)"></i></a>
                          <a href="javascript:void(0);" class="me-2 text-primary" ngbTooltip="Editar"><i class="mdi mdi-pencil font-size-18"
                            (click)="abriModalEditar(modalGenerico, contratante)"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <ng-template #sem>
                    <tbody>
                      <tr>
                        <td colspan="13" class="text-center">Nenhum dado para exibir.</td>
                      </tr>
                    </tbody>
                  </ng-template>
                  <div class="d-flex justify-content-between align-items-center text-small">
                    <div>
                      Mostrando de {{ (paginaAtual - 1) * itensPorPagina + 1 }} até
                      {{ totalRegistrosExibidos }} de {{ totalRegistros }} registros
                    </div>
                    <pagination-controls (pageChange)="paginaAtual = $event"
                                          previousLabel="Anterior"
                                          nextLabel="Próximo"
                                          [maxSize]="5"
                                          [autoHide]="false"
                                          [responsive]="true">
                    </pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #modalGenerico let-modal>
    <div class="loading-overlay-card" *ngIf="loadingMin">
      <div class="spinner-border text-primary m-1" role="status">
      </div>
    </div>

    <div class="modal-header modal-header-custom" [ngStyle]="{'background': editar ? '#5664d2' : '#1cbb8c'}">
      <h6 class="modal-title" style="color: #ffffff"><i class="fas fa-building"></i> {{ editar ? 'Editar Contratante' : 'Cadastrar Contratante' }}</h6>
      <button type="button" class="btn-close btn-close-white btn-close-small" aria-label="Close" (click)="fechar()"></button>
    </div>
    <div class="modal-body modal-padding">
      <form [formGroup]="formContratante">
        <div class="row">
          <div class="col-md-5 form-group">
            <label for="razao_social" class="form-label">Razao Social</label>
            <input class="form-control form-control-sm mb-1" formControlName="razao_social" type="text"
              placeholder="Razão Social"
              [ngClass]="{'is-invalid': formContratante.get('razao_social').invalid && formContratante.get('razao_social').touched}">
          </div>
          <div class="col-md-4 form-group">
            <label for="fantasia" class="form-label">Fantasia</label>
            <input class="form-control form-control-sm mb-1" formControlName="fantasia" type="text"
              placeholder="Fantasia"
              [ngClass]="{'is-invalid': formContratante.get('fantasia').invalid && formContratante.get('fantasia').touched}">
          </div>
          <div class="col-md-3 form-group">
            <label for="cnpj" class="form-label">Cnpj</label>
            <input class="form-control form-control-sm mb-1" formControlName="cnpj" type="text" placeholder="CNPJ"
              mask="00.000.000/0000-00">
          </div>
          <div class="col-md-3 form-group">
            <label for="Cep" class="form-label">Cep</label>
            <input class="form-control form-control-sm mb-1" formControlName="cep" type="text" placeholder="Cep"
              mask="00000-000" (blur)="viaCep($event.target.value)">
          </div>

          <div class="col-md-5 form-group">
            <label for="endereco" class="form-label">Endereço</label>
            <input class="form-control form-control-sm mb-1" formControlName="endereco" type="text" placeholder="Rua" [value]="cep.endereco" (input)="cep.endereco = $event.target.value">
          </div>
          <div class="col-md-2 form-group" >
            <label for="numero" class="form-label">Número</label>
            <input class="form-control form-control-sm mb-1" formControlName="numero" type="text" placeholder="Nº">
          </div>
          <div class="col-md-2 form-group">
            <label for="Complemento" class="form-label">Número</label>
            <input class="form-control form-control-sm mb-1" formControlName="complemento" type="text" placeholder="Complemento" [value]="cep.complemento" (input)="cep.complemento = $event.target.value">
          </div>
          <div class="col-md-4 form-group">
            <label for="bairro" class="form-label">Bairro</label>
            <input class="form-control form-control-sm mb-1" formControlName="bairro" type="text" placeholder="Bairro" [value]="cep.bairro" (input)="cep.bairro = $event.target.value">
          </div>

          <div class="col-md-3 form-group">
            <label for="cidade" class="form-label">Cidade</label>
            <input class="form-control form-control-sm mb-1" formControlName="cidade" type="text" placeholder="Cidade" [value]="cep.cidade" (input)="cep.cidade = $event.target.value">
          </div>
          <div class="col-md-1 form-group">
            <label for="uf" class="form-label">Uf</label>
            <select class="form-control form-control-sm mb-1" formControlName="uf" [value]="cep.uf" (input)="cep.uf = $event.target.value">
              <option value="">--</option>
              <option *ngFor="let estado of estados" [value]="estado.sigla"> {{ estado.sigla }} </option>
            </select>
          </div>
          <div class="col-md-2 form-group">
            <label for="telefone" class="form-label">Telefone</label>
            <input class="form-control form-control-sm mb-1" type="text" formControlName="telefone" placeholder="Telefone"
            mask="(00) 00000-0000">
          </div>
          <div class="col-md-2 form-group">
            <label for="celular" class="form-label">Celular</label>
            <input class="form-control form-control-sm mb-1" type="text" formControlName="celular" placeholder="Celular"
            mask="(00) 00000-0000">
          </div>
          <div class="col-md-3 form-group">
            <label for="codigo_credor" class="form-label">Codigo Credor</label>
            <input class="form-control form-control-sm mb-1" type="text" formControlName="codigo_credor" placeholder="Codigo Credor">
          </div>
          <div class="col-md-3 form-group">
            <label for="id_perfilemail" class="form-label">Perfil Email</label>
            <select class="form-control form-control-sm mb-1" formControlName="id_perfilemail" (focus)="carregarPerfilEmail()">
              <option value="">Selecione</option>
              <option *ngFor="let perfil of emailConta" [value]="perfil.id_perfilemail">{{ perfil.email }}</option>
            </select>
          </div>
          <div class="col-md-3 form-group">
            <label for="id_formula" class="form-label">Formula</label>
            <select class="form-control form-control-sm mb-1" formControlName="id_formula" (focus)="carregarFormula()">
              <option value="">Selecione</option>
              <option *ngFor="let perfil of perfilFormula" [value]="perfil.id_formula">{{ perfil.descricao }}</option>
            </select>
          </div>
          <div class="col-md-3 form-group">
            <label for="id_perfilsms" class="form-label">Perfil Sms</label>
            <select class="form-control form-control-sm mb-1" formControlName="id_perfilsms" (focus)="carregarSms()">
              <option value="">Selecione</option>
              <option *ngFor="let perfil of perfilSms" [value]="perfil.id_perfilsms">{{ perfil.empresa }}</option>
            </select>
          </div>
          <div class="col-md-3 form-group">
            <label for="id_perfilwhatsapp" class="form-label">Perfil Whatsapp</label>
            <select class="form-control form-control-sm mb-1" formControlName="id_perfilwhatsapp" (focus)="carregarWhatsApp()">
              <option value="">Selecione</option>
              <option *ngFor="let sms of msg" [value]="sms.id_perfilwhatsapp">{{ sms.titulo }}</option>
            </select>
          </div>
          <div class="col-md-3 form-group">
            <label for="id_perfiltextoemailid_perfiltextoemail" class="form-label">Perfil Email Texto</label>
            <select class="form-control form-control-sm mb-1" formControlName="id_perfiltextoemail" (focus)="carregarPerfilEmail()">
              <option value="">Selecione</option>
              <option *ngFor="let perfil of emailConta" [value]="perfil.id_perfilemail">{{ perfil.email }}</option>
            </select>
          </div>
        </div>
        <div class="d-flex justify-content-end" style="padding-top: 5px;">
          <button type="submit" class="btn btn-sm me-1" [ngClass]="{
                      'btn-primary': editar,
                      'btn-success': !editar
                    }" (click)="controleBotao()">
          <i class="fas fa-save"></i> {{ editar ? 'Atualizar' : 'Salvar' }}
          </button>
          <button type="button" class="btn btn-outline-secondary btn-sm" (click)="fechar()">
            <i class="fas fa-times"></i> Cancelar
          </button>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #modalResumo let-modal>
    <div class="modal-header modal-header-custom" style="background-color: rgb(124 124 124);">
      <h6 class="modal-title" style="color: #ffffff">
        <i class="fas fa-building"></i> {{ titulo }}
      </h6>
      <button type="button" class="btn-close btn-close-white btn-close-small" aria-label="Close" (click)="fechar()"></button>
    </div>

    <div class="modal-body modal-padding" id="conteudoPDF">
      <div class="container">
        <h6 class="text-primary border-bottom pb-2 mb-3">Informações Básicas</h6>
        <div class="row mb-3">
          <div class="col-md-6  detalhamento-texto">
            <p style="margin-bottom: 4px;"><strong>Id Contratante:</strong> {{ contratanteSelecionado.id_contratante }}</p>
            <p style="margin-bottom: 4px;"><strong>CNPJ:</strong> {{ mascararCpfCnpj(contratanteSelecionado.cnpj) }}</p>
            <p style="margin-bottom: 4px;"><strong>Razão Social:</strong> {{ contratanteSelecionado.razao_social }}</p>
            <p style="margin-bottom: 4px;"><strong>Fantasia:</strong> {{ contratanteSelecionado.fantasia }}</p>
            <p style="margin-bottom: 4px;"><strong>Endereço:</strong> {{ contratanteSelecionado.endereco }}, {{ contratanteSelecionado.numero }}</p>
            <p style="margin-bottom: 4px;"><strong>Complemento:</strong> {{ contratanteSelecionado.complemento }}</p>
            <p style="margin-bottom: 4px;"><strong>Bairro:</strong> {{ contratanteSelecionado.bairro }}</p>

          </div>
          <div class="col-md-6  detalhamento-texto">
            <p style="margin-bottom: 4px;"><strong>Cidade/UF:</strong> {{ contratanteSelecionado.cidade }} / {{ contratanteSelecionado.uf }}</p>
            <p style="margin-bottom: 4px;"><strong>CEP:</strong> {{ mascararCep(contratanteSelecionado.cep) }}</p>
            <p style="margin-bottom: 4px;"><strong>Telefone:</strong> {{ mascararTelefone(contratanteSelecionado.telefone) }}</p>
            <p style="margin-bottom: 4px;"><strong>Celular:</strong> {{ mascararTelefone(contratanteSelecionado.celular) }}</p>
            <p style="margin-bottom: 4px;"><strong>Status:</strong> {{ contratanteSelecionado.ativo ? 'Ativo' : 'Inativo' }}</p>
            <p style="margin-bottom: 4px;"><strong>Código Credor:</strong> {{ contratanteSelecionado.codigo_credor }}</p>
          </div>
        </div>

        <h6 class="text-primary border-bottom pb-2 mb-3">Perfis e Configurações</h6>
        <div class="row">
          <div class="col-md-6 detalhamento-texto">
            <p style="margin-bottom: 4px;"><strong>Id Fórmula:</strong> {{ contratanteSelecionado.id_formula }}</p>
            <p style="margin-bottom: 4px;"><strong>Id Perfil Email:</strong> {{ contratanteSelecionado.id_perfilemail }}</p>
            <p style="margin-bottom: 4px;"><strong>Id Perfil SMS:</strong> {{ contratanteSelecionado.id_perfilsms }}</p>
            <p style="margin-bottom: 4px;"><strong>Id Perfil WhatsApp:</strong> {{ contratanteSelecionado.id_perfilwhatsapp }}</p>
            <p style="margin-bottom: 4px;"><strong>Id Perfil Texto Email:</strong> {{ contratanteSelecionado.id_perfiltextoemail }}</p>
          </div>
          <div class="col-md-6  detalhamento-texto">
            <p style="margin-bottom: 4px;"><strong>Data Cadastro:</strong> {{ data(contratanteSelecionado.data_cadastro) }}</p>
            <p style="margin-bottom: 4px;"><strong>Data Alteração:</strong> {{ data(contratanteSelecionado.data_alteracao) }}</p>
            <p style="margin-bottom: 4px;"><strong>Login:</strong> {{ contratanteSelecionado.user_login }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer" style="padding-top: 5px; padding-bottom: 5px;">
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="gerarPDF()"><i class="fas fa-print"></i>
        imprimir Pdf</button>
      <button type="button" class="btn btn-outline-secondary btn-sm" (click)="fechar()"><i class="fas fa-times"></i>
        Cancelar</button>
    </div>
  </ng-template>


