::ng-deep .ngx-pagination .pagination-previous a::before,
::ng-deep .ngx-pagination .pagination-previous.disabled::before,
::ng-deep .ngx-pagination .pagination-next a::after,
::ng-deep .ngx-pagination .pagination-next.disabled::after {
    font-size: 11px !important;
}

/* Aplica estilos diretamente ao pagination-controls */
::ng-deep pagination-controls {
  margin-bottom: 0px !important;
}

/* Verifica estilos internos relacionados a ngx-pagination */
::ng-deep .ngx-pagination {
  margin-bottom: 0px !important;
}

/* Aplica estilo global caso o encapsulamento seja o problema */
pagination-controls {
  margin-bottom: 0px !important;
}

.text-small {
  font-size: 11px;
}

#iconeOlhoIcon {
  position: absolute;
  right: 0.75rem;
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
}

.variable-item {
  font-size: 0.775rem; /* Texto menor */
  margin-bottom: 0rem; /* Reduz espaço entre os itens */
}
.alert-info {
  padding: 5px; /* Ajusta o padding da caixa de alerta */
}
