::ng-deep .ngx-pagination .pagination-previous a::before,
::ng-deep .ngx-pagination .pagination-previous.disabled::before,
::ng-deep .ngx-pagination .pagination-next a::after,
::ng-deep .ngx-pagination .pagination-next.disabled::after {
    font-size: 11px !important;
}

.text-small {
  font-size: 11px;
}

.textarea-grande {
  height: 200px; /* Ajuste a altura como preferir */
}
