<p class="card-title-desc" style="margin-bottom: 0px;">Cadastrar titulos - cliente_id: {{ idCliente }}</p>
<hr>
<div class="table-container">
  <table #tabelaClientes id="tabelaClientes">
    <thead>
      <tr>
        <th>Parcela</th>
        <th>Plano</th>
        <th>Contrato</th>
        <th>Documento</th>
        <th>Produto</th>
        <th>Vencimento</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes; let i = index">
        <td contenteditable="true" (keydown)="aoPressionarEnter($event, i, 0)">{{ cliente.id }}</td>
        <td contenteditable="true" (keydown)="aoPressionarEnter($event, i, 1)">{{ cliente.nome }}</td>
        <td contenteditable="true" (keydown)="aoPressionarEnter($event, i, 1)">{{ cliente.nome }}</td>
        <td contenteditable="true" (keydown)="aoPressionarEnter($event, i, 2)">{{ cliente.email }}</td>
        <td contenteditable="true" (keydown)="aoPressionarEnter($event, i, 0)">{{ cliente.id }}</td>
        <td contenteditable="true" (keydown)="aoPressionarEnter($event, i, 1)">{{ cliente.nome }}</td>
        <td contenteditable="true" (keydown)="aoPressionarEnter($event, i, 2)">{{ cliente.email }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="mb-3 mb-0" style="text-align: end;">
  <button type="submit" class="btn btn-success mb-1 btn-sm me-1" ><i class="fas fa-save me-1"></i> Cadastrar Titulos</button>
</div>
