<p class="card-title-desc" style="margin-bottom: 0px;">Cadastrar titulos</p>
<hr>

<div class="d-flex justify-content-end mb-3">
  <input id="quantidadeParcelas" class="form-control form-control-sm me-2" style="width: 100px;" type="text" placeholder="Qtde parcelas">
  <button id="btnGerarParcelas" type="button" class="btn btn-secondary btn-sm" (click)="gerarParcelas()"><i class="fas fa-check"></i> Gerar Parcelas</button>
</div>

<div class="table-container">
  <table #tabelaClienteTitulos id="tabelaClienteTitulos" (paste)="colarDados($event)">
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Parcela</th>
        <th>Plano</th>
        <th>Contrato</th>
        <th>Documento</th>
        <th>Produto</th>
        <th>Vencimento</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let titulo of titulos; let i = index">
        <td contenteditable="true" class="tipo_titulo" (keydown)="aoPressionarEnter($event, i, 0)">{{ titulo.tipo_titulo }}</td>
        <td contenteditable="true" class="parcela" (keydown)="aoPressionarEnter($event, i, 1)">{{ titulo.parcela }}</td>
        <td contenteditable="true" class="plano" (keydown)="aoPressionarEnter($event, i, 2)">{{ titulo.plano }}</td>
        <td contenteditable="true" class="numero_contrato" (keydown)="aoPressionarEnter($event, i, 3)">{{ titulo.numero_contrato }}</td>
        <td contenteditable="true" class="numero_documento" (keydown)="aoPressionarEnter($event, i, 4)">{{ titulo.numero_documento }}</td>
        <td contenteditable="true" class="produto" (keydown)="aoPressionarEnter($event, i, 5)">{{ titulo.produto }}</td>
        <td contenteditable="true" class="vencimento" (keydown)="aoPressionarEnter($event, i, 6)">{{ titulo.vencimento }}</td>
        <td contenteditable="true" class="valor" (keydown)="aoPressionarEnter($event, i, 7)">{{ titulo.valor }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="mb-3 mb-0" style="text-align: end;">
  <button type="submit" class="btn btn-success mb-1 btn-sm me-1" (click)="importarTitulos()"><i class="fas fa-save me-1"></i> Cadastrar Titulos</button>
</div>
