
<p class="card-title-desc" style="margin-bottom: 0px;">Cadastre os cliente para o contratante: </p>

<div class="table-container">
  <table id="clientesTable">
    <thead>
      <tr>
        <th>Cpf</th>
        <th>Nome</th>
        <th>Endereço</th>
        <th>Número</th>
        <th>Bairro</th>
        <th>Cidade</th>
        <th>Uf</th>
        <th>Cep</th>
        <th>Fone1</th>
        <th>Fone2</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="mb-3 mb-0" style="text-align: end;">
  <button type="submit" class="btn btn-success mb-1 btn-sm me-1" (click)="importarClientes()">Cadastrar
    Clientes</button>
</div>
